Repository openshift/cluster-logging-operator, pull requests merged in 2018-12, with the labels that each got.

#47 Improved error handling
  README.md
  hack/deploy-setup.sh
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/stub/handler.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/L

#46 Creating shared-config for console to consume
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, do-not-merge/hold, lgtm, size/M

#49 make deploy-example will now deploy full cluster
  Makefile
  README.md
  hack/cr.yaml
  hack/deploy-image.sh
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/examples/cr.yaml
  manifests/05-deployment.yaml
Labels: approved, lgtm, size/L

#51 Adding missing curator env vars
  pkg/k8shandler/curation.go
Labels: approved, lgtm, size/S

#52 fix unexported env. vars. and remote registry integration
  Makefile
  README.md
  hack/common
  hack/deploy-image.sh
  hack/deploy.sh
Labels: approved, lgtm, size/M

#56 Updating to autogenerate route hosts and pull spec.host value
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/M

#55 Updating to generate own signing CA for Cluster Logging
  hack/deploy-setup.sh
  pkg/k8shandler/certificates.go
  pkg/k8shandler/curation.go
  scripts/cert_generation.sh
Labels: approved, lgtm, size/L

#59 Collector default empty ns
  Makefile
  hack/cr.yaml
  hack/deploy-setup.sh
  hack/test-e2e.sh
  hack/undeploy.sh
  test/e2e/clusterlogging_test.go
  test/files/ca.crt
  test/files/ca.key
  test/files/kibana-internal.crt
  test/files/kibana-internal.key
Labels: approved, lgtm, size/L

#57 add support for multiline crio for rsyslog
  files/rsyslog/00-global.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/crio.rulebase
  files/rsyslog/k8s_container_name.rulebase
  files/rsyslog/multiline-json.rulebase
  hack/deploy-image.sh
Labels: approved, lgtm, size/M
