Repository openshift/cluster-logging-operator, pull requests merged in 2018-11, with the labels that each got.

#31 add make targets for deploying operator
  Makefile
  README.md
  deploy/cr.yaml
  deploy/crds/crd.yaml
  deploy/operator.yaml
  deploy/role.yaml
  deploy/role_binding.yaml
  deploy/service_account.yaml
  hack/common
  hack/deploy-image.sh
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/test-e2e.sh
  hack/undeploy.sh
  manifests/02-service-account.yaml
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  manifests/05-deployment.yaml
Labels: approved, lgtm, size/L

#32 Creating the oauth client for kibana redirects
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/M

#38 several e2e test cleanups
  Makefile
  hack/common
  hack/deploy-image.sh
  hack/test-e2e.sh
  manifests/05-deployment.yaml
  pkg/k8shandler/visualization.go
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/M

#25 initial rsyslog support
  .gitignore
  Makefile
  files/rsyslog/00-global.conf
  files/rsyslog/05-common-defaults.conf
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/20-viaq-templates.conf
  files/rsyslog/55-elasticsearch.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/68-elasticsearch.conf
  files/rsyslog/crio.rulebase
  files/rsyslog/k8s_container_name.rulebase
  files/rsyslog/k8s_filename.rulebase
  files/rsyslog/normalize_level.json
  files/rsyslog/parse_json.rulebase
  files/rsyslog/prio_to_level.json
  files/rsyslog/rsyslog.conf
  files/rsyslog/rsyslog.sh
  hack/deploy-setup.sh
  hack/test-e2e.sh
  hack/undeploy.sh
  manifests/image-references
  pkg/apis/logging/v1alpha1/types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/status.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/XXL

#33 Fix image streams
  README.md
  hack/cr.yaml
  manifests/05-deployment.yaml
  manifests/image-references
  pkg/utils/utils.go
Labels: approved, lgtm, size/L

#42 Adding managementState spec field
  hack/examples/cr.yaml
  pkg/apis/logging/v1alpha1/types.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/L
