Repository openshift/cluster-logging-operator, pull requests merged in 2018-09, with the labels that each got.

#7 modify image name
  Makefile
Labels: size/XS

#9 remove ldflags with build info
  Makefile
Labels: approved, lgtm, size/XS

#4 Logstore work to create secret and CR for elasticsearch-operator
  README.md
  pkg/k8shandler/certificates.go
  pkg/k8shandler/logstore.go
  pkg/stub/handler.go
Labels: approved, lgtm, size/L
