Repository openshift/cluster-logging-operator, pull requests merged in 2018-10, with the labels that each got.

#10 Curator work
  files/curator-actions.yaml
  files/curator-config.yaml
  files/curator5-config.yaml
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/stub/handler.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/L

#14 update owner file
  OWNERS
Labels: approved, lgtm, size/XS

#15 use multi-stage builds for images
  Dockerfile
  Makefile
Labels: approved, lgtm, release/4.0, size/M

#17 gofmted
  cmd/cluster-logging-operator/main.go
  pkg/apis/logging/v1alpha1/types.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/stub/handler.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/XXL

#16 Operator status work
  README.md
  deploy/cr.yaml
  pkg/apis/logging/v1alpha1/types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/status.go
  pkg/stub/handler.go
  pkg/utils/utils.go
  test/e2e/clusterlogging_test.go
  test/e2e/main_test.go
Labels: approved, lgtm, size/XL

#21 change es group
  pkg/k8shandler/logstore.go
  pkg/k8shandler/status.go
Labels: approved, lgtm, size/XS

#13 LOG-198. Add manifests
  Dockerfile
  Makefile
  manifests/01-namespace.yaml
  manifests/02-service-account.yaml
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  manifests/05-crd.yaml
  manifests/05-deployment.yaml
  manifests/image-references
Labels: approved, lgtm, release/4.0, size/L

#22 Component restructure
  deploy/cr.yaml
  pkg/apis/logging/v1alpha1/types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/status.go
  pkg/k8shandler/visualization.go
  pkg/stub/handler.go
Labels: approved, lgtm, size/XL

#23 Expand e2e tests
  Dockerfile
  README.md
  deploy/cr.yaml
  deploy/crds/crd.yaml
  deploy/operator.yaml
  deploy/role.yaml
  deploy/role_binding.yaml
  deploy/service_account.yaml
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  manifests/05-deployment.yaml
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/status.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  test/e2e/clusterlogging_test.go
  test/e2e/utils.go
  test/files/ca.crt
  test/files/ca.key
  test/files/kibana-internal.crt
  test/files/kibana-internal.key
Labels: approved, lgtm, needs-rebase, size/XL

#28 add cluster-monitoring annotation to namespace def
  manifests/01-namespace.yaml
Labels: approved, lgtm, release/4.0, size/XS

#26 hardcode SAN DNS names for now
  scripts/cert_generation.sh
Labels: approved, lgtm, size/XS

#29 LOG-220. Add fluentd ServiceMonitor definition
  manifests/10-service-monitor-fluentd.yaml
  pkg/utils/utils.go
Labels: approved, lgtm, release/4.0, size/S
