Repository openshift/cluster-logging-operator, pull requests merged in 2019-08, with the labels that each got.

#221 Bug 1734592: Empty fields are skipped when set SKIP_EMPTY=false and …
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#220 Bug 1722944: rsyslog log collector dropping logs
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/52-rsyslog-internal-logs.conf
  files/rsyslog/55-elasticsearch.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.2, size/M

#222 Bug 1734951: rsyslog with MERGE_JSON_LOG=true does not handle non-JSON data
  files/rsyslog/20-viaq-templates.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.2, size/M

#224 Bug 1725517: Setting ENABLE_PROMETHEUS_ENDPOINT=false in rsyslog env doesn't take effect.
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#223 Bug 1735511: Rsyslog couldn't parse json log which has prefix space before the json string when set MERGE_JSON_LOG=true
  files/rsyslog/parse_json.rulebase
  files/rsyslog/parse_json_skip_empty.rulebase
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.2, size/XS

#225 Bug 1735548: pipeline_metadata.collector.ipaddr6 is incorrect when using rsyslog as log collector.
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#226 Bug 1734592: Empty fields are skipped when set SKIP_EMPTY=false and …
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/M

#228 Bug 1715370: Some orphaned logs sent to .operations.* index by mistake.
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#229 Bug 1737286: The logs collected by rsyslog are not parsed
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
  files/rsyslog/rsyslog.sh
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
Labels: approved, bugzilla/valid-bug, kind/failing-test, lgtm, priority/critical-urgent, release/4.2, size/L

#188 [release-4.1] Bug 1712955: Fixing checking if nodes are different when scaling from 3 to 4
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/L

#230 Bug 1715370: Some orphaned logs sent to .operations.* index by mistake.
  manifests/4.2/cluster-logging.v4.2.0.clusterserviceversion.yaml
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/serviceaccount.go
  pkg/utils/utils.go
Labels: approved, bugzilla/valid-bug, lgtm, size/L

#233 Allow configuration of logrus loglevel via env var
  pkg/controller/clusterlogging/clusterlogging_controller.go
Labels: approved, lgtm, release/4.2, size/S

#227 LOG-459. Add OLM like workflow to e2e
  .gitignore
  Makefile
  hack/common
  hack/deploy-image.sh
  hack/lib/build/archive.sh
  hack/lib/build/binaries.sh
  hack/lib/build/constants.sh
  hack/lib/build/environment.sh
  hack/lib/build/images.sh
  hack/lib/build/release.sh
  hack/lib/build/rpm.sh
  hack/lib/build/version.sh
  hack/lib/cleanup.sh
  hack/lib/cmd.sh
  hack/lib/compress.awk
  hack/lib/init.sh
  hack/lib/log/output.sh
  hack/lib/log/stacktrace.sh
  hack/lib/log/system.sh
  hack/lib/start.sh
  hack/lib/test/junit.sh
  hack/lib/util/docs.sh
  hack/lib/util/ensure.sh
  hack/lib/util/environment.sh
  hack/lib/util/find.sh
  hack/lib/util/golang.sh
  hack/lib/util/misc.sh
  hack/lib/util/text.sh
  hack/lib/util/trap.sh
  hack/test-e2e.sh
  hack/testing/assertions
  hack/testing/test-001-e2e-legacy.sh
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/utils
  hack/vendor/.gitignore
  hack/vendor/olm-test-script/README.md
  hack/vendor/olm-test-script/e2e-olm.sh
  hack/vendor/olm-test-script/operatorgroup-template.yaml
  hack/vendor/olm-test-script/subscription.yaml
  hack/vendor/sources.txt
  manifests/cluster-logging.package.yaml
  test/e2e/clusterlogging_test.go
  test/e2e/utils.go
  vendor/github.com/openshift/elasticsearch-operator/manifests/elasticsearch-operator.package.yaml
Labels: approved, lgtm, size/XXL

#234 Bug 1732585: Modify kibana-proxy to rely on ServiceAccount as oauthcl…
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/rbac.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/serviceaccount.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
  pkg/logger/logger.go
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.2, size/L

#235 fix deploy-image.sh script
  hack/deploy-image.sh
Labels: approved, lgtm, size/XS

#236 Bug 1739558: rsyslog underperforming compared to fluentd
  files/rsyslog/60-mmk8s.conf
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, priority/critical-urgent, release/4.2, size/XS

#237 Ignore GoLand folder
  .gitignore
Labels: approved, lgtm, size/XS
