Repository openshift/cluster-logging-operator, pull requests merged in 2019-11, with the labels that each got.

#274 Enable audit log forwarding through pipelines
  manifests/4.3/logforwardings.crd.yaml
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/forward_to_fluent_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
Labels: approved, lgtm, size/L

#272 Log478 promtail
  Makefile
  files/promtail/promtail.yaml
  hack/collector_cr.yaml
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  manifests/4.3/collectors.crd.yaml
  manifests/4.3/image-references
  manifests/4.3/logforwardings.crd.yaml
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/collector_types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/add_controllers.go
  pkg/controller/collector/collector_controller.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/defaults.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/reconcile_collector.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/XL

#277 Bug 1768537: metadata.annotations.alm-examples contains invalid json string
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, lgtm, ok-to-test, size/S

#281 fix image building for devs
  hack/common
Labels: approved, lgtm, size/S

#280 Bug 1768685: Improve missing secret message
  pkg/k8shandler/certificates.go
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.3, size/S

#282 Bug 1769005: Fix promtail image reference
  manifests/4.3/image-references
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#283 refix eventrouter bug
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, size/M

#285 fix deploy targets for OLM
  Makefile
  README.md
  hack/deploy-eo.sh
  hack/deploy-image.sh
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/undeploy.sh
  pkg/apis/logging/v1alpha1/forwarding_types.go
Labels: approved, lgtm, release/4.3, size/L

#284 Bug 1619479: Remove Kibana oauth-proxy param to allow re-login
  pkg/k8shandler/visualization.go
Labels: approved, kind/bug, lgtm, release/4.3, size/XS

#288 Remove legacy test that is covered by others and does not use OLM dep…
  hack/gen-olm-artifacts.sh
  hack/testing/test-001-e2e-legacy.sh
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, release/4.3, size/XL

#291 Clean up fluent-receiver secret in fluent forwarding e2e test
  test/helpers/fluentd.go
Labels: approved, lgtm, size/XS

#293 Enable logforwarding e2e test and fix fluentd forwarding test
  Makefile
  hack/testing/test-367-logforwarding.sh
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/certificates.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/logforwarding_suite_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/logforwarding_suite_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluent/logforwarding_suite_test.go
  test/helpers/fluentd.go
  test/helpers/framework.go
Labels: approved, lgtm, size/L

#279 Bug 1768474: Remove collector example from CSV
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  pkg/controller/forwarding/forwarding_controller.go
Labels: approved, kind/bug, lgtm, release/4.3, size/S

#295 Remove unused Dockerfile
  Dockerfile.rhel7
Labels: approved, lgtm, release/4.3

#294 move the temp workdir as discussed for 1768042
  Dockerfile
  Makefile
  pkg/utils/utils.go
Labels: approved, lgtm, size/S

#286 Fix pods log link
  cmd/manager/main.go
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/L

#298 Bug 1768688: Enable status for CRDs
  hack/undeploy.sh
  manifests/4.3/cluster-loggings.crd.yaml
  manifests/4.3/collectors.crd.yaml
  manifests/4.3/logforwardings.crd.yaml
  pkg/controller/forwarding/forwarding_controller.go
  pkg/k8shandler/reconciler.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.3, size/M

#258 update status of clusterlogging using the status client
  hack/testing/utils
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, release/4.3, size/S

#296 fix up deploy to not depend on bash test lib
  hack/deploy-eo.sh
  hack/deploy.sh
  hack/testing/utils
  hack/vendor/olm-test-script/e2e-olm.sh
Labels: approved, lgtm, release/4.3, size/M

#299 update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#302 deploy logging with latest ci images
  hack/testing/utils
  hack/vendor/olm-test-script/e2e-olm.sh
Labels: approved, lgtm, size/M

#276 Forward audit logs to their own index in elastic
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/helpers/elasticsearch.go
Labels: approved, lgtm, size/M

#301 Bug 1771813: Add shared_key from secret
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
Labels: approved, kind/bug, lgtm, release/4.3, size/M

#303 correct pipeline inputSource
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  pkg/apis/logging/v1alpha1/forwarding_types.go
Labels: approved, lgtm, release/4.3, size/XS

#270 enable upgrade test
  hack/common
  hack/deploy-image.sh
  hack/test-e2e.sh
  hack/testing/assertions
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/utils
Labels: approved, lgtm, size/L

#308 fix timing loops so they expire correctly
  hack/testing/utils
Labels: approved, backport/4.3, lgtm, release/4.4, size/XS
