Repository openshift/cluster-logging-operator, pull requests merged in 2019-04, with the labels that each got.

#142 bug 1693957. Partial revert of 1666674
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/XS

#145 Bug 1694573 - use ZeroRedundancy esCR policy when omitted from CLO
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/M

#141 Generate manifest from CSV
  Makefile
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/gen-olm-artifacts.sh
  hack/test-e2e.sh
  hack/undeploy.sh
  manifests/01-namespace.yaml
  manifests/02-service-account.yaml
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  manifests/05-crd.yaml
  manifests/05-deployment.yaml
  manifests/10-service-monitor-fluentd.yaml
  manifests/image-references
  test/e2e/clusterlogging_test.go
  test/e2e/utils.go
Labels: approved, lgtm, size/XL

#133 rsyslog - support action retry, max wait
  files/rsyslog/55-elasticsearch.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/rsyslog.sh
Labels: approved, lgtm, release/4.2, size/S

#143 Bug 1694097 - Check if nodeselectors have changed
  Gopkg.lock
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/elasticsearch/v1/types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/common.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/deployment.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/statefulset.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/util.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/util_test.go
  vendor/golang.org/x/tools/internal/lsp/cache/view.go
  vendor/golang.org/x/tools/internal/lsp/cmd/cmd.go
  vendor/golang.org/x/tools/internal/lsp/diagnostics.go
  vendor/golang.org/x/tools/internal/lsp/lsp_test.go
  vendor/golang.org/x/tools/internal/lsp/server.go
Labels: approved, lgtm, size/XL

#148 further revert 1666674 to remove unnecessary cluster role binding
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm, release/4.2, size/M

#149 Bug 1695494 - Adding resource checks to all components
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/visualization.go
  pkg/utils/resources.go
Labels: approved, lgtm, size/L

#153 UBI support; allow image build and push with oal logging
  Makefile
  README.md
  hack/build-image.sh
  hack/common
  hack/deploy-image.sh
Labels: approved, lgtm, size/L

#150 LOG-258 - Fluentd alerting rules
  Dockerfile
  Dockerfile.rhel7
  files/curator/curator-actions.yaml
  files/curator/curator-config.yaml
  files/curator/curator5-config.yaml
  files/fluentd/fluent.conf
  files/fluentd/fluentd-throttle-config.yaml
  files/fluentd/fluentd_prometheus_alerts.yaml
  files/fluentd/secure-forward.conf
  hack/deploy.sh
  manifests/03-role.yaml
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
  pkg/utils/prometheus_rule.go
Labels: approved, lgtm, size/L

#157 Bug 1699268 - Fixing not setting Kibana replicas on generated deployment
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/XS

#158 the repo for use with UBI has moved
  README.md
  hack/common
Labels: approved, lgtm, size/S
