Repository openshift/cluster-logging-operator, pull requests merged in 2019-07, with the labels that each got.

#207 Bug 1724833: Cleanup 4.1 manifest content
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/art.yaml
  manifests/cluster-logging.package.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/S

#202 LOG-372 - rsyslog - support improved undefined field handling
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
  files/rsyslog/parse_json_skip_empty.rulebase
  files/rsyslog/rsyslog.sh
Labels: approved, lgtm, size/M

#209 LOG-372 - rsyslog - support improved undefined field handling
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
Labels: approved, lgtm, size/S

#210 rsyslog - fix field names
  files/rsyslog/65-viaq-formatting.conf
Labels: approved, lgtm, size/XS

#212 Bug 1729316: rsyslog log collector creating operations index with no date in the name
  files/rsyslog/52-rsyslog-internal-logs.conf
  files/rsyslog/99-logging.conf
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#213 rsyslog - support read_from_tail, impstats.json
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/rsyslog.sh
Labels: approved, lgtm, size/S

#215 rsyslog - fix impstats file format
  files/rsyslog/10-viaq-modules.conf
Labels: approved, lgtm, size/XS

#216 Bug 1715370: Some orphaned logs sent to .operations.* index by mistake.
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#214 rsyslog configuration
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
  files/rsyslog/rsyslog.sh
Labels: approved, lgtm, size/L

#205 Bug 1712721 - Ensure we preserve GenUUID for nodes when doing diffs
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, lgtm, size/M

#218 Bug 1715370: Some orphaned logs sent to .operations.* index by mistake.
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/valid-bug, lgtm, size/M

#217 Bug 1724053. Retrieve oauthclient as a cluster resource
  cmd/manager/main.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/curation_test.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/oauthclient.go
  pkg/k8shandler/oauthclient_test.go
  pkg/k8shandler/rsyslog_test.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, kind/bug, lgtm, release/4.2, size/L

#219 Bug 1724053: Retrieve oauthclient as a cluster resource
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/valid-bug, kind/failing-test, lgtm, priority/critical-urgent, size/XS
