Repository openshift/cluster-logging-operator, pull requests merged in 2019-10, with the labels that each got.

#249 remove reference to rsyslog as a collector
  Makefile
  files/logrotate/cron.sh
  files/logrotate/logrotate
  files/logrotate/logrotate.sh
  files/logrotate/logrotate_pod.sh
  files/rsyslog/00-global.conf
  files/rsyslog/05-common-defaults.conf
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/20-viaq-templates.conf
  files/rsyslog/52-rsyslog-internal-logs.conf
  files/rsyslog/55-elasticsearch.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/65-viaq-formatting.conf
  files/rsyslog/67-mmexternal.conf
  files/rsyslog/68-elasticsearch.conf
  files/rsyslog/crio.rulebase
  files/rsyslog/k8s_container_name.rulebase
  files/rsyslog/k8s_filename.rulebase
  files/rsyslog/multiline-json.rulebase
  files/rsyslog/normalize_level.json
  files/rsyslog/parse_json.rulebase
  files/rsyslog/parse_json_skip_empty.rulebase
  files/rsyslog/prio_to_level.json
  files/rsyslog/rsyslog.conf
  files/rsyslog/rsyslog.sh
  files/rsyslog/rsyslog_prometheus_alerts.yaml
  hack/testing/test-001-e2e-legacy.sh
  hack/testing/test-010-deploy-via-olm-minimal.sh
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/defaults.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/rsyslog_test.go
  pkg/k8shandler/status.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, release/4.3, size/XXL

#245 bump to 4.3 to fix #244
  Dockerfile
  Dockerfile.rhel7
  Gopkg.lock
  Makefile
  hack/testing/test-001-e2e-legacy.sh
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/utils
  hack/vendor/olm-test-script/e2e-olm.sh
  hack/vendor/olm-test-script/operatorgroup-template-global.yaml
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  manifests/4.3/cluster-loggings.crd.yaml
  manifests/4.3/image-references
  manifests/cluster-logging.package.yaml
  manifests/latest
  vendor/github.com/inhies/go-bytesize/LICENSE
  vendor/github.com/inhies/go-bytesize/bytesize.go
  vendor/github.com/openshift/elasticsearch-operator/.gitignore
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile.rhel7
  vendor/github.com/openshift/elasticsearch-operator/Gopkg.lock
  vendor/github.com/openshift/elasticsearch-operator/Makefile
  vendor/github.com/openshift/elasticsearch-operator/hack/test-e2e-image.yaml
  vendor/github.com/openshift/elasticsearch-operator/hack/test-e2e-wip.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/test-e2e.sh
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.3/elasticsearch-operator.v4.3.0.clusterserviceversion.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.3/elasticsearches.crd.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.3/image-references
  vendor/github.com/openshift/elasticsearch-operator/manifests/latest
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/cluster.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/defaults.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/deployment.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/elasticsearch.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/elasticsearch_helper.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/nodetypefactory.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/persistentvolumeclaims.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/statefulset.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/status.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/logger/logger.go
  vendor/github.com/openshift/elasticsearch-operator/test/files/Dockerfile.centos7
  vendor/github.com/openshift/elasticsearch-operator/test/files/e2e-test-pod.yaml
  vendor/github.com/openshift/elasticsearch-operator/test/files/emptyToken
  vendor/github.com/openshift/elasticsearch-operator/test/files/test-e2e.sh
  vendor/github.com/openshift/elasticsearch-operator/test/files/testToken
  vendor/github.com/openshift/elasticsearch-operator/test/utils/utils.go
Labels: approved, lgtm, size/XXL

#250 link to openshift product docs for install
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, lgtm, size/XS

#251 update vendored ES to 4.3
  Gopkg.lock
  vendor/github.com/openshift/elasticsearch-operator/hack/test-e2e.sh
  vendor/github.com/openshift/elasticsearch-operator/manifests/elasticsearch-operator.package.yaml
Labels: approved, lgtm, size/S

#252 convert component specs to pointers
  hack/testing/test-clo-252-structs-to-pointers.sh
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/curation_test.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, release/4.3, size/L

#254 LOG-464 - Consume global proxy configuration (additional)
  cmd/manager/main.go
Labels: approved, lgtm, size/XS

#259 fix #248. Set skip range to 4.2-4.3
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, lgtm, release/4.3, size/XS

#256 CLO logs messages "Collector container EnvVar change fo…
  pkg/k8shandler/collection.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/L

#253 Fixing skopeo auth issue in deploy-image.sh
  hack/common
Labels: approved, lgtm, size/XS

#263 Bug 1765261: Set minKubeVersion
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, lgtm, release/4.3

#265 Temporarily skip structs-to-pointers e2e test
  hack/testing/test-clo-252-structs-to-pointers.sh
Labels: approved, lgtm, size/XS

#269 fix e2e tests and skip upgrade test for now
  hack/test-e2e.sh
  hack/testing/test-020-olm-upgrade.sh
Labels: approved, lgtm, size/S

#268 fix exit code of e2e tests to expose false positive
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-clo-252-structs-to-pointers.sh
  hack/testing/utils
  hack/vendor/olm-test-script/e2e-olm.sh
Labels: approved, lgtm, size/M

#271 Gather fluentd logs in e2e runs
  hack/lib/util/logs.sh
  hack/test-e2e.sh
Labels: approved, lgtm, size/S
