Repository openshift/cluster-logging-operator, pull requests merged in 2019-12, with the labels that each got.

#305 Bug 1768762: Persisting proxy config and trustbundle CM info
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/configmap.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, bugzilla/valid-bug, lgtm, size/L

#312 fix lf timing issue
  hack/testing/assertions
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/utils
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/helpers/framework.go
Labels: approved, backport/4.3, backports/complete, lgtm, release/4.4, size/L

#309 Bug 1773847: Fixed fluentd sed error
  files/fluentd/run.sh
Labels: approved, backport/4.3, bugzilla/valid-bug, lgtm, release/4.4, size/S

#313 fix lf timing issue
  hack/testing/assertions
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/utils
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
  pkg/logger/logger.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/helpers/clusterlogging.go
  test/helpers/elasticsearch.go
  test/helpers/framework.go
Labels: approved, lgtm, release/4.3, size/L

#317 Revert csv
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, lgtm, size/S

#273 Bug 1766343: Set the correct minKubeVersion for 4.2+
  manifests/4.2/cluster-logging.v4.2.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, kind/bug, lgtm, release/4.2, size/XS

#316 Allow logforwarding tests to cleanup from go invocation
  hack/testing/test-367-logforwarding.sh
  pkg/logger/logger.go
  test/e2e/logforwarding/cleanup.sh
  test/helpers/clusterlogging.go
  test/helpers/elasticsearch.go
  test/helpers/framework.go
Labels: approved, release/4.4, size/M

#307 bump manifest to 4.4
  Dockerfile
  Gopkg.lock
  HACKING.md
  Makefile
  hack/common
  hack/testing/test-020-olm-upgrade.sh
  manifests/4.4/cluster-logging.v4.4.0.clusterserviceversion.yaml
  manifests/4.4/cluster-loggings.crd.yaml
  manifests/4.4/collectors.crd.yaml
  manifests/4.4/image-references
  manifests/4.4/logforwardings.crd.yaml
  manifests/cluster-logging.package.yaml
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile.rhel7
  vendor/github.com/openshift/elasticsearch-operator/Makefile
  vendor/github.com/openshift/elasticsearch-operator/OWNERS
  vendor/github.com/openshift/elasticsearch-operator/hack/common
  vendor/github.com/openshift/elasticsearch-operator/hack/deploy-image.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/deploy.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/archive.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/binaries.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/constants.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/environment.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/images.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/release.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/rpm.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/build/version.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/cleanup.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/cmd.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/compress.awk
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/init.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/log/output.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/log/stacktrace.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/log/system.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/start.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/test/junit.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/docs.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/ensure.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/environment.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/find.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/golang.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/logs.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/misc.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/text.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/lib/util/trap.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/testing/utils
  vendor/github.com/openshift/elasticsearch-operator/hack/undeploy.sh
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.4/elasticsearch-operator.v4.4.0.clusterserviceversion.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.4/elasticsearches.crd.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.4/image-references
  vendor/github.com/openshift/elasticsearch-operator/manifests/elasticsearch-operator.package.yaml
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/deployment.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/statefulset.go
Labels: approved, lgtm, release/4.4, size/XXL

#318 Allow logforwarding tests to cleanup from go invocation
  test/helpers/elasticsearch.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.3, size/S

#304 Bug 1774864: Enable metrics for collector when LF enabled
  hack/test-e2e.sh
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/utils
  manifests/4.3/0100_clusterroles.yaml
  manifests/4.3/0110_clusterrolebindings.yaml
Labels: approved, backport/4.3, bugzilla/valid-bug, lgtm, release/4.4, size/M

#315 fix deploy-image - add back login_to_registry
  hack/common
Labels: approved, lgtm

#319 remove unnecessary test
  hack/testing/test-clo-252-structs-to-pointers.sh
Labels: approved, lgtm, release/4.4

#324 Bug 1776533: Enable metrics for collector when LF enabled
  hack/test-e2e.sh
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/utils
  manifests/4.3/0100_clusterroles.yaml
  manifests/4.3/0110_clusterrolebindings.yaml
Labels: approved, bugzilla/valid-bug, lgtm, release/4.3, size/M

#322 Bug 1782566. Allow legacy secure-forward regardless of LogForward being enabled
  hack/vendor/olm-test-script/operatorgroup-template-global.yaml
  hack/vendor/olm-test-script/operatorgroup-template.yaml
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/logforwarding_suite_test.go
  test/files/secure-forward.conf
Labels: approved, backport/4.3, lgtm, release/4.4, size/L

#326 Update6x to master
  hack/vendor/olm-test-script/operatorgroup-template-global.yaml
  hack/vendor/olm-test-script/operatorgroup-template.yaml
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/logforwarding_suite_test.go
  test/files/secure-forward.conf
Labels: approved, lgtm, size/L
