Repository openshift/cluster-logging-operator, pull requests merged in 2019-02, with the labels that each got.

#96 Don't use the sdk for exposing operator's metrics
  cmd/cluster-logging-operator/main.go
Labels: approved, lgtm

#99 updating to use a single collector SA
  hack/deploy-setup.sh
  pkg/k8shandler/collection.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/M

#102 use sa logcollector instead of separate for fluentd and rsyslog
  hack/test-e2e.sh
Labels: approved, lgtm, size/S

#100 update config docs to include nodeSelector
  docs/configuration.md
Labels: approved, component/documentation, kind/documentation, lgtm, size/S

#97 use quay.io for image registry - use origin- for image prefix
  Makefile
  README.md
  hack/common
  hack/deploy-image.sh
  hack/deploy.sh
  hack/image-stream-build-config-template.yaml
  hack/undeploy.sh
  manifests/05-deployment.yaml
  manifests/image-references
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/L

#94 add quickstart section
  README.md
Labels: approved, lgtm, size/S

#98 Fixing setting of node resources in ES CR
  pkg/k8shandler/logstore.go
Labels: approved, lgtm, size/XS

#101 Updating CLO to create role and binding for logcollector SA to use privileged scc
  hack/deploy-setup.sh
  hack/test-e2e.sh
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
  pkg/k8shandler/collection.go
  pkg/k8shandler/visualization.go
  pkg/utils/types.go
Labels: approved, lgtm, size/L

#103 Default mem and cpu when not defined for CL
  Makefile
  pkg/apis/logging/v1alpha1/types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/curation_test.go
  pkg/k8shandler/defaults.go
  pkg/k8shandler/helpers_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm, size/XL
