Repository openshift/cluster-logging-operator, pull requests merged in 2019-09, with the labels that each got.

#238 Bug 1745394: Got many `[WARN ][c.f.s.a.BackendRegistry ] Authenticat…
  pkg/k8shandler/secret.go
  pkg/k8shandler/secret_test.go
Labels: approved, bugzilla/valid-bug, lgtm, size/L

#240 Bug 1745394: Got many `[WARN ][c.f.s.a.BackendRegistry ] Authenticat…
  files/rsyslog/rsyslog.sh
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#241 Bug 1746695: Add scope user:list-projects back to proxy
  pkg/k8shandler/secret_test.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm, release/4.2, size/S

#242 Bug 1750629: The rsyslog logrotate container couldn't be started on …
  pkg/k8shandler/rsyslog.go
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#239 Bug 1746968: Remove hostpath mount /etc/hostname and pass via env var
  files/rsyslog/rsyslog.sh
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
Labels: approved, bugzilla/valid-bug, kind/bug, lgtm, release/4.2, size/S

#246 Fix metadata from hack/cr-aws.yaml
  hack/cr-aws.yaml
Labels: approved, lgtm, size/XS

#208 Introduce gosec for security checks
  Makefile
  pkg/k8shandler/prometheus_rule.go
  pkg/utils/utils.go
Labels: approved, lgtm, release/4.3, size/S
