Repository openshift/cluster-logging-operator, pull requests merged in 2019-01, with the labels that each got.

#65 bug 1660778 CA path for the fluent servicemonitor
  manifests/10-service-monitor-fluentd.yaml
Labels: approved, component/fluentd, lgtm, release/4.0

#71 Create role and cluster role binding for reading sharing-config cm
  manifests/03-role.yaml
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/M

#79 Updating fluentd and rsyslog ds to tolerate noschedule taint for masters
  pkg/apis/logging/v1alpha1/types.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/S

#80 Adding check if redundancy policy has changed
  pkg/k8shandler/logstore.go
Labels: approved, lgtm, size/XS

#81 fix 1662273. Add roles and bindings to allow prometheus to access log…
  manifests/03-role.yaml
  manifests/04-role-binding.yaml
Labels: approved, lgtm, size/M

#82 Updating secrets for components if they need to be in case of regenerated certs
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/M

#83 Default operator image tag
  Makefile
  manifests/05-deployment.yaml
  manifests/image-references
Labels: approved, lgtm, size/S

#64 Configuration documentation
  README.md
  docs/configuration.md
Labels: approved, component/documentation, kind/documentation, size/L

#84 Log collector switch check
  pkg/k8shandler/collection.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/L

#86 Removing components when not specified in the CR
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/utils/types.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/XL

#92 Addressing docs issues
  docs/configuration.md
  docs/unmanaged_configuration.md
Labels: approved, lgtm, size/S

#89 support buildconfigs and no image build deployments
  Makefile
  hack/common
  hack/deploy-image.sh
  hack/deploy.sh
  hack/image-stream-build-config-template.yaml
  hack/undeploy.sh
Labels: approved, lgtm, size/L

#93 Persisting oauth secret to prevent unnecessary regen
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/L
