Repository openshift/cluster-logging-operator, pull requests merged in 2019-06, with the labels that each got.

#191 Force all CL components to be allocated to linux nodes
  pkg/k8shandler/curation_test.go
  pkg/k8shandler/pod.go
  pkg/k8shandler/pod_test.go
  pkg/k8shandler/visualization_test.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/L

#196 Bug 1717623 - Fix olm csv for 411
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/cluster-logging.package.yaml
Labels: approved, lgtm, size/XS

#197 Overriding node selectors causing drop of linux selector for fluentd and rsyslog
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/pod_test.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/rsyslog_test.go
Labels: approved, lgtm, size/M

#199 bug 1717627. bump crv to 4.1.2
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/art.yaml
  manifests/cluster-logging.package.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.1, size/S

#201 updating owners file
  OWNERS
Labels: approved, lgtm, size/XS

#200 Bug 1717627: fix art.yml ref to package.yaml
  manifests/art.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#203 Bug 1717627: Update replacement search text to match csv name in art.yaml
  manifests/art.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#204 add art csv metadata
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/4.2/cluster-logging.v4.2.0.clusterserviceversion.yaml
  manifests/art.yaml
Labels: approved, lgtm, size/M

#206 create 4.2 channel and remove unnecessary 4.1 content from 4.2 branch
  Dockerfile
  Dockerfile.rhel7
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/4.1/cluster-loggings.crd.yaml
  manifests/4.1/image-references
  manifests/cluster-logging.package.yaml
Labels: approved, lgtm, size/XL
