Repository openshift/cluster-logging-operator, pull requests merged in 2019-05, with the labels that each got.

#163 LOG-413. Correct manifest for rh-certified operator pipeline
  Dockerfile
  Dockerfile.rhel7
  Makefile
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/4.1/cluster-loggings.crd.yaml
  manifests/4.1/image-references
  manifests/cluster-logging.package.yaml
  manifests/latest
Labels: approved, lgtm, size/M

#166 fix name of file being copied in the manifest
  Dockerfile
  Dockerfile.rhel7
Labels: approved, lgtm, size/S

#167 add es image to manifest
  manifests/4.1/image-references
Labels: approved, lgtm, size/XS

#169 add oauth-proxy to imagestream manifest
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/4.1/image-references
Labels: approved, lgtm, size/S

#170 Bug 1706134: Allowing scale up past 3 nodes for ES Cr
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, lgtm, size/L

#172 remove rsyslog from 4.1
  manifests/4.1/image-references
Labels: approved, lgtm, size/XS

#174 Bug 1707465: Adding disk-pressure toleration for fluentd
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/rsyslog_test.go
Labels: approved, lgtm, size/M

#171 do not output env var with empty values
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
Labels: approved, lgtm, size/XS

#175 Bug 1709454: fixing missing RBAC for metadata-reader cluster role
  hack/test-e2e.sh
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/S

#179 preparation for 4.2 merging into master
  manifests/4.2/cluster-logging.v4.2.0.clusterserviceversion.yaml
  manifests/4.2/cluster-loggings.crd.yaml
  manifests/4.2/image-references
  manifests/cluster-logging.package.yaml
  manifests/latest
Labels: approved, lgtm, size/XL

#176 Post release into master
  Dockerfile
  Dockerfile.rhel7
  files/curator/curator-actions.yaml
  files/curator/curator-config.yaml
  files/curator/curator5-config.yaml
  files/fluentd/fluent.conf
  files/fluentd/fluentd-throttle-config.yaml
  files/fluentd/fluentd_prometheus_alerts.yaml
  files/fluentd/secure-forward.conf
  files/rsyslog/55-elasticsearch.conf
  files/rsyslog/60-mmk8s.conf
  files/rsyslog/rsyslog.sh
  hack/deploy.sh
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
  pkg/utils/prometheus_rule.go
Labels: approved, lgtm, size/L

#181 add support for passing in the elasticsearch-operator image
  hack/deploy.sh
  hack/test-e2e.sh
Labels: approved, lgtm, size/S

#177 LOG-400 rsyslog - support log rotation for rsyslog log files
  files/logrotate/cron.sh
  files/logrotate/logrotate
  files/logrotate/logrotate.sh
  files/logrotate/logrotate_pod.sh
  files/rsyslog/00-global.conf
  files/rsyslog/99-logging.conf
  files/rsyslog/rsyslog.sh
  manifests/4.1/cluster-logging.v4.1.0.clusterserviceversion.yaml
  manifests/4.2/cluster-logging.v4.2.0.clusterserviceversion.yaml
  manifests/4.2/image-references
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/pod.go
  pkg/k8shandler/rsyslog.go
  pkg/k8shandler/rsyslog_test.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/L

#182 use make deploy with oal logging CI
  Makefile
  cmd/manager/main.go
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/gen-olm-artifacts.sh
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
  pkg/utils/utils.go
Labels: approved, lgtm, size/M

#180 Bug 1710404: No longer set CPU Limit for default ES resource requirements
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, lgtm, size/XS

#183 add namespace for manifest
  hack/deploy-setup.sh
  hack/deploy.sh
Labels: approved, kind/failing-test, lgtm, size/XS

#184 Update log message wording
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, size/XS

#165 Expanding CLO status
  Gopkg.lock
  Gopkg.toml
  Makefile
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/status.go
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile
  vendor/github.com/openshift/elasticsearch-operator/Dockerfile.rhel7
  vendor/github.com/openshift/elasticsearch-operator/Makefile
  vendor/github.com/openshift/elasticsearch-operator/cmd/manager/main.go
  vendor/github.com/openshift/elasticsearch-operator/hack/deploy-setup.sh
  vendor/github.com/openshift/elasticsearch-operator/hack/deploy.sh
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.1/elasticsearch-operator.v4.1.0.clusterserviceversion.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.1/elasticsearches.crd.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.1/image-references
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.2/elasticsearch-operator.v4.2.0.clusterserviceversion.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.2/elasticsearches.crd.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.2/image-references
  vendor/github.com/openshift/elasticsearch-operator/manifests/elasticsearch-operator.package.yaml
  vendor/github.com/openshift/elasticsearch-operator/manifests/latest
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/common.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/deployment.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/elasticsearch.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/statefulset.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/status.go
Labels: approved, lgtm, size/XXL

#186 add rsyslog_exporter for prometheus
  files/rsyslog/10-viaq-modules.conf
  files/rsyslog/rsyslog_prometheus_alerts.yaml
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
  test/e2e/clusterlogging_test.go
Labels: approved, lgtm, size/L

#185 Bug 1712721 - Fixing checking if nodes are different when scaling from 3 to 4
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, lgtm, size/M

#192 rsyslog - set default queue.size; timing issue switching from fluentd
  files/rsyslog/00-global.conf
  files/rsyslog/rsyslog.sh
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/rsyslog.go
Labels: approved, lgtm, size/M

#193 minor doc fixes
  README.md
Labels: approved, lgtm, size/XS
