Repository openshift/cluster-logging-operator, pull requests merged in 2020-06, with the labels that each got.

#509 Added proper synchronization for oc port-forward to the remote image registry
  hack/deploy-image.sh
  olm_deploy/scripts/catalog-build.sh
Labels: approved, lgtm

#425 Add kafka output support for ClusterLogForwarder API
  manifests/4.5/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/output_types_test.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/kafka_conf.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/e2e/logforwarding/kafka/logforwarding_suite_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/constants.go
  test/helpers/kafka/consumer.go
  test/helpers/kafka/zookeeper.go
  test/helpers/syslog.go
  test/helpers/types.go
Labels: approved, feature/logforwarding, lgtm, release/4.5

#544 Update from master
  files/fluentd/run.sh
  hack/deploy-image.sh
  manifests/4.5/image-references
  olm_deploy/scripts/catalog-build.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
  test/helpers/kafka.go
Labels: approved, lgtm

#403 Removed duplicate configv1.AddToScheme
  cmd/manager/main.go
Labels: approved, lgtm, release/4.5, size/XS

#521 Add test for certificate generation
  pkg/constants/constants.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/utils/utils.go
  test/helpers/framework.go
Labels: approved, lgtm

#549 Bug 1842753: Docs URL in the CLO description refers to 4.1, v. 4.6
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#547 Speedup build by COPYing less
  .dockerignore
  Dockerfile
Labels: approved, lgtm

#505 Corrected spelling of a log message, simplified a few boolean expressions
  pkg/k8shandler/conditions.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
Labels: approved, lgtm

#553 Bug 1808167: Update crypto dependency
  Gopkg.lock
  vendor/golang.org/x/crypto/blake2b/blake2b.go
  vendor/golang.org/x/crypto/blake2s/blake2s.go
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/xor.go
  vendor/golang.org/x/crypto/chacha20poly1305/chacha20poly1305_generic.go
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/internal/wycheproof/internal/ecdsa/ecdsa.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/sha3/xor_unaligned.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/crypto/ssh/testdata/keys.go
Labels: approved, lgtm, release/4.6

#469 Ensure LogForwarding works with multiple outputs
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/multiple_outputs/logforwarding_suite_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
Labels: approved, lgtm

#551 Bug 1844445: Fixed CLO crash when reconciling Fluentd
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#557 Added render_templates required for operator brew build using cpaas
  render_templates
Labels: approved, lgtm

#558 Bug 1845539: Update skipRange constraint to 4.4.0
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
  manifests/art.yaml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#563 Bug 1847413: Fix E2E olm registry migration
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#565 Bug 1845539: Update olm.skipRange constraint to 4.4.0-0
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
  manifests/art.yaml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#535 Bug 1840274: creating init container to block waiting for es version 6+
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#568 Bug 1848186: Fix retention policy in CSV alm example manifest
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#561 [release-4.5] Bug 1846482: Fixed CLO crash when reconciling Fluentd
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, group-lead-approved, lgtm

#569 Bug 1849188: Allow a collection only clusterlogging instance
  hack/testing-olm/test-030-collection.sh
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  test/e2e/collection/cleanup.sh
  test/e2e/collection/fluentd/collector_only_test.go
  test/e2e/collection/fluentd/flatten_labels_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, do-not-merge/hold, lgtm

#546 Bump manifest to 4.6
  Dockerfile.e2e
  hack/testing-olm/test-020-olm-upgrade.sh
  manifests/4.6/0100_clusterroles.yaml
  manifests/4.6/0110_clusterrolebindings.yaml
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/cluster-loggings.crd.yaml
  manifests/4.6/collectors.crd.yaml
  manifests/4.6/image-references
  manifests/4.6/logforwardings.crd.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, lgtm

#573 fix the skip.range for 4.6
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, lgtm

#577 rely on config to dictate loglevel in lieu of runtime args
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/helpers/fluentd.go
Labels: approved, lgtm

#578 Clean up the ClusterLogForwarder API to follow recommendations
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder.go
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/input_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm
