Repository openshift/cluster-logging-operator, pull requests merged in 2020-01, with the labels that each got.

#327 Fixed missing error when requesting proxy
  pkg/k8shandler/reconciler.go
  pkg/utils/utils.go
Labels: approved, lgtm, release/4.4, size/XS

#323 Bug 1782740: Addressing LF causing cert rotation
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/valid-bug, lgtm, size/L

#332 replace FROM for local builds
  Dockerfile
Labels: approved, backport/4.3, lgtm, release/4.4, size/XS

#330 Log-596: Update CLO to generate Elasticsearch Index Management
  Gopkg.lock
  Gopkg.toml
  manifests/4.4/cluster-loggings.crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/indexmanagement/indexmanagement_suite_test.go
  pkg/k8shandler/indexmanagement/indexmanagement_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  vendor/github.com/openshift/elasticsearch-operator/Gopkg.lock
  vendor/github.com/openshift/elasticsearch-operator/Gopkg.toml
  vendor/github.com/openshift/elasticsearch-operator/manifests/4.4/elasticsearches.crd.yaml
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/index_management_types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/indexmanagement/validations.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/configuration_tmpl.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/elasticsearch.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/index_management.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/reconciler.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/k8shandler/util.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/logger/logger.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/types/elasticsearch/types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/utils/utils.go
  vendor/github.com/openshift/elasticsearch-operator/test/helpers/elasticsearch.go
  vendor/github.com/openshift/elasticsearch-operator/test/helpers/json.go
  vendor/github.com/openshift/elasticsearch-operator/test/utils/utils.go
Labels: approved, lgtm, size/XXL

#331 Added lint target to Makefile
  Makefile
  golangci.yaml
Labels: approved, lgtm, size/S

#335 update owners file
  OWNERS
Labels: approved, lgtm, size/XS

#339 Update alm-exmpla to include retentionPolicy
  manifests/4.4/cluster-logging.v4.4.0.clusterserviceversion.yaml
Labels: approved, lgtm, size/XS

#338 Code cleanup
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/controller/collector/collector_controller.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/status.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/utils.go
  test/helpers/elasticsearch.go
  test/helpers/framework.go
Labels: approved, lgtm, size/L

#333 Bug 1791336: Fix fluent metrics config to support ipv6
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  scripts/cert_generation.sh
Labels: approved, backport/4.3, bugzilla/valid-bug, lgtm, release/4.4, size/XS

#343 README update for Fedora 31 docker issues.
  README.md
  docs/fedora31.md
Labels: approved, lgtm, size/S

#344 hack/deploy-image.sh : Increase wait time for port forwarding
  hack/deploy-image.sh
Labels: approved, lgtm, size/XS

#346 Fix typo: fluend -> fluentd
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/helpers/fluentd.go
Labels: approved, lgtm, ok-to-test, size/XS

#345 Bug 1791336: Fix fluent conf for metrics on ipv4 and ipv6
  hack/testing/test-999-fluentd-prometheus-metrics.sh
  hack/testing/utils
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, backport/4.3, bugzilla/valid-bug, lgtm, size/L

#350 Master into es6
  Dockerfile
  Makefile
  OWNERS
  README.md
  docs/fedora31.md
  golangci.yaml
  hack/deploy-image.sh
  hack/testing/test-999-fluentd-prometheus-metrics.sh
  hack/testing/utils
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/controller/collector/collector_controller.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/status.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/utils.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
Labels: approved, feature/es6x, lgtm, size/XXL
