Repository openshift/cluster-logging-operator, pull requests merged in 2020-03, with the labels that each got.

#389 Bug 1807739: Revert "Bug 1803196: Move shared config map to openshift-config-managed NS"
  Makefile
  hack/testing/assertions
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/utils
  manifests/4.5/0110_clusterrolebindings.yaml
  manifests/4.5/0200_roles.yaml
  manifests/4.5/0210_rolebindings.yaml
  pkg/k8shandler/configmap.go
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, bugzilla/valid-bug, lgtm, size/L

#390 Bug 1808520: Revert 1807739
  Makefile
  hack/testing/assertions
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/test-999-fluentd-prometheus-metrics.sh
  hack/testing/utils
  manifests/4.4/0110_clusterrolebindings.yaml
  manifests/4.4/0200_roles.yaml
  manifests/4.4/0210_rolebindings.yaml
  pkg/k8shandler/configmap.go
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.4, size/L

#341 Forwarding to external syslog, based on current fluentd plugin
  manifests/4.5/logforwardings.crd.yaml
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/generators/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/syslog/deleteme.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/syslog/logforwarding_suite_test.go
Labels: approved, lgtm, ok-to-test, size/L

#392 Bug 1808986: Adding nodeSelector to operator deployment
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, lgtm, release/4.5, size/XS

#399 fix image-references to point to es6
  manifests/4.5/image-references
Labels: approved, lgtm, release/4.5, size/XS

#391 Bug 1803390: Fix typo in OutputConditionType
  pkg/apis/logging/v1alpha1/forwarding_types.go
Labels: approved, bugzilla/valid-bug, lgtm, ok-to-test, release/4.5, size/XS

#393 Bug 1808053: Grab only public IPv6 fluentd address from node
  files/fluentd/run.sh
Labels: approved, bugzilla/valid-bug, lgtm, release/4.5, size/XS

#401 minor updates to collector reconciliation
  pkg/k8shandler/collection.go
  pkg/k8shandler/reconciler.go
Labels: approved, lgtm, release/4.5, size/S

#414 Fix for #375: Proxyconfig-controller fails to delete logcollector service account
  pkg/k8shandler/reconciler.go
Labels: approved, lgtm

#394 Bug 1810709: fix Dockerfile to be buildable by buildah
  .dockerignore
  Dockerfile
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/utils
Labels: approved, bugzilla/valid-bug, lgtm, release/4.5, size/M

#419 Update OWNERS
  OWNERS
Labels: approved, lgtm

#420 Fix for LOG-676, prevent a hotlooping reconcile for a terminated curator job
  pkg/k8shandler/status.go
Labels: approved, lgtm

#421 Bug 1813810: Updating resource update policy and adding unit test to verify
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/utils/resources.go
  pkg/utils/resources_test.go
Labels: approved, bugzilla/valid-bug, lgtm

#430 Bug 1816770: Fluentd inserts \'\' into some log messages ingested from container logs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, backport/4.3, backport/4.4, bugzilla/valid-bug, lgtm, release/4.5

#426 Adding default RetentionPolicies when nil
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/indexmanagement/indexmanagement_test.go
Labels: approved, lgtm, release/4.5

#422 Adding conditions for when log collection is missing destinations
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/k8shandler/conditions.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm, release/4.5

#423 normalize artifact dirs to write to separate places
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/test-999-fluentd-prometheus-metrics.sh
  hack/testing/utils
  pkg/k8shandler/logstore.go
Labels: approved, lgtm, release/4.5

#433 add olm based deploy scripts for cluster logging operator
  Dockerfile.e2e
  Makefile
  hack/test-e2e-olm.sh
  hack/testing-olm/assertions
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/test-020-olm-upgrade.sh
  hack/testing-olm/test-367-logforwarding.sh
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  hack/testing-olm/utils
  olm_deploy/operatorregistry/Dockerfile
  olm_deploy/operatorregistry/catalog-source.yaml
  olm_deploy/operatorregistry/registry-deployment.yaml
  olm_deploy/operatorregistry/service.yaml
  olm_deploy/scripts/catalog-build.sh
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/catalog-uninstall.sh
  olm_deploy/scripts/operator-install.sh
  olm_deploy/scripts/operator-uninstall.sh
  olm_deploy/scripts/registry-init.sh
  olm_deploy/scripts/wait_for_deployment.sh
  olm_deploy/subscription/operator-group.yaml
  olm_deploy/subscription/subscription.yaml
Labels: approved, lgtm, release/4.5

#411 Bug 1810710: Make useable by buildah
  Dockerfile
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.4

#438 remove dots in index management types
  deploy/crds/logging.openshift.io_clusterloggings_crd.yaml
  manifests/4.5/cluster-loggings.crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/indexmanagement/index_management.go
  test/helpers/elasticsearch.go
Labels: approved, lgtm, release/4.5

#444 allow overriding of fake_home_dir env var
  Makefile
  hack/lib/util/environment.sh
Labels: approved, lgtm
