Repository openshift/cluster-logging-operator, pull requests merged in 2020-09, with the labels that each got.

#680 Modify make image to allow local builds
  .gitignore
  Dockerfile
  Dockerfile.patch
  Makefile
  art.repo
Labels: approved, bugzilla/valid-bug, lgtm

#686 updating bundle labels to be used for nightly
  bundle/bundle.Dockerfile
Labels: approved, bugzilla/valid-bug, lgtm

#685 Bug 1875461: Updating CLO csv per operator one-click report
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#690 Bug 1852341: fix syslog k8s audit level conflict
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#691 Bug 1874746: Fixed ClusterLogging CR status
  hack/generate-crd.sh
  manifests/4.6/crd-v1-clusterloggings-patches.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/k8shandler/status.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#687 redirect must-gather output to a file
  hack/testing-olm/utils
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
Labels: approved, bugzilla/valid-bug, lgtm

#689 Add placeholder for functional Makefile target
  Makefile
Labels: approved, bugzilla/valid-bug, lgtm

#674 Bug 1861224: Disable LogFowarding when legacy protocols in use
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#695 Fixing test flakes
  hack/testing-olm/utils
  test/e2e/logforwarding/cleanup.sh
  test/e2e/utils.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
Labels: approved, bugzilla/valid-bug, lgtm

#692 make e2e framework watches more resilient
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
Labels: approved, bugzilla/valid-bug, lgtm

#694 Bug 1878123: Bump client-go v1.18.3 to v1.18.8
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/go.mod
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#693 Bug 1877968: Reduce the chattiness of status updates and reconciliation
  Makefile
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/status.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#699 Bug 1866531: Deploy source container template if infrastructire logs are forwarded
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/source_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#696 Bug 1880012: Move custom Ginkgo matchers to matchers package.
  pkg/apis/logging/v1/cluster_log_forwarder_types_test.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/k8shandler/forwarding_test.go
  test/matchers/diff.go
  test/matchers/diff_test.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#702 Add more changes to Polling to assist CI flakes
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/kafka.go
Labels: approved, bugzilla/valid-bug, lgtm

#708 Skip artifact collection if success
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
Labels: approved, bugzilla/valid-bug, lgtm

#664 Bug 1882524: fixing bundle image and updating makefile accordingly
  Makefile
  bundle.Dockerfile
  bundle/manifests/0100_clusterroles.yaml
  bundle/manifests/0110_clusterrolebindings.yaml
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  bundle/manifests/crd-v1-clusterloggings-patches.yaml
  bundle/manifests/crd-v1-singleton-patch.yaml
  bundle/manifests/image-references
  bundle/manifests/kustomization.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#705 Bug 1881493: Fixed app panic when dereferencing annotations for kibana deployment
  .gitignore
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#712 Bug 1882524: Fixed 4.6 manifests folder and bundle validation
  Makefile
  bundle/manifests/logforwardings.crd.yaml
  hack/generate-bundle.sh
  hack/generate-crd.sh
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  manifests/patches/crd-v1-clusterloggings-patches.yaml
  manifests/patches/crd-v1-singleton-patch.yaml
  manifests/patches/kustomization.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#713 Bug 1880926: Fix owner references for ClusterLogging CR
  pkg/k8shandler/collection.go
  pkg/k8shandler/rbac.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#716 Bug 1881748: Replace OKD with OCP
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm
