Repository openshift/cluster-logging-operator, pull requests merged in 2020-10, with the labels that each got.

#717 Bug 1882524: Remove Kind:LogForwarding
  hack/logforwarding.yml
  manifests/4.6/logforwardings.crd.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#719 Bug 1883079: Resolve missing 'use_nil'
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#720 Bug 1884275: Revert CLF cluster scope
  docs/HACKING.md
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  olm_deploy/subscription/operator-group.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/k8shandler/reconciler.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#724 Merge master into master-post-release.
  Makefile
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  bundle/manifests/logforwardings.crd.yaml
  docs/HACKING.md
  hack/generate-bundle.sh
  hack/generate-crd.sh
  hack/logforwarding.yml
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/logforwardings.crd.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  manifests/patches/crd-v1-clusterloggings-patches.yaml
  manifests/patches/crd-v1-singleton-patch.yaml
  manifests/patches/kustomization.yaml
  olm_deploy/subscription/operator-group.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/rbac.go
  pkg/k8shandler/reconciler.go
  test/helpers/framework.go
Labels: approved, lgtm

#707 Initial architecture page.
  docs/architecture/Makefile
  docs/architecture/index.adoc
  docs/architecture/index.html
  docs/architecture/legend.dot
  docs/architecture/legend.svg
  docs/architecture/node.dot
  docs/architecture/node.svg
  docs/architecture/overview.dot
  docs/architecture/overview.svg
Labels: approved, lgtm

#710 A few small fixes to the readmes
  README.md
  docs/HACKING.md
Labels: approved, lgtm

#728 Doc: add link to released version of installation
  README.md
Labels: approved, lgtm, ok-to-test

#727 Master post release
  docs/architecture/Makefile
  docs/architecture/index.adoc
  docs/architecture/index.html
  docs/architecture/legend.dot
  docs/architecture/legend.svg
  docs/architecture/node.dot
  docs/architecture/node.svg
  docs/architecture/overview.dot
  docs/architecture/overview.svg
Labels: approved, lgtm

#721 Bug 1881996: fix legacy syslog k8s Metadata
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5

#723 Bug 1884477: Update bundle manifests for namespaced CLF
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#709 Bug 1877968: Remove status update message
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#735 Bug 1886856: Increase es proxy default memory resources to 256Mi
  pkg/k8shandler/defaults.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#730 Updating cluster-logging-operator builder & base images to be consistent with ART
  Dockerfile
Labels: approved, lgtm

#731 Minor fix to the scripts under ./hack
  hack/generate-crd.sh
  hack/get-openshift-client.sh
Labels: approved, lgtm, ok-to-test

#739 LOG-945: Remove Kibana5 cleanup code
  pkg/k8shandler/configmap.go
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/deployment.go
  pkg/k8shandler/oauthclient.go
  pkg/k8shandler/oauthclient_test.go
  pkg/k8shandler/route.go
  pkg/k8shandler/service.go
  pkg/k8shandler/serviceaccount.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm

#741 LOG-949: Always reconcile services to desired state
  pkg/factory/service.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/service.go
  pkg/utils/comparators/services/comparator.go
  pkg/utils/comparators/services/comparator_test.go
  pkg/utils/comparators/services/suite_test.go
  test/helpers/fluentd.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/zookeeper.go
  test/helpers/syslog.go
Labels: approved, lgtm

#738 Remove duplicate package suite test
  pkg/generators/forwarding/fluentd/generators_suite_test.go
  pkg/generators/forwarding/fluentd/suite_test.go
Labels: approved, lgtm

#435 Remove default storageclass from example
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.0

#734 GitHub bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: approved, lgtm

#748 Remove "use docker" tip from HACKING, outdated and unreliable.
  docs/HACKING.md
Labels: approved, lgtm

#746 Add GH pull request template
  .github/pull_request_template.md
Labels: approved, lgtm

#733 Patch Dockerfile to use CentOS images.
  Dockerfile.centos.patch
  Makefile
  docs/HACKING.md
Labels: approved, lgtm

#752 Bug 1879150: Updating how we scale down ES nodes in CR to preserve the number of es node definitions
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#718 Bug 1883777: Fix owner references for ClusterLogging CR
  pkg/k8shandler/collection.go
  pkg/k8shandler/rbac.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#755 Bug 1887361: Move manifest to 4.7
  Dockerfile
  Makefile
  art.repo
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v4.7.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
  hack/get-openshift-client.sh
  manifests/4.7/0100_clusterroles.yaml
  manifests/4.7/0110_clusterrolebindings.yaml
  manifests/4.7/cluster-logging.v4.7.0.clusterserviceversion.yaml
  manifests/4.7/image-references
  manifests/4.7/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.7/logging.openshift.io_clusterloggings_crd.yaml
  manifests/art.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#750 make run does not deploy-eo
  Makefile
  docs/HACKING.md
  hack/generate-crd.sh
Labels: approved, lgtm

#749 Bug 1886856: Add keep-alive backend for elasticsearch store
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#754 Reduce the footprint of the cluster-logging-operator-registry image
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm

#725 New packages for e2e tests with sample test.
  go.mod
  go.sum
  hack/generate-crd.sh
  pkg/apis/logging/v1/register.go
  test/client/client.go
  test/client/client_suite_test.go
  test/client/client_test.go
  test/client/doc.go
  test/client/pod.go
  test/client/test.go
  test/client/watch.go
  test/client/watch_test.go
  test/const.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_suite_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluent/logforwarding_suite_test.go
  test/fail_group.go
  test/fail_group_test.go
  test/helpers.go
  test/helpers/certificate/certificate.go
  test/helpers/certificate/certificate_suite_test.go
  test/helpers/certificate/certificate_test.go
  test/helpers/cmd/cmd_suite_test.go
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
  test/helpers/constants.go
  test/helpers/fluentd/fluentd_suite_test.go
  test/helpers/fluentd/receiver.go
  test/helpers/fluentd/receiver_test.go
  test/helpers_test.go
  test/matchers/errors.go
  test/runtime/core.go
  test/runtime/log_generator.go
  test/runtime/logging.go
  test/runtime/runtime.go
  test/runtime/runtime_suite_test.go
  test/runtime/runtime_test.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Labels: approved, lgtm

#761 Update ViaQ/logerr to resolve nil pointer
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/kverrors/doc.go
  vendor/github.com/ViaQ/logerr/kverrors/kverrors.go
  vendor/github.com/ViaQ/logerr/log/doc.go
  vendor/github.com/ViaQ/logerr/log/log.go
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/modules.txt
Labels: approved, lgtm

#747 LOG-745: Consistent logging: Remove pkg/logger/logger.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/k8shandler/fluentd.go
  pkg/utils/comparators/services/comparator.go
Labels: approved, lgtm

#758 create hack/create-aws-cluster.sh
  hack/create-aws-cluster.sh
Labels: approved, lgtm

#756 Enabled more linters.
  Makefile
  golangci.yaml
  internal/cmd/forwarder-generator/main.go
  pkg/apis/logging/v1/cluster_log_forwarder_types_test.go
  pkg/apis/logging/v1/output_types_test.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/route.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/utils/comparators/daemonsets/comparator.go
  pkg/utils/resources.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  test/client/watch.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/main_test.go
  test/e2e/utils.go
  test/helpers/certificate/certificate.go
  test/helpers/clusterlogging.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/kafka/config.go
  test/helpers/oc/doc.go
  test/helpers/oc/exec.go
  test/helpers/oc/get.go
  test/helpers/oc/literal.go
  test/helpers/oc/runner.go
  test/helpers/syslog.go
Labels: approved, lgtm

#766 bump logerr to resolve chatty V(3) logs
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/modules.txt
Labels: approved, lgtm, release-4.7
