Repository openshift/cluster-logging-operator, pull requests merged in 2020-11, with the labels that each got.

#767 Improvements to test support packages
  test/client/client.go
  test/client/client_test.go
  test/client/watch.go
  test/client/watch_test.go
  test/const.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_suite_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/fail_group.go
  test/helpers.go
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
  test/helpers/fluentd/receiver.go
  test/helpers/fluentd/receiver_test.go
  test/runtime/runtime.go
  test/runtime/runtime_test.go
Labels: approved, lgtm

#763 Fixes in the must-gather scripts: syntax and curator diagnostics
  Dockerfile
  must-gather/collection-scripts/common
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_curation_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
Labels: approved, lgtm, release/4.7

#769 Add unit tests for JSONString, JSONLine and YAMLString.
  test/helpers_test.go
Labels: approved, lgtm

#770 Fix 'fmt' for Mac OS users
  Makefile
Labels: approved, lgtm

#688 LOG-747: Functional framework for fluentd testing
  Makefile
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  internal/cmd/forwarder-generator/main.go
  internal/pkg/generator/forwarder/generator.go
  pkg/certificates/certificates.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/forwarding.go
  pkg/logger/logger.go
  test/functional/cluster_log_forwarder.go
  test/functional/framework.go
  test/functional/metrics/fluentd_test.go
  test/functional/metrics/suite_test.go
  test/helpers/framework.go
  test/runtime/configmap.go
  test/runtime/pod.go
  test/runtime/service.go
Labels: approved, lgtm

#772 Remove the last refs to logrus.
  cmd/manager/main.go
  go.mod
  go.sum
  internal/cmd/forwarder-generator/main.go
  test/functional/framework.go
  vendor/modules.txt
Labels: approved, lgtm

#722 Bug 1874883: Fix collector warnings
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5

#765 Bug 1888958: Store secrets in one place and utilize mutex
  Dockerfile
  Makefile
  pkg/certificates/certificates.go
  pkg/constants/constants.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/functional/framework.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, release/4.7

#743 Bug 1888420: Add collector source input metrics
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, release/4.7

#773 Remove need for LOGGING_SHARE_DIR in tests.
  Makefile
  pkg/utils/utils.go
Labels: approved, lgtm

#771 Move collector test
  pkg/utils/utils.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/functional/cluster_log_forwarder.go
  test/functional/framework.go
  test/functional/metrics/fluentd_test.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/normalization/suite_test.go
  test/functional/output_forward.go
  test/helpers/fluentd.go
  test/helpers/types.go
  test/runtime/pod.go
  test/runtime/runtime.go
Labels: approved, lgtm, release/4.7

#499 Update documentation
  Makefile
  README.md
  docs/configuration.md
  docs/fedora31.md
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#781 Updated the CentOS Dockerfile patch
  Dockerfile.centos.patch
Labels: approved, lgtm, release/4.7

#776 fixed gosec, errcheck lint errors
  manifests/4.7/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.7/logging.openshift.io_clusterloggings_crd.yaml
  pkg/constants/constants.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
Labels: approved, lgtm, release/4.7

#783 Make it predictable which Dockerfile is used for CLO image build
  Makefile
Labels: approved, lgtm

#780 LOG-954: Reconcile Service Monitor
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/utils/comparators/servicemonitor/comparator.go
  pkg/utils/comparators/servicemonitor/comparator_test.go
  pkg/utils/comparators/servicemonitor/suite_test.go
Labels: approved, lgtm, release/4.7

#786 Fix cmd.Reader to include stderr text in returned errors.
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
Labels: approved, lgtm, release/4.7

#791 Add manifests/5.0 folder for cpaas builds
  manifests/5.0/0100_clusterroles.yaml
  manifests/5.0/0110_clusterrolebindings.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/image-references
  manifests/5.0/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.0/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#795 Bump Dockerfile.e2e to 4.7
  Dockerfile.e2e
Labels: approved, lgtm, release/4.7

#794 Attempt a fix to functional test flake
  pkg/generators/forwarding/fluentd/generators.go
  test/functional/framework.go
  test/helpers/oc/runner.go
Labels: approved, lgtm

#788 gather artifacts for e2e setup
  hack/test-e2e-olm.sh
Labels: approved, lgtm, release/4.7

#726 Event router e2e test
  docs/deploy-event-router.md
  hack/eventrouter-template.yaml
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm, release/4.7

#793 LOG-965: remove username and password from fluentd conf
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#803 Architecture page: Updates on flow control, error handling.
  docs/architecture/index.adoc
  docs/architecture/index.html
Labels: approved, lgtm

#807 fix var for gathering artifacts
  hack/test-e2e-olm.sh
Labels: approved, lgtm

#809 Prevent adding manifests/5.0 to clo image
  Dockerfile
Labels: approved, lgtm

#792 singleCaseSwitch: should rewrite witch statement to if statement (gocritic)
  test/functional/framework.go
  test/functional/normalization/flatten_labels_test.go
Labels: approved, lgtm, release/4.7

#798 typo
  test/functional/normalization/suite_test.go
Labels: approved, lgtm, release/4.7

#799 Bug 1894634: lower default max_retry_wait
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, release/4.7

#789 Bug 1897731: Use fully qualified resource name for CRs in must gather
  must-gather/collection-scripts/gather_install_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, release/4.7

#797 Fix `make check`
  Makefile
Labels: approved, lgtm

#811 Bug 1891738: Make operator not depend on elasticsearch-operator
  hack/logforwarder.yaml
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/clusterloggingrequest_test.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, release/4.7

#817 Test improvements
  Makefile
  must-gather/collection-scripts/gather
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/functional/framework.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/oc/runner.go
  test/helpers/types.go
  test/helpers/types_test.go
  test/runtime/runtime.go
Labels: approved, lgtm, release/4.7
