Repository openshift/cluster-logging-operator, pull requests merged in 2020-07, with the labels that each got.

#582 Bug 1851680: Fix ClusterLogForwarder status reconciliation
  pkg/controller/forwarding/forwarding_controller.go
  pkg/k8shandler/reconciler.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#579 Bug 1851381: Add condition when log collection is missing outputs
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/k8shandler/conditions.go
  pkg/k8shandler/forwarding.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#585 Added "cl" short name for ClusterLogging CRD.
  manifests/4.6/cluster-loggings.crd.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
Labels: approved, lgtm

#584 Added Initial CPaaS scripts
  manifests/generate_manifest.py
  manifests/render_templates
  render_templates
Labels: approved, lgtm

#587 fluentd is a DaemonSet not a DeploymentConfig
  docs/unmanaged_configuration.md
Labels: approved, lgtm

#575 Bug 1850546: Add support label for s390x & ppc64le
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#586 Bug 1852889: Bump minKubeVersion to 1.18.3
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#588 Adding initial troubleshooting guide
  README.md
  docs/HACKING.md
  docs/troubleshooting.md
Labels: approved, lgtm

#592 updating to label ns instead of annotate
  olm_deploy/scripts/operator-install.sh
Labels: approved, lgtm

#537 Update LF GA api for syslog rfc5424 parameters
  Makefile
  hack/testing-olm/test-367-logforwarding.sh
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/collector_only_test.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/oc/runner.go
  test/helpers/syslog.go
Labels: approved, lgtm

#593 Add validation to ClusterLogForwarder name required to be "instance"
  Makefile
  bin/README.md
  hack/get-openshift-client.sh
  manifests/4.6/crd-v1-singleton-patch.yaml
  manifests/4.6/kustomization.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm

#597 Bug 1833486: Improve fluent performance in comparison to 4.4
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/files/secure-forward.conf
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#594 LOG-719: Enable clusterlogging CRD generation
  Makefile
  hack/generate-crd.sh
  manifests/4.6/cluster-loggings.crd.yaml
  manifests/4.6/crd-v1beta1-clusterloggings-patches.yaml
  manifests/4.6/kustomization.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  olm_deploy/operatorregistry/Dockerfile
  pkg/apis/logging/v1/clusterlogging_types.go
Labels: approved, lgtm

#600 Bug 1833486: Collector config changes to address performance versus 4.4
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#601 Enable collector CRD generation
  Makefile
  hack/generate-crd.sh
  manifests/4.6/collectors.crd.yaml
  manifests/4.6/logging.openshift.io_collectors_crd.yaml
  pkg/apis/logging/v1alpha1/collector_types.go
Labels: approved, lgtm

#608 Revert "Bug 1852889: Bump minKubeVersion to 1.18.3"
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#605 Bug 1857206: Use fluentd event time for processing logs to kafka
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#602 Bug 1856940: Add kafka mTLS conditional support
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#607 Drop tech preview v1alpha1 promtail collector API
  Makefile
  files/promtail/promtail.yaml
  hack/collector_cr.yaml
  hack/generate-crd.sh
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/logging.openshift.io_collectors_crd.yaml
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/registry-init.sh
  pkg/apis/addtoscheme_logging_v1alpha1.go
  pkg/apis/logging/v1alpha1/collector_types.go
  pkg/apis/logging/v1alpha1/doc.go
  pkg/apis/logging/v1alpha1/register.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/zz_generated.defaults.go
  pkg/controller/add_controllers.go
  pkg/controller/collector/collector_controller.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/reconcile_collector.go
  pkg/k8shandler/visualization_test.go
  pkg/utils/utils.go
Labels: approved, lgtm

#610 Bug 1856502: Added Elasticsearch proxy resources
  go.mod
  go.sum
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/defaults.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  test/helpers/clusterlogging.go
  test/helpers/elasticsearch.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/elasticsearch/client.go
  vendor/github.com/openshift/elasticsearch-operator/pkg/utils/utils.go
  vendor/github.com/openshift/elasticsearch-operator/test/utils/utils.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#606 Bug 1855220: Update trustedCA hash for visualization component
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#618 cleanup fluent buffers and position files
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, lgtm

#611 Bug 1858811: syslog fixed support for tls protocol
  olm_deploy/scripts/operator-install.sh
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#596 Add fluentd buffer config generation with tuning parameters
  files/fluentd/run.sh
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/files/secure-forward.conf
Labels: approved, lgtm

#604 Bug 1858200: Disable LogFowarding when legacy protocols in use
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#460 LOG-668: Remove unused code in fluent run.sh
  files/fluentd/run.sh
Labels: approved, lgtm, release/4.6

#623 Bug 1852889: Revert "Merge pull request #608 from periklis/revert-minkubeversion-1-18-3"
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#589 [release-4.5] Bug 1855312: Add support label for s390x & ppc64le
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, ok-to-test

#615 Clean up E2E test suite scripts and junit reporting
  Dockerfile.e2e
  Makefile
  hack/lib/test/junit.sh
  hack/test-e2e-olm.sh
  hack/testing-olm/assertions
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/test-020-olm-upgrade.sh
  hack/testing-olm/test-030-collection.sh
  hack/testing-olm/test-367-logforwarding.sh
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  hack/testing-olm/utils
  test/e2e/collection/cleanup.sh
  test/e2e/collection/fluentd/collector_only_test.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/collection/fluentd/fluentd_suite_test.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/logforwarding_suite_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/logforwarding_suite_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluent/logforwarding_suite_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/logforwarding_suite_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/e2e/logforwarding/kafka/logforwarding_suite_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/multiple_outputs/logforwarding_suite_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/syslog/logforwarding_suite_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/logforwarding_suite_test.go
Labels: approved, lgtm

#583 Provide an exhaustive desciption for fluentd init container
  pkg/k8shandler/fluentd.go
Labels: approved, lgtm

#627 Remove obsoete throttle-config
  files/fluentd/fluentd-throttle-config.yaml
  pkg/k8shandler/fluentd.go
Labels: approved, lgtm

#616 Bug 1857094: Add validation for URL parameter for LF CR
  hack/generate-crd.sh
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#609 Bug 1833486: Revert rotate_wait and refresh_interval to 4.4 setting
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#599 LOG-839: Remove unused fluent env vars
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
Labels: approved, lgtm

#617 Fix lint errors, refuse to build unlinted code.
  Makefile
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/k8shandler/defaults.go
  pkg/k8shandler/fluentd.go
Labels: approved, lgtm

#603 Bug 1843461: Collector config changes to address performance versus 4.4
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/files/secure-forward.conf
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#626 Bug 1857673: Fixed fluentd conf generation, namespace filtering
  go.mod
  pkg/apis/logging/v1/cluster_log_forwarder.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/k8shandler/forwarding.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#633 Cleanup obsolete hack scripts and Gopkg.lock
  Gopkg.lock
  hack/deploy.sh
  hack/vendor/.gitignore
  hack/vendor/olm-test-script/README.md
  hack/vendor/olm-test-script/e2e-olm.sh
  hack/vendor/olm-test-script/operatorgroup-template-global.yaml
  hack/vendor/olm-test-script/operatorgroup-template.yaml
  hack/vendor/olm-test-script/subscription.yaml
  hack/vendor/sources.txt
Labels: approved, lgtm

#632 LOG-804: add metrics dashboard
  files/dashboards/openshift-logging-dashboard.json
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  pkg/k8shandler/dashboards.go
  pkg/k8shandler/reconciler.go
Labels: approved, lgtm

#548 Bug 1811879: Docs URL in the CLO description refers to 4.1, v. 4.5
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#629 Updating CLO to use operator bundle
  Makefile
  bundle/bundle.Dockerfile
  bundle/manifests/0100_clusterroles.yaml
  bundle/manifests/0110_clusterrolebindings.yaml
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  bundle/manifests/crd-v1-singleton-patch.yaml
  bundle/manifests/crd-v1beta1-clusterloggings-patches.yaml
  bundle/manifests/image-references
  bundle/manifests/kustomization.yaml
  bundle/manifests/logforwardings.crd.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
Labels: approved, lgtm, release/4.6

#396 Bug 1811872: Synced doc version in the CLO description, v 4.3
  manifests/4.3/cluster-logging.v4.3.0.clusterserviceversion.yaml
Labels: approved, bugzilla/invalid-bug, bugzilla/severity-low, lgtm, size/XS

#397 Bug 1811870: Synced doc version in the CLO description, v 4.4
  manifests/4.4/cluster-logging.v4.4.0.clusterserviceversion.yaml
Labels: approved, bugzilla/invalid-bug, bugzilla/severity-low, size/XS
