Repository openshift/cluster-logging-operator, pull requests merged in 2020-12, with the labels that each got.

#764 Bug 1892794: Remove status update message
  pkg/k8shandler/collection.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#821 Updated to v1.0.9 of github.com/ViaQ/logerr
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/internal/kv/kv.go
  vendor/github.com/ViaQ/logerr/kverrors/kverrors.go
  vendor/github.com/ViaQ/logerr/log/log.go
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/modules.txt
Labels: approved, lgtm, release/4.7

#784 Functional test for application logforwarding format
  test/functional/framework.go
  test/functional/logforwarding/message_format_test.go
  test/functional/logforwarding/suite_test.go
  test/functional/normalization/flatten_labels_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
  test/helpers/types/types.go
  test/helpers/types_test.go
  test/matchers/log_format.go
  test/matchers/log_format_test.go
  test/matchers/suite_test.go
  test/runtime/runtime.go
Labels: approved, lgtm, release/4.7

#819 Bug 1901869: Recreate master-certs if deleted
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
Labels: approved, backport/4.6, lgtm, release/4.7

#827 Bug 1901424: Skip setting kibana replicas to 1 with zero es node
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, release/4.7

#822 Bug 1903784: Bubble up errors from logstore reconciliation
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/k8shandler/logstore.go
Labels: approved, backport/4.6, lgtm, release/4.7

#824 Allow specifying region in hack/create-aws-cluster
  hack/create-aws-cluster.sh
Labels: approved, lgtm, release/4.7

#813 Bug 1901096: Set forward heartbeat to none
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/functional/cluster_log_forwarder.go
  test/functional/framework.go
  test/functional/outputs/suite_test.go
  test/functional/outputs/unavailable_forward_output_test.go
  test/runtime/pod.go
Labels: approved, backport/4.6, lgtm, release/4.7

#826 Modify internal/forwarder-generator to create default conf
  internal/cmd/forwarder-generator/main.go
  internal/pkg/generator/forwarder/generator.go
  test/functional/framework.go
Labels: approved, lgtm, release/4.7

#785 Functional tests for Logforwarding audit formats
  test/functional/framework.go
  test/functional/logforwarding/message_format_test.go
  test/functional/output_forward.go
  test/helpers/types/types.go
  test/matchers/log_format.go
  test/matchers/log_format_test.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#830 Check that elastic search containers are ready
  test/helpers/elasticsearch.go
  test/helpers/framework.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#820 Add testcases to test-unit Makefile target
  Makefile
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/functional/framework.go
  test/functional/logforwarding/message_format_test.go
  test/helpers/oc/exec_test.go
  test/helpers/oc/get_test.go
  test/helpers/oc/literal.go
  test/helpers/oc/literal_test.go
  test/helpers/oc/oc_suite_test.go
  test/helpers/oc/podspec.yaml
  test/helpers/oc/runner.go
  test/helpers/types/types_test.go
  test/matchers/log_format.go
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#805 [release-4.5] Bug 1899419: Add keep-alive backend for elasticsearch store
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/cleanup.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5
