Repository openshift/cluster-logging-operator, pull requests merged in 2020-08, with the labels that each got.

#533 Use a real URL parser, only accept well-formed absolute URLs for output.url.
  docs/output_url_field.md
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/url/url.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
Labels: approved, lgtm

#628 Add must-gather plugin image for cluster-logging stack
  Dockerfile
  README.md
  must-gather/README.md
  must-gather/collection-scripts/common
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_curation_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  must-gather/collection-scripts/gather_install_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
Labels: approved, lgtm, release/4.6

#638 Bump golang builder to 1.14
  Dockerfile
Labels: approved, lgtm

#639 Trivial change to make linter happy.
  pkg/generators/forwarding/fluentd/generators.go
Labels: approved, lgtm

#647 Remove obsolete e2e operator upgrade test
  hack/testing-olm/test-020-olm-upgrade.sh
  hack/testing-olm/utils
Labels: approved, lgtm

#635 Pin development tools with bingo
  .bingo/.gitignore
  .bingo/README.md
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/go.mod
  .bingo/golangci-lint.mod
  .bingo/junitreport.mod
  .bingo/operator-sdk.mod
  .bingo/opm.mod
  .bingo/variables.env
  Dockerfile
  Dockerfile.e2e
  Makefile
  go.mod
  golangci.yaml
  hack/generate-crd.sh
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/visualization.go
  pkg/utils/utils.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/oc/runner.go
  vendor/modules.txt
Labels: approved, lgtm

#651 Bug 1864397: Revert sniffer class deletion for collector es output
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#650 Bug 1866537: Fix collector config warnings
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#590 [release-4.4] Bug 1855316: Add support label for s390x & ppc64le
  manifests/4.4/cluster-logging.v4.4.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, ok-to-test

#646 Bug 1866020: alert on error rate %
  files/fluentd/fluentd_prometheus_alerts.yaml
  pkg/k8shandler/fluentd.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#637 [release-4.4] Bug 1852639: fixing kibana not rolling out with updated secret
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, cherry-pick-approved, lgtm

#619 Cleanup cpaas related unwanted files
  manifests/generate_manifest.py
  manifests/render_templates
  render_templates
Labels: approved, lgtm

#653 Bug 1867129: Fix defaults for empty forwarder buffer spec
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#654 Fix must-gather copy script directives for imagebuilder
  Dockerfile
Labels: approved, lgtm

#598 Add development command to generate logforwarder configuration
  Makefile
  internal/cmd/forwarder-generator/main.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/configmap.go
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/cronjob.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/daemonset.go
  pkg/k8shandler/deployment.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/oauthclient.go
  pkg/k8shandler/prometheus_rule.go
  pkg/k8shandler/rbac.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/route.go
  pkg/k8shandler/secret.go
  pkg/k8shandler/secret_test.go
  pkg/k8shandler/service.go
  pkg/k8shandler/service_monitor.go
  pkg/k8shandler/serviceaccount.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm

#652 Bug 1866619: Default logstore retention policy so default LogForwarding is setup correctly
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/indexmanagement/indexmanagement_test.go
  pkg/k8shandler/logstore_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#657 Fix Makefile dependency problems
  .bingo/.gitignore
  .bingo/bingo.sum
  .bingo/golangci-lint.sum
  .bingo/junitreport.sum
  .bingo/operator-sdk.sum
  .bingo/opm.sum
  Makefile
  docs/HACKING.md
  hack/lib/util/text.sh
  pkg/apis/logging/v1/zz_generated.deepcopy.go
Labels: approved, lgtm

#655 LOG-831. Add scripts to run SVT workload
  Makefile
  hack/collector-only-45.yaml
  hack/collector-only.yaml
  hack/logforwarder.yaml
  hack/logforwarding.yml
  hack/svt/README.md
  hack/svt/test-svt.sh
Labels: approved, bugzilla/valid-bug, lgtm

#659 Bug 1852341: fix legacy syslog k8s Metadata
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#580 Bug 1870289: LOG-755: Make ClusterLogForwarder cluster scoped
  Makefile
  bundle/manifests/cluster-logging.v4.6.0.clusterserviceversion.yaml
  docs/HACKING.md
  hack/testing-olm/utils
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  olm_deploy/subscription/operator-group.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/k8shandler/reconciler.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm, release/4.6

#625 Bug 1861013: Disable LogFowarding when legacy protocols in use
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#649 Bug 1866531: [clf] Infrastructure logs are sent to application pipelines.
  Makefile
  olm_deploy/scripts/catalog-build.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/reconciler.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#673 Bug 1870898: Revert WATCH_NAMESPACE to unbreak clusterlogging
  manifests/4.6/cluster-logging.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#669 Bug 1868068: Evaluate daemonset init containers during reconciliation
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/utils/comparators/daemonsets/comparator.go
  pkg/utils/comparators/daemonsets/comparator_test.go
  pkg/utils/comparators/daemonsets/suite_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#675 Bug 1862367: fixed application namespace filtering
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/helpers/framework.go
  vendor/github.com/onsi/gomega/go.mod
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#672 make tests less verbose
  hack/common
  hack/testing-olm/test-030-collection.sh
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, bugzilla/valid-bug, lgtm

#681 Fixed namespace filtering test case
  test/e2e/collection/cleanup.sh
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/helpers/fluentd.go
Labels: approved, lgtm

#662 Bug 1873611: Fixed pretty print of fluentd.conf in cm/fluentd
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#676 Bug 1862050: Bind fluentd metrics to POD_IP to support ipv4 and ipv6
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/utils/comparators/daemonsets/comparator_test.go
  test/matchers/envvar.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#683 LOG-914: CI test Improvements
  hack/testing-olm/test-367-logforwarding.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/helpers/framework.go
Labels: approved, bugzilla/valid-bug, lgtm

#684 Bug 1852341: fix k8s_audit_level placeholder
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#677 LOG-720: Collect test artifacts using logging must-gather
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  hack/testing-olm/utils
  must-gather/collection-scripts/gather_collection_resources
Labels: approved, bugzilla/valid-bug, lgtm
