Repository openshift/cluster-logging-operator, pull requests merged in 2020-04, with the labels that each got.

#412 LOG-448 Convert pod labels to array of key=value
  hack/testing/test-050-collection.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/utils
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/flatten_labels_test.go
  test/e2e/collection/fluentd/fluentd_suite_test.go
  test/e2e/logforwarding/cleanup.sh
  test/helpers/clusterlogging.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/syslog.go
Labels: approved, lgtm, release/4.5

#436 Bug 1817592: fix Makefile in order to fix ART builds
  Makefile
Labels: approved, bugzilla/valid-bug, lgtm, release/4.5

#447 Fix pretty print of generated fluent.conf
  pkg/generators/forwarding/fluentd/generators.go
Labels: approved, lgtm

#429 LOG-682: Remove _output directory, simplify Makefile
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  README.md
  bin/README.md
  deploy/crds/logging.openshift.io_clusterloggings_crd.yaml
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/curation_test.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/logstore_test.go
  pkg/k8shandler/oauthclient.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm, release/4.5

#445 Generate fluent config for new syslog plugin
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/syslog/syslog_cert_generation.sh
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/helpers/syslog.go
Labels: approved, lgtm

#452 turn off ES verification at start to not stop log collection
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, release/4.5

#453 update owner file to include component
  OWNERS
Labels: approved, lgtm, release/4.5

#409 Bug 1812920: Adding nodeSelector to operator deployment
  manifests/4.4/cluster-logging.v4.4.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.4, size/XS

#455 fix logforwading test case flakiness
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/helpers/framework.go
Labels: approved, lgtm

#457 Overwrite pull policy for local olm based E2E tests
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#454 Make golangci-lint happy
  pkg/k8shandler/defaults.go
  pkg/k8shandler/secret.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm

#462 Fix minor lint error.
  test/helpers/framework.go
Labels: approved, lgtm

#464 File missing from previous merge: hack/get-operator-sdk.sh
  hack/get-operator-sdk.sh
Labels: approved, lgtm

#461 Formatted cm/fluentd:fluent.conf so it is usable with oc get cm/fluentd -oyaml
  Makefile
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/trustedcabundle.go
  test/helpers/framework.go
Labels: approved, lgtm

#466 Fix flaky test fluentd-prometheus-metrics
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
Labels: approved, lgtm

#450 LOG-653: GA cluster log forwarder API
  Makefile
  deploy/crds/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/condition.go
  pkg/apis/logging/v1/condition_test.go
  pkg/apis/logging/v1/forwarder_test.go
  pkg/apis/logging/v1/output.go
  pkg/apis/logging/v1/output_test.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/outputs/doc.go
  pkg/apis/logging/v1/outputs/elasticsearch.go
  pkg/apis/logging/v1/outputs/fluent.go
  pkg/apis/logging/v1/outputs/syslog.go
  pkg/apis/logging/v1/v1_suite_test.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, lgtm, release/4.5

#459 Bug 1793551: Intentional promtail image-reference mismatch
  manifests/4.5/image-references
Labels: approved, backport/4.3, backport/4.4, lgtm, release/4.5

#440 fixes the issue #439 where the status is not shown and gives a warning message that the field is invalid
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, lgtm, ok-to-test

#473 Uniform environment variable to skip cleanup for E2E tests
  README.md
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/test-020-olm-upgrade.sh
  hack/testing-olm/test-367-logforwarding.sh
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  test/e2e/logforwarding/cleanup.sh
Labels: approved, lgtm

#467 Updated syslog LF testcase for each syslog rfc
  hack/testing-olm/test-367-logforwarding.sh
  hack/testing/test-367-logforwarding.sh
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/cleanup.sh
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/syslog.go
Labels: approved, lgtm

#476 make manifests dir world writable in operator-registry image
  olm_deploy/operatorregistry/Dockerfile
Labels: lgtm

#470 Support filtering of container logs by namespace. (TP api)
  deploy/crds/logging.openshift.io_logforwardings_crd.yaml
  pkg/apis/logging/v1alpha1/forwarding_types.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#482 bug 1826095: make schema valid for clusterlogging
  .gitignore
  Makefile
  hack/testing-olm/assertions
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/utils
  manifests/4.5/cluster-loggings.crd.yaml
  manifests/4.5/collectors.crd.yaml
  manifests/4.5/logforwardings.crd.yaml
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/apis/logging/v1/zz_generated.defaults.go
  pkg/apis/logging/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/logging/v1alpha1/zz_generated.defaults.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/reconciler.go
  pkg/logger/logger.go
Labels: approved, bugzilla/urgent, bugzilla/valid-bug, lgtm, release/4.5

#479 Bug 1780698: Fix disk pressure for fluentd buffer chunks
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/files/secure-forward.conf
Labels: approved, bugzilla/high, bugzilla/valid-bug, lgtm

#463 [release-4.3] Bug 1822152: Updating so Kibana properly handles cert redeploys
  pkg/controller/add_controllers.go
  pkg/controller/kibanasecret/kibanasecret_controller.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/route.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.3

#449 [release-4.3] Bug 1813381: addressing lf causing cert reconciliation
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/controller/forwarding/forwarding_controller.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/visualization.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm

#492 Bug 1817097: Grant perm to set owner ref to metrics Service resource
  manifests/4.5/cluster-logging.v4.5.0.clusterserviceversion.yaml
Labels: approved, bugzilla/medium, bugzilla/valid-bug, lgtm

#474 Enhance debug experience for E2E operator registry
  hack/testing-olm/test-020-olm-upgrade.sh
  hack/testing-olm/utils
Labels: approved, bugzilla/valid-bug, lgtm

#493 Update dockerfile to get registry Binary from bin
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, bugzilla/valid-bug, lgtm

#484 Fix kibana image env var override for olm deployments
  olm_deploy/scripts/registry-init.sh
Labels: approved, bugzilla/valid-bug, lgtm

#489 remove obsolete test logic
  Makefile
  hack/common
  hack/lib/cleanup.sh
  hack/test-e2e.sh
  hack/testing-olm/utils
  hack/testing/assertions
  hack/testing/test-010-deploy-via-olm-minimal.sh
  hack/testing/test-020-olm-upgrade.sh
  hack/testing/test-050-collection.sh
  hack/testing/test-367-logforwarding.sh
  hack/testing/test-999-fluentd-prometheus-metrics.sh
  hack/testing/utils
Labels: approved, bugzilla/valid-bug, lgtm

#496 Added a wrapper over oc to run oc commands from golang
  test/helpers/framework.go
  test/helpers/oc/command.go
  test/helpers/oc/doc.go
  test/helpers/oc/exec.go
  test/helpers/oc/exec_test.go
  test/helpers/oc/get.go
  test/helpers/oc/get_test.go
  test/helpers/oc/literal.go
  test/helpers/oc/literal_test.go
  test/helpers/oc/oc_suite_test.go
  test/helpers/oc/runner.go
Labels: approved, bugzilla/valid-bug, lgtm

#494 fix up make deploy to use catalog
  .dockerignore
  Makefile
  hack/deploy-eo.sh
  hack/deploy-image.sh
  olm_deploy/scripts/catalog-build.sh
Labels: approved, bugzilla/valid-bug, lgtm
