Repository openshift/cluster-logging-operator, pull requests merged in 2021-09, with the labels that each got.

#1149 LOG-1392: Output flush_interval only with flush_mode=interval
  pkg/generator/fluentd/output/buffer.go
  pkg/generator/fluentd/output/buffer_conf.go
  pkg/generator/fluentd/output/buffer_conf_test.go
  pkg/generator/fluentd/output/output_fluentd_buffer_test.go
  pkg/generator/fluentd/output/syslog/syslog.go
  pkg/generator/generator.go
  pkg/generator/keyval.go
Labels: approved, lgtm

#1152 Use pinned operand image versions from quay.io
  Makefile
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  docs/deploy-event-router.md
  hack/eventrouter-template.yaml
  internal/cmd/functional-benchmarker/main.go
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/registry-init.sh
  test/helpers/fluentd.go
  test/helpers/fluentd/receiver.go
Labels: approved, lgtm

#1155 [release-5.0] Use pinned operand image versions from quay.io
  Makefile
  bundle/manifests/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/image-references
  olm_deploy/scripts/registry-init.sh
  test/helpers/fluentd.go
  test/helpers/fluentd/receiver.go
Labels: approved, lgtm

#1159 LOG-1733: Improve must-gather for ES store
  must-gather/README.md
  must-gather/collection-scripts/gather_logstore_resources
Labels: approved, lgtm

#1160 Made test.UniqueName generate names that are more unique
  test/helpers.go
Labels: approved, lgtm

#1164 Add internal to test-unit after sdk bump
  Makefile
  internal/generator/vector/sources_test.go
Labels: approved, lgtm

#1163 LOG-1736:fluentd total_limit_size wrong values echoed
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/utils/quantity.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, lgtm

#1167 LOG-1737:fluentd total_limit_size wrong values echoed
  pkg/components/fluentd/run_script.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/utils/quantity.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, lgtm

#1171 Sync Dockerfile with midstream
  Dockerfile
  Dockerfile.in
Labels: approved, lgtm, midstream/Dockerfile

#1143 Bug 1976692: fluentd total_limit_size fix
  files/fluentd/run.sh
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#1175 LOG-1752: Remove Kafka e2e test to single topic
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
Labels: approved, lgtm

#1178 LOG-1752: Remove Kafka e2e test to single topic
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
Labels: approved, lgtm

#1179 LOG-1752: Remove Kafka e2e test to single topic
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
Labels: approved, lgtm

#1170 Bump bundle to use channels for 5.3
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.3.0.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging-operator.clusterserviceversion.yaml
  manifests/5.3/0100_clusterroles.yaml
  manifests/5.3/0110_clusterrolebindings.yaml
  manifests/5.3/cluster-logging.v5.3.0.clusterserviceversion.yaml
  manifests/5.3/image-references
  manifests/5.3/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.3/logging.openshift.io_clusterloggings_crd.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
Labels: approved, lgtm, midstream/Dockerfile

#1089 LOG-1337: Prep CLO for collector migration
  Makefile
  hack/testing-olm/assertions
  internal/constants/constants.go
  internal/k8shandler/certificates_test.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/fluentd_test.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/status.go
  internal/utils/utils.go
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_install_resources
  test/e2e/collection/cleanup.sh
  test/e2e/collection/fluentd/collector_only_test.go
  test/e2e/collection/fluentd/container_security_test.go
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/fluent/fixture_test.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/multiple_outputs/forward_to_multiple_outputs_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/functional/framework.go
  test/functional/metrics/fluentd_test.go
  test/functional/outputs/loki/application_logs_test.go
  test/helpers/framework.go
Labels: approved, lgtm

#1180 Fix bundle annotations for release 5.3
  Dockerfile
  Dockerfile.in
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
Labels: approved, lgtm, midstream/Dockerfile

#1169 LOG-1739: Stop flushing buffers at shutdown
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_loki_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, lgtm

#1151 Bug 2000742: Output flush_interval only with flush_mode=interval
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low

#1158 LOG-1494: Use "json", "single_json_value" formatter to fix syslog output
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/generator/fluentd/output/syslog/syslog.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/functional/outputs/forward_to_syslog_test.go
Labels: approved, lgtm

#1181 Bug 2005955: Limit cluster-logging-operator bundle only on OCP 4.6.z
  bundle/metadata/annotations.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high

#1189 Update all generated files using current toolset.
  Makefile
  bundle.Dockerfile
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
  manifests/5.3/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.3/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1182 LOG-1725 Summarize Recognized Auth Keys.
  .zz_generate_timestamp
  Makefile
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/output_types.go
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/constants/constants.go
  internal/generator/fluentd/output/kafka/kafka.go
  internal/generator/fluentd/output/kafka/output_conf_kafka_test.go
  internal/generator/fluentd/output/security/security.go
  internal/generator/fluentd/output/security/security_test.go
Labels: approved, lgtm, midstream/Dockerfile

#1192 LOG-1717: Add multiline error detection
  Makefile
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/multiline_detect_exceptions.go
  internal/generator/fluentd/multiline_detect_exceptions_test.go
  test/functional/normalization/multiline_exception_test.go
Labels: approved, lgtm, release/5.3

#1191 LOG-1422: Remove legacy CLF Support
  internal/cmd/forwarder-generator/main.go
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/inputs_to_pipeline.go
  internal/generator/fluentd/output/legacy/legacy.go
  internal/generator/fluentd/output/legacy/legacy_test.go
  internal/generator/fluentd/output/legacy/output_conf_legacy_test.go
  internal/generator/fluentd/outputs.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/fluentd/sources_to_inputs.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/logging.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/forwarding.go
  internal/pkg/generator/forwarder/generator.go
  test/e2e/logforwarding/fluentlegacy/forward_to_fluent_test.go
  test/e2e/logforwarding/fluentlegacy/logforwarding_suite_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
  test/e2e/logforwarding/sysloglegacy/logforwarding_suite_test.go
  test/functional/framework.go
Labels: approved, lgtm, release/5.3

#1194 [release-5.2] LOG-1390: Allow optional pod_ip for eventrouter tests
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.2

#1193 LOG-1390: Allow optional pod_ip for eventrouter tests
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.3

#1195 [release-5.1] LOG-1390: Allow optional pod_ip for eventrouter tests
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.1

#1168 LOG-1738: fluentd total_limit_size sets value beyond available space
  pkg/components/fluentd/run_script.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_loki_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, lgtm

#1197 LOG-1776:fluentd total_limit_size sets value beyond available space
  internal/components/fluentd/run_script.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/buffer.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/fluentdforward/output_conf_forward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/output_conf_kafka_test.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/fluentd_test.go
Labels: approved, lgtm
