Repository openshift/cluster-logging-operator, pull requests merged in 2021-08, with the labels that each got.

#1096 LOG-1267: Loki output implementation.
  .gitignore
  Makefile
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  go.mod
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/output_types_test.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/loki_conf.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_loki_test.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/generators/helpers.go
  test/client/client.go
  test/client/route.go
  test/client/test.go
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/functional/framework.go
  test/functional/message_templates.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/message_format_test.go
  test/functional/outputs/forward_to_loki_test.go
  test/helpers.go
  test/helpers/framework.go
  test/helpers/loki/receiver.go
  test/helpers/loki/receiver_test.go
  test/helpers/types/types.go
  test/helpers_test.go
  test/runtime/core.go
  test/runtime/openshift.go
  test/runtime/service.go
  testme.sh
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: approved, lgtm

#1120 LOG-1411: Calculate recommended queued_chunks_limit_size with fluentd tuning parameters
  pkg/components/fluentd/run_script.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
Labels: approved, lgtm

#1127 LOG-974: Fixed ES username/password feature
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/helpers.go
  pkg/generators/forwarding/fluentd/helpers_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, lgtm

#1128 Remove testme.sh, comitted by mistake.
  testme.sh
Labels: approved, lgtm

#1129 LOG-1102: Finalize Log forwarding to Cloudwatch for GA
  pkg/generators/forwarding/fluentd/output_cloudwatch_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, lgtm

#1102 Clo local
  must-gather/collection-scripts/gather_logstore_resources
Labels: approved, lgtm

#1121 LOG-1629: Default deploy from quay in lieu of registry.ci
  hack/testing-olm/test-040-eventrouter.sh
  olm_deploy/operatorregistry/Dockerfile
  olm_deploy/operatorregistry/registry-deployment.yaml
  olm_deploy/scripts/catalog-build.sh
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/catalog-uninstall.sh
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/operator-install.sh
  olm_deploy/scripts/operator-uninstall.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm, midstream/Dockerfile

#1124 Add conditional for EO setup in e2e tests
  hack/test-e2e-olm.sh
Labels: approved, lgtm

#1134 LOG-1681: Delay refresh to allow startup to bind metrics listener
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1135 LOG-1683: fix bundle/manifests to include loki
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#1136 LOG-1684: Update lint to check manifest dir vs bundle/manifest
  hack/run-linter
Labels: approved, lgtm, release/5.2

#1137 LOG-1685: Delay refresh to allow startup to bind metrics listener
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, release/5.1

#1122 LOG-1464: Disable audit log source when only legacy syslog forwarding enabled
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go.rej
Labels: approved, lgtm

#1140 Remove output_conf_legacy_test.go.rej commited by mistake
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go.rej
Labels: approved, lgtm

#1141 Added command to fetch indices size and creation time in file indices…
  must-gather/collection-scripts/gather_logstore_resources
Labels: approved, lgtm

#1133 Bug 1929363: Delay refresh to allow startup to bind metrics listener
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, release/4.6

#1142 Collecting buffer size inside fluentd pods for every output pipeline
  must-gather/collection-scripts/gather_collection_resources
Labels: approved, lgtm

#1147 LOG-1702: Loki getting out-of-order audit logs.
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1145 LOG-1709: Migrate off v1beta1 Kube APIs deprecated in 1.22
  hack/gen-olm-artifacts.py
Labels: approved, lgtm

#1150 LOG-1723: Output flush_interval only with flush_mode=interval
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm
