Repository openshift/cluster-logging-operator, pull requests merged in 2021-03, with the labels that each got.

#924 fix logging version
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, lgtm

#922 use image env vars instead of IMAGE_FORMAT
  Dockerfile.e2e
  must-gather/collection-scripts/gather
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#927 Create README.md for this docs directory
  docs/README.md
Labels: approved, lgtm, ok-to-test

#928 LOG-699 - add forward to elasticsearch functional test
  test/functional/cluster_log_forwarder.go
  test/functional/elasticsearch.go
  test/functional/framework.go
  test/functional/outputs/forward_to_elasticsearch_test.go
  test/runtime/pod.go
Labels: approved, lgtm

#931 LOG-1169: Fix no icon on CLO in Operator Hub
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
Labels: approved, lgtm

#896 Bug 1928949: Write to default logstore when legacy forwarding enabled
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#937 Bug 1892511: Renamed level field in k8s/openshift audit logs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/sysloglegacy/forward_to_syslog_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5

#939 LOG-1180: add docs to enable merge_json
  docs/images/warn.jpg
  docs/unmanaged_configuration.md
Labels: approved, lgtm

#868 Bug 1911477: Write to default logstore when legacy forwarding enabled
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5

#943 Changed registry.svc.ci to registry.ci
  Dockerfile
Labels: approved, lgtm

#948 Change pulp host in art.repo
  art.repo
Labels: approved, lgtm

#940 LOG-1187: Set component NO_PROXY,HTTP_PROXY from environment variables
  pkg/controller/add_controllers.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/visualization.go
  pkg/utils/suite_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm

#926 Bug 1929420: ClusterLogForwarder with Output.Secret causes fluentd crash loop
  internal/cmd/forwarder-generator/main.go
  pkg/constants/constants.go
  pkg/generators/factory.go
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/url/url.go
  test/e2e/logforwarding/fluent/forward_to_fluent_test.go
  test/files/secure-forward.conf
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#945 fix bundle for upstream
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterloggings_crd.yaml
  test/functional/normalization/message_format_test.go
Labels: approved, lgtm

#946 fix internal generator tool and always test
  Makefile
  internal/cmd/forwarder-generator/main.go
  internal/pkg/generator/forwarder/generator.go
Labels: approved, lgtm

#934 LOG-1157: Implement Json Forwarding: Parse Json Message
  Makefile
  internal/cmd/functional-benchmarker/main.go
  internal/pkg/generator/forwarder/generator.go
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/certificates/certificates.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/utils/utils.go
  test/functional/framework.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/message_format_test.go
  test/functional/output_forward.go
  test/helpers.go
  test/helpers/fluentd/receiver.go
  test/helpers/types/types.go
  test/matchers/errors.go
Labels: approved, lgtm

#956 Fix for forward_to_syslog test flake
  hack/testing-olm/test-367-logforwarding.sh
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/helpers/framework.go
Labels: approved, lgtm

#952 Cleanup of the eventrouter e2e test
  Makefile
  hack/common
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm

#923 use image env vars instead of IMAGE_FORMAT
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm, release/tech-preview

#936 Bug 1904380 - Forwarding logs to Kafka using Chained certificates fails with error "state=error: certificate verify failed (unable to get local issuer certificate)
  go.mod
  go.sum
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/helpers/certificate/certificate.go
  test/helpers/certificate/certificate_jks.go
  test/helpers/certificate/certificate_test.go
  test/helpers/kafka.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/constants.go
  test/helpers/kafka/consumer.go
  test/helpers/kafka/zookeeper.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitignore
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.Dockerfile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.yml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.golangci.yaml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/LICENSE
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/Makefile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/README.md
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/common.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/decoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/encoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/go.mod
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keyprotector.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keystore.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: approved, backport/4.6, backport/5.0, lgtm, release/5.1

#955 LOG-1123: fix routing of app logs per namespace
  pkg/apis/logging/v1/cluster_log_forwarder.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/helpers.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#941 LOG-1160: Added credentials update event
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  pkg/certificates/certificates.go
  pkg/constants/constants.go
  pkg/controller/clusterlogging/clusterlogging_controller.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/reconciler.go
  test/functional/framework.go
  test/helpers/framework.go
  vendor/github.com/onsi/gomega/go.mod
Labels: approved, lgtm

#960 LOG-1238: Add hack script to create deployment list
  docs/HACKING.md
  hack/gen-olm-artifacts.py
Labels: approved, lgtm
