Repository openshift/cluster-logging-operator, pull requests merged in 2021-02, with the labels that each got.

#871 LOG-1034: Allow selectively running e2e tests for EO
  Makefile
  hack/test-e2e-olm.sh
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#873 Revert "Bug 1915454: Enable deployment on OCP v4.6"
  bundle.Dockerfile
Labels: approved, bugzilla/valid-bug, lgtm, release/4.7

#872 Bug 1888943: update spec doc for url and secret fields.
  manifests/4.7/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.7/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#858 Bug 1915840: Store secrets in one place and utilize mutex
  Dockerfile
  Makefile
  hack/testing-olm/test-999-fluentd-prometheus-metrics.sh
  pkg/certificates/certificates.go
  pkg/constants/constants.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/conditions.go
  pkg/k8shandler/configmap.go
  pkg/k8shandler/consoleexternalloglink.go
  pkg/k8shandler/cronjob.go
  pkg/k8shandler/curation.go
  pkg/k8shandler/daemonset.go
  pkg/k8shandler/deployment.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/k8shandler/logstore.go
  pkg/k8shandler/oauthclient.go
  pkg/k8shandler/prometheus_rule.go
  pkg/k8shandler/promtail.go
  pkg/k8shandler/rbac.go
  pkg/k8shandler/reconcile_collector.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/route.go
  pkg/k8shandler/secret.go
  pkg/k8shandler/secret_test.go
  pkg/k8shandler/service.go
  pkg/k8shandler/service_monitor.go
  pkg/k8shandler/serviceaccount.go
  pkg/k8shandler/trustedcabundle.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
  pkg/utils/utils.go
  scripts/cert_generation.sh
  test/helpers/elasticsearch.go
  test/helpers/fluentd.go
  test/helpers/framework.go
  test/helpers/syslog.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.5

#878 Log1034 for46
  Makefile
  hack/test-e2e-olm.sh
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#877 LOG-1050: Add TP manifest 5.1.0.beta1
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.1.0.beta1.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  manifests/4.7/cluster-logging.v4.7.0.clusterserviceversion.yaml
  manifests/5.0/0100_clusterroles.yaml
  manifests/5.0/0110_clusterrolebindings.yaml
  manifests/5.0/image-references
  manifests/5.0/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.0/logging.openshift.io_clusterloggings_crd.yaml
  manifests/5.1.beta1/0100_clusterroles.yaml
  manifests/5.1.beta1/0110_clusterrolebindings.yaml
  manifests/5.1.beta1/cluster-logging.v5.1.0.beta1.clusterserviceversion.yaml
  manifests/5.1.beta1/image-references
  manifests/5.1.beta1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1.beta1/logging.openshift.io_clusterloggings_crd.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/operator-install.sh
  test/functional/framework.go
Labels: approved, lgtm

#885 Tech preview update latest master
  Makefile
  docs/HACKING.md
  hack/test-e2e-olm.sh
  hack/testing-olm/test-367-logforwarding.sh
  hack/update-pull-secret.sh
  internal/pkg/generator/forwarder/generator.go
  manifests/5.1.beta1/cluster-logging.v5.1.0.beta1.clusterserviceversion.yaml
  manifests/5.1.beta1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/certificates/certificates.go
  pkg/components/fluentd/run_script.go
  pkg/constants/constants.go
  pkg/generators/factory.go
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/url/url.go
  pkg/utils/quantity.go
  pkg/utils/quantity_test.go
  scripts/cert_generation.sh
  test/client/clf.go
  test/client/client.go
  test/client/watch.go
  test/client/watch_test.go
  test/e2e/logforwarding/fluent/fixture_test.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_suite_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/helpers.go
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
  test/helpers/fluentd/receiver.go
  test/helpers/fluentd/receiver_test.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
  test/matchers/diff.go
  test/matchers/errors.go
Labels: approved

#880 Update container registry to registry.ci.openshift.org
  Dockerfile
  Dockerfile.centos.patch
  Dockerfile.e2e
  hack/common
  hack/testing-olm/test-040-eventrouter.sh
  olm_deploy/operatorregistry/Dockerfile
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, lgtm

#834 Bug 1906479: Set forward heartbeat to none
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#889 [release-4.5] Bug 1927537: LOG-965: remove username and password from fluentd conf
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#888 Extend timeout waiting for eventrouter to deploy
  hack/eventrouter-template.yaml
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm

#879 Bug 1921263: Write to default logstore when legacy forwarding enabled
  internal/pkg/generator/forwarder/generator.go
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm, release/4.7

#883 Bug 1889595: Fix regex for correct formatting if log message contains 'stderr|stdout'
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/functional/logforwarding/message_format_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#891 Extend the wait time for the eventrouter to deploy.
  hack/eventrouter-template.yaml
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm

#838 fluentd instance not getting created in CRC error fix
  pkg/k8shandler/collection.go
Labels: approved, lgtm

#884 Master into postrelease
  Makefile
  docs/HACKING.md
  hack/test-e2e-olm.sh
  hack/testing-olm/test-367-logforwarding.sh
  hack/update-pull-secret.sh
  internal/pkg/generator/forwarder/generator.go
  manifests/4.7/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/certificates/certificates.go
  pkg/components/fluentd/run_script.go
  pkg/constants/constants.go
  pkg/generators/factory.go
  pkg/generators/forwarding/factory.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  pkg/url/url.go
  pkg/utils/quantity.go
  pkg/utils/quantity_test.go
  scripts/cert_generation.sh
  test/client/clf.go
  test/client/client.go
  test/client/watch.go
  test/client/watch_test.go
  test/e2e/logforwarding/fluent/fixture_test.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_suite_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/helpers.go
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
  test/helpers/fluentd/receiver.go
  test/helpers/fluentd/receiver_test.go
  test/helpers/framework.go
  test/helpers/kafka.go
  test/helpers/syslog.go
  test/matchers/diff.go
  test/matchers/errors.go
Labels: approved

#841 Functional tests for LogForwarding EventRouter messages
  test/functional/normalization/eventrouter_test.go
  test/helpers/types/types.go
Labels: approved, lgtm

#844 Replace fmt.Print with log.Error
  pkg/k8shandler/reconciler.go
Labels: approved, lgtm

#897 Extend the wait time for the eventrouter to deploy.
  hack/eventrouter-template.yaml
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm, release/5.0

#866 LOG-1062: remove 4.7 manifest
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.0.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/metadata/annotations.yaml
  hack/test-e2e-olm.sh
  manifests/4.7/0100_clusterroles.yaml
  manifests/4.7/0110_clusterrolebindings.yaml
  manifests/4.7/cluster-logging.v4.7.0.clusterserviceversion.yaml
  manifests/4.7/image-references
  manifests/4.7/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.7/logging.openshift.io_clusterloggings_crd.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/operator-install.sh
Labels: approved, lgtm

#894 LOG-1143: fix using spec'd secret in config instead of output name
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
Labels: approved, backport/4.6, backport/5.0, lgtm, release/5.1

#901 Updated manifest to version 5.1
  manifests/5.1/0100_clusterroles.yaml
  manifests/5.1/0110_clusterrolebindings.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/image-references
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterloggings_crd.yaml
  manifests/cluster-logging.package.yaml
Labels: approved, lgtm

#895 LOG-1143: fix using spec'd secret in config instead of output name
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
Labels: approved, lgtm, release/5.0

#839 LOG-1002: Add cloudwatch logforwarding type
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  internal/pkg/generator/forwarder/generator.go
  manifests/5.1.beta1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/output_types_test.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_cloudwatch_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm, release/5.1

#903 Revert LOG-1143
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
Labels: approved, lgtm, release/5.0

#893 LOG-1041: Changed 'Cluster Logging' in CSV to 'Red Hat OpenShift Logging'
  bundle/manifests/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
Labels: approved, cherry-pick/master, lgtm, release/5.0

#907 fix OCP version to be v4.7
  Makefile
  bundle.Dockerfile
  hack/generate-bundle.sh
Labels: approved, lgtm

#911 LOG-1155: fix cloudwatch output verification
  internal/cmd/forwarder-generator/main.go
  internal/pkg/generator/forwarder/generator.go
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, lgtm

#912 Add 'downstream' PR label for Dockerfile changes
  OWNERS
Labels: approved, lgtm

#910 LOG-1108: ClusterName for CloudWatch feature
  pkg/apis/logging/v1/output_types.go
  pkg/constants/constants.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm

#915 Fix catalog-deploy script
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, cherry-pick/master, lgtm

#917 Gather OLM pod logs
  hack/testing-olm/test-040-eventrouter.sh
  must-gather/collection-scripts/gather
Labels: approved, lgtm

#906 LOG-962: Add test to verify forward to Logstash
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/k8shandler/forwarding.go
  test/functional/cluster_log_forwarder.go
  test/functional/framework.go
  test/functional/message_templates.go
  test/functional/normalization/eventrouter_test.go
  test/functional/output_forward.go
  test/functional/outputs/forward_to_logstash_test.go
  test/functional/outputs/unavailable_forward_output_test.go
  test/matchers/log_format.go
  test/runtime/pod.go
Labels: approved, lgtm, release/5.1

#919 use image env vars instead of IMAGE_FORMAT
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#904 Revert "LOG-1143: fix using spec'd secret in config instead of output…
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
Labels: approved, lgtm, release/5.1

#890 LOG-1125: Set component NO_PROXY,HTTP_PROXY from environment variables
  pkg/controller/add_controllers.go
  pkg/controller/proxyconfig/proxyconfig_controller.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/k8shandler/reconciler.go
  pkg/k8shandler/visualization.go
  pkg/utils/suite_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm, release/5.1
