Repository openshift/cluster-logging-operator, pull requests merged in 2021-05, with the labels that each got.

#987 Bug1891623: Change expression for Fluentd file buffer usage
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1000 LOG-1327: Port fix to 5.1.0 for BZ-1945168
  pkg/constants/constants.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/forwarding_test.go
  scripts/cert_generation.sh
Labels: approved, lgtm

#1005 Update the CentOS Dockerfile patch for adjustment
  Dockerfile.centos.patch
Labels: approved, lgtm

#1001 LOG-1328: Port fix to 5.0.z for BZ-1945168
  pkg/constants/constants.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/forwarding_test.go
  scripts/cert_generation.sh
Labels: approved, lgtm

#1009 Reverting dashboard changes from earlier PR(JIRA ticket LOG-1320)
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm, release/5.1

#1007 LOG-1329: Setup release-5.2
  Dockerfile
  Dockerfile.in
  Makefile
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  hack/generate-dockerfile-from-midstream
  manifests/5.2/0100_clusterroles.yaml
  manifests/5.2/0110_clusterrolebindings.yaml
  manifests/5.2/cluster-logging.clusterserviceversion.yaml
  manifests/5.2/image-references
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
  manifests/art.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/operatorregistry/Dockerfile
  olm_deploy/scripts/catalog-deploy.sh
Labels: approved, lgtm, midstream/Dockerfile, release/5.2

#998 Bug 1942609: removing logic to control replicas for kibana
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, cherry-pick-approved, lgtm

#1012 Replace OCP_VERSION with LOGGING_VERSION
  Makefile
  hack/generate-crd.sh
Labels: approved, lgtm

#996 LOG-974: Enable username and password for Kafka and Elastic
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm

#1006 Removed curator5 references from 5.1 CSV
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1004 LOG-1012 Clarify meaning of Ready and Degraded conditions.
  pkg/apis/logging/v1/conditions.go
Labels: approved, lgtm

#999 Fix built-in application behavior to collect all of logs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1015 Fixed must-gather events collection
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm

#1014 Capture eo subscription
  must-gather/collection-scripts/gather_install_resources
  olm_deploy/scripts/operator-install.sh
Labels: approved, lgtm

#1020 LOG-1370 Change name of elasticsearch.indexKey to structuredIndexKey
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1016 LOG-1354: No datapoints found on Elastic Query/Fetch Latency dashboard
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#1019 LOG-1370 Change name of elasticsearch.indexKey to structuredIndexKey
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1021 LOG-1355: Support outputDefaults in Log Forwarding
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/conditions.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
Labels: approved, lgtm

#1028 Update the openshift CI token request URL in HACKING.md
  docs/HACKING.md
Labels: approved, lgtm

#1010 Fixed skip range for 5.1
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1023 LOG-1385: priorityclasses.v1beta1.scheduling.k8s.io is removed in 1.22 and replaced by priorityclasses.v1.scheduling.k8s.io
  pkg/k8shandler/priorityclass.go
Labels: approved, lgtm

#1040 Update references to CI build images
  Makefile
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  docs/deploy-event-router.md
  hack/eventrouter-template.yaml
  hack/testing-olm/utils
  internal/cmd/functional-benchmarker/main.go
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/image-references
  must-gather/README.md
  olm_deploy/scripts/registry-init.sh
  test/helpers/fluentd.go
  test/helpers/fluentd/receiver.go
Labels: approved, lgtm

#969 [release-4.6] Bug 1904380: Forwarding logs to Kafka using Chained certificates fails with error "state=error: certificate verify failed (unable to get local issuer certificate)
  Makefile
  go.mod
  go.sum
  pkg/utils/utils.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/helpers.go
  test/helpers/certificate/certificate.go
  test/helpers/certificate/certificate_jks.go
  test/helpers/certificate/certificate_test.go
  test/helpers/kafka.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/constants.go
  test/helpers/kafka/consumer.go
  test/helpers/kafka/zookeeper.go
  test/matchers/errors.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitignore
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.Dockerfile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.yml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.golangci.yaml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/LICENSE
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/Makefile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/README.md
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/common.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/decoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/encoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/go.mod
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keyprotector.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keystore.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#1043 Minor test and Makefile fixes.
  .zz_generate_timestamp
  Makefile
  docs/HACKING.md
  hack/deploy-image.sh
  hack/undeploy.sh
  test/client/test.go
  test/functional/framework.go
  test/helpers.go
  test/helpers/framework.go
  test/helpers/oc/runner.go
  test/helpers_test.go
Labels: approved, lgtm
