Repository openshift/cluster-logging-operator, pull requests merged in 2021-07, with the labels that each got.

#1079 Fix race condition in registry.sh
  hack/registry.sh
Labels: approved, lgtm

#1083 Revert LOG-1372, LOG-974 for release-5.1
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm

#1003 LOG-904: improve security posture of the fluentd container
  cmd/manager/main.go
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
  pkg/components/fluentd/run_script.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/collection_test.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/scc.go
  pkg/utils/utils.go
  test/e2e/collection/fluentd/container_security_test.go
  test/functional/framework.go
  vendor/github.com/openshift/api/security/v1/0000_03_security-openshift_01_scc.crd.yaml
  vendor/github.com/openshift/api/security/v1/consts.go
  vendor/github.com/openshift/api/security/v1/doc.go
  vendor/github.com/openshift/api/security/v1/generated.pb.go
  vendor/github.com/openshift/api/security/v1/generated.proto
  vendor/github.com/openshift/api/security/v1/legacy.go
  vendor/github.com/openshift/api/security/v1/register.go
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/api/security/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/security/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: approved, lgtm

#1085 Fix hack/registry.sh for CI
  hack/registry.sh
Labels: approved, lgtm

#1088 Revert Makefile registry changes
  .gitignore
  Makefile
  hack/deploy-image.sh
  hack/registry.sh
Labels: approved, lgtm

#1072 LOG-1500: Discard messages after 60m instead of retry forever
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, release/5.2

#1091 In the fluentd container security test, account for multiple containers in the fluentd pod
  test/e2e/collection/fluentd/container_security_test.go
Labels: approved, lgtm

#1071 Updated Dockerfile.in to not use ART images
  Dockerfile
  Dockerfile.in
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1090 LOG-1499: Force encoding to utf-8 and replace invalid chars
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1094 Update OWNERS
  OWNERS
Labels: approved, lgtm

#1008 LOG-1572: Fix built-in application behavior to collect all of logs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#979 Go implementation log file exporter jira ticket log 1188
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
  olm_deploy/operatorregistry/registry-deployment.yaml
  olm_deploy/scripts/catalog-deploy.sh
  pkg/constants/constants.go
  pkg/k8shandler/fluentd.go
  pkg/k8shandler/fluentd_test.go
  pkg/utils/utils.go
Labels: approved, lgtm, midstream/Dockerfile

#1101 Log499revert
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1100 LOG-1576: Revert utf-8 encoding and revert LOG-1569
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, release/5.1

#1103 LOG-1525: Allow use private key protected by the passphrase
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1108 fix CI deployment of log-file-metric-exporter
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#1092 LOG-1102: Finalize Log forwarding to Cloudwatch for GA
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  internal/pkg/generator/forwarder/generator.go
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/output_types_test.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_cloudwatch_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/clusterloggingrequest.go
  pkg/k8shandler/forwarding.go
  pkg/k8shandler/forwarding_test.go
Labels: approved, lgtm

#1093 Adding changes to collect OVN audit logs LOG-1526
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/source.go
  pkg/generators/forwarding/fluentd/source_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/fluentd.go
  test/functional/framework.go
  test/functional/normalization/message_format_test.go
  test/functional/output_forward.go
  test/helpers/fluentd.go
  test/helpers/types/types.go
  test/helpers/types/types_test.go
Labels: approved, lgtm

#1110 LOG-1590: Bump viaq/logerr to v1.0.10
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/LICENSE
  vendor/modules.txt
Labels: approved, lgtm

#1099 Bug 1981579: Fix built-in application to collect all of logs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#1114 Changed 'Cluster Logging' in CSV to 'RedHat OpenShift Logging
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1115 Changed 'Cluster Logging' in CSV to 'RedHat OpenShift Logging'
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1113 [release-4.6] Bug 1985201: Bump viaq/logerr v1.0.10
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/LICENSE
  vendor/github.com/ViaQ/logerr/log/encoding.go
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, group-lead-approved, lgtm

#1116 Fix bundle package name
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
Labels: approved, lgtm, midstream/Dockerfile

#1119 fix for LOG-1623 - Metric log_collected_bytes_total is not exposed
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1018 LOG-1286: Pick daemon names when configuring addLogSource field
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
Labels: approved, lgtm

#1123 Added read perms for config.openshift.io/infrastructures, needed for cloudwatch
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
Labels: approved, lgtm
