Repository openshift/cluster-logging-operator, pull requests merged in 2021-06, with the labels that each got.

#1042 LOG-1440: Add OLM bug workaround for workload partitioning
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1046 LOG-1446: kibana-proxy CrashLoopBackoff with error Invalid configuration cookie_secret must be 16, 24, or 32 bytes to create an AES cipher
  scripts/cert_generation.sh
Labels: approved, lgtm

#1055 [Release-4.8] LOG-1442: Add mgmt workload annotations, OLM bug workaround
  bundle/manifests/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
  olm_deploy/operatorregistry/registry-deployment.yaml
  pkg/k8shandler/daemonset.go
  pkg/k8shandler/deployment.go
Labels: approved, lgtm

#1049 Fix broken Makefile - expose cluster registry route explicitly.
  .gitignore
  Makefile
Labels: approved, lgtm

#1041 release-5.1 Update references to CI build images
  Makefile
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  docs/deploy-event-router.md
  hack/eventrouter-template.yaml
  hack/testing-olm/utils
  internal/cmd/functional-benchmarker/main.go
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/image-references
  must-gather/README.md
  olm_deploy/scripts/registry-init.sh
  test/helpers/fluentd.go
  test/helpers/fluentd/receiver.go
Labels: approved, lgtm

#1065 Bug 1971003: [release-4.6] Support Adding log source info to log message
  manifests/4.6/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/4.6/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/syslog_conf.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/helpers/framework.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#1060 LOG-1459: Annotate with infrastructure features
  bundle/manifests/cluster-logging.v5.0.0.clusterserviceversion.yaml
  manifests/5.0/cluster-logging.v5.0.0.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.0

#1059 LOG-1458: Annotate with infrastructure features
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1067 Fixed CSV for icon
  bundle.Dockerfile
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.2/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1062 LOG-1421: Modify channels to PE recommendations
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
  hack/generate-crd.sh
Labels: approved, lgtm, midstream/Dockerfile

#1039 LOG-1400: elasticsearch output should add app- prefix to index names
  manifests/5.2/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/functional/cluster_log_forwarder.go
  test/functional/elasticsearch.go
  test/functional/framework.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1066 [release-5.1] Fixed CSV for icon
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#1069 LOG-974: Fixed username and password feature for ES and Kafka
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1073 LOG 1400: Fix flaky test case
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
Labels: approved, lgtm

#1058 LOG-1420: Annotate with infrastructure features
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
Labels: approved, backport/5.0, backport/5.1, lgtm

#1075 LOG-1372. Fixed ES username and password for HTTPS
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1074 LOG-974: Fixed username and password feature for ES and Kafka
  pkg/constants/constants.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding.go
Labels: approved, lgtm, release/5.1

#1063 LOG-1463: Modify channels to PE recommendations
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/generate-bundle.sh
Labels: approved, lgtm, midstream/Dockerfile, release/5.2

#1078 [release-5.1] LOG-1400: elasticsearch output should add app- prefix to index names.
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/output_types.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  pkg/k8shandler/forwarding_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/functional/cluster_log_forwarder.go
  test/functional/elasticsearch.go
  test/functional/framework.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1070 Safer script for OC registry info and login from Makefile.
  Makefile
  hack/registry.sh
Labels: approved, lgtm

#1027 Go implementation log file exporter jira ticket log 1188 - log 1357 with new service within fluentd container
  go.sum
  pkg/constants/constants.go
  pkg/k8shandler/collection.go
  pkg/k8shandler/fluentd.go
Labels: approved, lgtm

#1056 Adding tables for top 10 container producing/collecting logs [Log-1270]
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#1081 LOG-1369. Revert Kafka username/password feature for release-5.1
  pkg/generators/forwarding/fluentd/output_conf_kafka_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm
