Repository openshift/cluster-logging-operator, pull requests merged in 2021-11, with the labels that each got.

#1231 LOG-1903: Fix displayname of clusterlogging
  bundle/manifests/cluster-logging.v5.3.0.clusterserviceversion.yaml
  manifests/5.3/cluster-logging.v5.3.0.clusterserviceversion.yaml
Labels: approved, lgtm

#1233 LOG-1907: Enhance functional benchmark tool to add latency
  Makefile
  internal/cmd/functional-benchmarker/config/config.go
  internal/cmd/functional-benchmarker/config/options.go
  internal/cmd/functional-benchmarker/main.go
  internal/cmd/functional-benchmarker/readme.md
  internal/cmd/functional-benchmarker/reports/gnuplot/gnuplot.go
  internal/cmd/functional-benchmarker/reports/gnuplot/plot_scripts.go
  internal/cmd/functional-benchmarker/reports/report.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/cmd/functional-benchmarker/runners/runner.go
  internal/cmd/functional-benchmarker/stats/statistics.go
  internal/cmd/functional-benchmarker/stats/types.go
  test/helpers/oc/logs.go
  test/helpers/types/types.go
Labels: approved, lgtm

#1232 [release-5.2] LOG-1903: Fix displayname of clusterlogging
  bundle/manifests/cluster-logging.v5.2.0.clusterserviceversion.yaml
  manifests/5.2/cluster-logging.v5.2.0.clusterserviceversion.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/5.2

#1236 LOG-1911: Enable opt-in of multiline error detection
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/multiline_detect_exceptions.go
  internal/generator/fluentd/multiline_detect_exceptions_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/k8shandler/forwarding.go
  manifests/5.3/logging.openshift.io_clusterlogforwarders_crd.yaml
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/output_forward.go
  test/functional/normalization/multiline_exception_test.go
Labels: approved, lgtm

#1235 Bump slow spec threshold for e2e tests to cleanup logs
  hack/testing-olm/test-030-collection.sh
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, lgtm

#1239 LOG-1918: Fix the collector alert job name
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1230 LOG-1491: Generate vector config
  internal/generator/fluentd/conf_test.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/config.go
  internal/generator/vector/elements/elements.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/inputs_to_pipeline.go
  internal/generator/vector/output/kafka/ca-file.go
  internal/generator/vector/output/kafka/cert-key.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/passphrase.go
  internal/generator/vector/output/kafka/sasl.go
  internal/generator/vector/output/kafka/tls.go
  internal/generator/vector/output/kafka/userpass.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/outputs.go
  internal/generator/vector/pipelines_to_output.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/source/journal_log.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_inputs.go
Labels: approved, lgtm

#1244 LOG-1464: Disable audit log source when only legacy syslog forwarding enabled
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
Labels: approved, lgtm

#1245 LOG-1939: Fix CW forwarding for multiline error detection
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/source/tags.go
Labels: approved, lgtm

#1242 LOG-1932: Prep master for 5.4
  bundle.Dockerfile
  bundle/manifests/cluster-logging.v5.4.0.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/cluster-logging-operator.clusterserviceversion.yaml
  manifests/5.4/0100_clusterroles.yaml
  manifests/5.4/0110_clusterrolebindings.yaml
  manifests/5.4/cluster-logging.v5.4.0.clusterserviceversion.yaml
  manifests/5.4/image-references
  manifests/5.4/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.4/logging.openshift.io_clusterloggings_crd.yaml
  manifests/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
Labels: approved, lgtm, midstream/Dockerfile

#1243 Added retry logic around test points in the e2e container security to fix a flake
  go.mod
  go.sum
  test/e2e/collection/fluentd/container_security_test.go
  test/e2e/collection/fluentd/input_selector_test.go
  test/e2e/collection/fluentd/namespace_filtering_test.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/README.md
  vendor/github.com/onsi/gomega/env.go
  vendor/github.com/onsi/gomega/go.mod
  vendor/github.com/onsi/gomega/go.sum
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/assertion.go
  vendor/github.com/onsi/gomega/internal/assertion/assertion.go
  vendor/github.com/onsi/gomega/internal/async_assertion.go
  vendor/github.com/onsi/gomega/internal/asyncassertion/async_assertion.go
  vendor/github.com/onsi/gomega/internal/defaults/env.go
  vendor/github.com/onsi/gomega/internal/duration_bundle.go
  vendor/github.com/onsi/gomega/internal/gomega.go
  vendor/github.com/onsi/gomega/internal/oraclematcher/oracle_matcher.go
  vendor/github.com/onsi/gomega/internal/testingtsupport/testing_t_support.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/and.go
  vendor/github.com/onsi/gomega/matchers/have_field.go
  vendor/github.com/onsi/gomega/matchers/have_http_body_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_http_header_with_value_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_http_status_matcher.go
  vendor/github.com/onsi/gomega/matchers/not.go
  vendor/github.com/onsi/gomega/matchers/or.go
  vendor/github.com/onsi/gomega/matchers/with_transform.go
  vendor/github.com/onsi/gomega/types/types.go
  vendor/modules.txt
Labels: approved, lgtm

#1248 LOG-1824: Add deep_copy to fan out to outputs
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/functional/cluster_log_forwarder.go
  test/functional/cluster_log_forwarder_test.go
  test/functional/elasticsearch.go
  test/functional/framework.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
  test/functional/outputs/multiple/multiple_test.go
  test/functional/outputs/multiple/suite_test.go
  test/functional/suite_test.go
  test/runtime/pod.go
Labels: approved, lgtm

#1253 Tweaked alert for "FluentdQueueLengthIncreasing" and give fluend nodes
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1247 Update OWNERS
  OWNERS
Labels: approved, lgtm

#1256 LOG-1896: Upgrade ViaQ/logerr version to v1.0.11
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/modules.txt
Labels: approved, lgtm

#1246 LOG-1784: Refactor input_selector_test from e2e to functional
  apis/logging/v1/cluster_log_forwarder_types.go
  test/e2e/collection/fluentd/input_selector_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/cluster_log_forwarder_test.go
  test/framework/functional/framework.go
  test/framework/functional/output_forward.go
  test/framework/functional/suite_test.go
  test/functional/collection/input_selector_test.go
  test/functional/collection/suite_test.go
Labels: approved, lgtm

#1259 [release-5.2] LOG-1963: Upgrade ViaQ/logerr version to v1.0.11
  go.mod
  go.sum
  vendor/github.com/ViaQ/logerr/log/logger.go
  vendor/modules.txt
Labels: approved, lgtm

#1249 LOG-1775: Fix syslog serialization using json formatting
  pkg/generators/forwarding/fluentd/output_conf_syslog_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/functional/outputs/forward_to_syslog_test.go
Labels: approved, lgtm

#1237 LOG-1587: Move kafka test from e2e to functional framework
  internal/pkg/generator/forwarder/generator.go
  internal/runtime/pod.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/e2e/logforwarding/kafka/logforwarding_suite_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/framework.go
  test/framework/functional/output_forward.go
  test/framework/functional/output_kafka.go
  test/functional/outputs/forward_to_kafka_test.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/zookeeper.go
Labels: approved, lgtm

#1262 LOG-2009: refactor functional framework. introduce collector factory
  internal/cmd/functional-benchmarker/reports/gnuplot/plot_scripts.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/k8shandler/collection.go
  internal/k8shandler/priorityclass.go
  internal/pkg/generator/forwarder/generator.go
  internal/utils/comparators/daemonsets/comparator.go
  test/framework/functional/constants.go
  test/framework/functional/factory.go
  test/framework/functional/fluentd/deploy.go
  test/framework/functional/framework.go
  test/framework/functional/read.go
  test/framework/functional/write.go
  test/functional/collection/input_selector_test.go
  test/functional/metrics/fluentd_test.go
  test/functional/normalization/crio_partial_log_test.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/forward_to_kafka_test.go
  test/functional/outputs/forward_to_syslog_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/functional/outputs/unavailable_forward_output_test.go
  test/helpers/clusterlogging.go
Labels: approved, lgtm

#1260 WIP refactor functional framework. introduce collector factory
  internal/cmd/functional-benchmarker/reports/gnuplot/plot_scripts.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/k8shandler/collection.go
  internal/k8shandler/priorityclass.go
  internal/pkg/generator/forwarder/generator.go
  internal/utils/comparators/daemonsets/comparator.go
  test/framework/functional/constants.go
  test/framework/functional/factory.go
  test/framework/functional/fluentd/deploy.go
  test/framework/functional/framework.go
  test/framework/functional/read.go
  test/framework/functional/write.go
  test/functional/collection/input_selector_test.go
  test/functional/metrics/fluentd_test.go
  test/functional/normalization/crio_partial_log_test.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/forward_to_kafka_test.go
  test/functional/outputs/forward_to_syslog_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/functional/outputs/unavailable_forward_output_test.go
  test/helpers/clusterlogging.go
Labels: approved, do-not-merge/work-in-progress

#1250 LOG-1491:Adding support for elastic-search as output in vector conf generator
  internal/generator/vector/conf_test.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/inputs_to_pipeline.go
  internal/generator/vector/output/elasticsearch/basic.go
  internal/generator/vector/output/elasticsearch/ca-file.go
  internal/generator/vector/output/elasticsearch/cert-key.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/elasticsearch/output_conf_es_test.go
  internal/generator/vector/output/elasticsearch/userpass.go
  internal/generator/vector/outputs.go
  internal/generator/vector/sources_to_inputs.go
Labels: approved, lgtm, midstream/Dockerfile

#1266 LOG-1835: Updated /etc path to /var/run in gather logstore resourse
  must-gather/collection-scripts/gather_logstore_resources
Labels: approved, lgtm

#1268 LOG-2009: Rename functional framework to remove "fluentd"
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/framework.go
  test/framework/functional/output_elasticsearch7.go
  test/framework/functional/output_forward.go
  test/framework/functional/output_kafka.go
  test/framework/functional/output_syslog.go
  test/framework/functional/read.go
  test/framework/functional/write.go
  test/functional/collection/input_selector_test.go
  test/functional/metrics/fluentd_test.go
  test/functional/normalization/crio_partial_log_test.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/message_format_test.go
  test/functional/normalization/multiline_exception_test.go
  test/functional/outputs/forward_to_cloudwatch_test.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
  test/functional/outputs/forward_to_elasticsearch_test.go
  test/functional/outputs/forward_to_kafka_test.go
  test/functional/outputs/forward_to_logstash_test.go
  test/functional/outputs/forward_to_syslog_test.go
  test/functional/outputs/loki/application_logs_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/functional/outputs/multiple/forward_to_multiple_outputs_test.go
  test/functional/outputs/multiple/multiple_test.go
  test/functional/outputs/unavailable_forward_output_test.go
Labels: approved, lgtm

#1269 LOG-1925: Fix cpu graph on dashboard
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#1270 LOG-2027: Move SA constructor to use runtime package
  internal/k8shandler/collection.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/serviceaccount.go
  internal/runtime/core.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/syslog.go
Labels: approved, lgtm
