Repository openshift/cluster-logging-operator, pull requests merged in 2021-04, with the labels that each got.

#965 Removing logic to control replicas for kibana CR
  pkg/apis/logging/v1/clusterlogging_types.go
  pkg/k8shandler/visualization.go
  pkg/k8shandler/visualization_test.go
Labels: approved, lgtm

#964 [release-5.0] Bug 1904380 - Forwarding logs to Kafka using Chained certificates fails with error "state=error: certificate verify failed (unable to get local issuer certificate)
  go.mod
  go.sum
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/kafka/forward_to_kafka_test.go
  test/helpers/certificate/certificate.go
  test/helpers/certificate/certificate_jks.go
  test/helpers/certificate/certificate_test.go
  test/helpers/kafka.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/constants.go
  test/helpers/kafka/consumer.go
  test/helpers/kafka/zookeeper.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitignore
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.Dockerfile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.gitpod.yml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/.golangci.yaml
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/LICENSE
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/Makefile
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/README.md
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/common.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/decoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/encoder.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/go.mod
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keyprotector.go
  vendor/github.com/pavel-v-chernykh/keystore-go/v4/keystore.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: approved, lgtm

#968 make check cleanup
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterloggings_crd.yaml
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/k8shandler/certificates.go
Labels: approved, lgtm

#947 fix functional benchmarker and always test
  Makefile
  test/functional/framework.go
Labels: approved, lgtm

#953 Cleaned up pattern matching for selective running of logforwarding e2e tests
  Makefile
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, lgtm

#954 Adding container chart LOG-1165-Dashboard
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#967 E2E logforwarding fluent flake fixes
  hack/testing-olm/test-367-logforwarding.sh
  test/client/client.go
  test/client/pod.go
  test/e2e/logforwarding/fluent/fixture_test.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
Labels: approved, lgtm

#976 LOG-1124: fix routing of app logs per namespace
  pkg/apis/logging/v1/cluster_log_forwarder.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/helpers.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, release/5.0

#980 Replace registry.svc.ci.openshift.org with registry.ci.openshift.org
  Dockerfile
  Dockerfile.centos.patch
  Dockerfile.e2e
  hack/common
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm

#977 Bug 1925361: fix routing of app logs per namespace
  pkg/apis/logging/v1/cluster_log_forwarder.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/helpers.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, release/4.6

#959 LOG-1161: Added events for valid/invalid pipelines
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  pkg/controller/forwarding/forwarding_controller.go
Labels: approved, lgtm

#836 Add forward keepalive
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/output_conf_forward_test.go
  pkg/generators/forwarding/fluentd/output_fluentd_buffer_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm, ok-to-test

#981 Fix manifests folder for cpaas production version 5.1.0_preview.1
  manifests/5.1.0_preview.1/0100_clusterroles.yaml
  manifests/5.1.0_preview.1/0110_clusterrolebindings.yaml
  manifests/5.1.0_preview.1/cluster-logging.v5.1.0_preview.1.clusterserviceversion.yaml
  manifests/5.1.0_preview.1/image-references
  manifests/5.1.0_preview.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1.0_preview.1/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#984 Renaming Metric names and adding namespace label
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#983 Adding logs collected chart LOG-1269
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#985 LOG-1279: Add placeholder for linting tasks
  Makefile
  hack/run-linter
Labels: approved, lgtm, release/5.1

#974 LOG-899: Add functional and e2e tests for checking reassembly after splitting logs by CRI-O
  test/e2e/logforwarding/fluent/crio_split_log_test.go
  test/e2e/logforwarding/fluent/traces_content.go
  test/functional/normalization/crio_partial_log_test.go
  test/runtime/log_generator.go
Labels: approved, lgtm

#865 LOG-660: Enable pod base filtering using label router plugin
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.1/logging.openshift.io_clusterlogforwarders_crd.yaml
  pkg/apis/logging/v1/cluster_log_forwarder_types.go
  pkg/apis/logging/v1/zz_generated.deepcopy.go
  pkg/generators/forwarding/fluentd/fluent_conf.go
  pkg/generators/forwarding/fluentd/fluent_conf_test.go
  pkg/generators/forwarding/fluentd/generators.go
  pkg/generators/forwarding/fluentd/generators_test.go
  pkg/generators/forwarding/fluentd/output_conf_es_test.go
  pkg/generators/forwarding/fluentd/output_conf_legacy_test.go
  pkg/generators/forwarding/fluentd/templates.go
  test/e2e/collection/fluentd/input_selector_test.go
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/helpers/framework.go
Labels: approved, lgtm

#991 Moved architecture docs to viaq.github.io/documentation
  docs/README.md
  docs/architecture/Makefile
  docs/architecture/index.adoc
  docs/architecture/legend.dot
  docs/architecture/legend.svg
  docs/architecture/node.dot
  docs/architecture/node.svg
  docs/architecture/overview.dot
  docs/architecture/overview.svg
Labels: approved, lgtm

#990 LOG-1201: Fixed zero minutes/days/etc. retention time
  pkg/k8shandler/indexmanagement/index_management.go
  pkg/k8shandler/indexmanagement/indexmanagement_test.go
Labels: approved, lgtm

#973 Add management workload annotations
  bundle/manifests/cluster-logging.v5.1.0.clusterserviceversion.yaml
  manifests/5.1/cluster-logging.v5.1.0.clusterserviceversion.yaml
  olm_deploy/operatorregistry/registry-deployment.yaml
  pkg/k8shandler/daemonset.go
  pkg/k8shandler/deployment.go
Labels: approved, bugzilla/valid-bug, lgtm

#972 Bug 1945168: Remove hardcoded cluster local domain
  pkg/constants/constants.go
  pkg/k8shandler/certificates.go
  pkg/k8shandler/certificates_test.go
  pkg/k8shandler/forwarding_test.go
  scripts/cert_generation.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm
