Repository openshift/cluster-logging-operator, pull requests merged in 2022-12, with the labels that each got.

#1765 LOG-3334: fix trying to create event for cluster resource
  internal/collector/rbac.go
  internal/k8shandler/collection.go
  internal/k8shandler/logstore_lokistack.go
  internal/reconcile/rbac.go
Labels: approved, lgtm, release/5.6

#1771 LOG-3346: Update version to 5.7
  Makefile
  bundle.Dockerfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/overlays/stable/kustomization.yaml
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
  version/version.go
Labels: approved, lgtm, midstream/Dockerfile, release/5.7

#1777 Removed omstdout from rsyslog config
  test/framework/e2e/syslog_conf.go
Labels: approved, lgtm

#1770 LOG-3375: fix version in outputdefaults
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/output_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/k8shandler/forwarding_test.go
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm, release/5.6

#1760 LOG-3302: fix collector security context spec
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/service_account.go
  internal/utils/comparators/scc/comparator.go
  internal/utils/comparators/scc/comparator_test.go
Labels: approved, lgtm, release/5.6

#1774 LOG-3342: fix applying OutputDefault to unmanaged Elasticsearch logSt…
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/cmd/forwarder-generator/main.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
  internal/pkg/generator/forwarder/generator.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/5.5

#1776 Revert "LOG-1796:Add multi-line exception detection for Vector collector"
  internal/generator/vector/elements/elements.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/normalization/multiline_exception_test.go
Labels: approved, lgtm, release/5.6

#1780 LOG-3396: fix pod security changes that were removed
  Dockerfile
  Dockerfile.in
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/5.6

#1759 LOG-3235: fix collector security context spec
  Dockerfile
  Dockerfile.in
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/scc.go
  internal/k8shandler/collection.go
  internal/reconcile/scc.go
  internal/utils/comparators/scc/comparator.go
  internal/utils/comparators/scc/comparator_test.go
  internal/utils/comparators/scc/suite_test.go
Labels: approved, lgtm, midstream/Dockerfile, release/5.5

#1782 LOG-3331: Disable log view plugin if cluster does not have console en…
  internal/consoleplugin/reconciler.go
  internal/visualization/console/plugin.go
Labels: approved, lgtm, release/5.6

#1778 LOG-3386: Remove operator from stable channel
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/5.5

#1787 LOG-3407: Disable log view plugin if cluster does not have console en…
  internal/consoleplugin/reconciler.go
Labels: approved, lgtm, release/5.5

#1791 LOG-3406: fix CLO crash when EO is not deployed
  controllers/clusterlogging/clusterlogging_controller.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/status.go
  internal/visualization/console/plugin.go
Labels: approved, lgtm, release/5.6

#1794 LOG-3321: fix crash when console is not enabled
  controllers/clusterlogging/clusterlogging_controller.go
  main.go
Labels: approved, lgtm, release/5.6

#1798 LOG-3407: fix crash when console is not enabled
  Makefile
  controllers/clusterlogging/clusterlogging_controller.go
  main.go
Labels: approved, lgtm, release/5.5

#1789 Add a feature document
  docs/features/collection.adoc
Labels: approved, lgtm, kind/documentation, release/5.6
