Repository openshift/cluster-logging-operator, pull requests merged in 2022-05, with the labels that each got.

#1431 LOG-2455: fix infra logs showing in app log group
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/source/tags.go
  test/framework/functional/output_cloudwatch.go
  test/framework/functional/write.go
  test/functional/normalization/multiline_exception_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/functional/outputs/syslog/rfc3164_test.go
Labels: approved, lgtm

#1446 [master] LOG-2201: fix loglevel matchers
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  test/functional/normalization/log_level_test.go
Labels: approved, lgtm

#1449 LOG-643: Add metric test when fluent output is down
  test/functional/metrics/fluentd_test.go
Labels: approved, lgtm

#1443 LOG-2134: Always send infra logs to infra indices
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  test/framework/functional/message_templates.go
  test/framework/functional/write.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1440 LOG-2525: enable metadata watch to fix spliting logs
  internal/collector/collector.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  test/framework/functional/fluentd/deploy.go
  test/functional/normalization/logs
Labels: approved, lgtm

#1450 Ensure all unit tests are running
  Makefile
  test/framework/functional/cluster_log_forwarder_test.go
Labels: approved, lgtm

#1451 LOG-2063: fix deploying a collector with no CLF
  Makefile
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
Labels: approved, lgtm

#1453 LOG-2319: fix fluent config format
  internal/generator/fluentd/format.go
  internal/generator/fluentd/format_test.go
  internal/k8shandler/forwarding.go
  internal/pkg/generator/forwarder/generator.go
  internal/pkg/generator/forwarder/suite_test.go
Labels: approved, lgtm

#1447 LOG-2554: Fixed index when both indexKey and indexName are used
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
Labels: approved, lgtm

#1456 LOG-2171: fix collecting openshift-api audit logs
  internal/generator/vector/conf_test.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/sources_test.go
  test/framework/functional/constants.go
  test/framework/functional/write.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1457 LOG-2033: Adding rules to support one more level field
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  test/functional/normalization/message_format_test.go
Labels: approved, lgtm, release/5.4

#1458 OCPBUGSM-44068: Fix missing labels.instance in messages
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1461 LOG-2609: fluentd and vector are unable to ship logs to elasticsearch when cluster-wide proxy is in effect
  internal/collector/collector_test.go
  internal/constants/constants.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Labels: approved, lgtm

#1459 LOG-2589: fix infra logs showing in app group
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/source/tags.go
  test/framework/functional/output_cloudwatch.go
  test/framework/functional/write.go
  test/functional/normalization/multiline_exception_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/functional/outputs/syslog/rfc3164_test.go
Labels: approved, lgtm

#1462 change security test to use regex
  test/e2e/collection/fluentd/container_security_test.go
Labels: approved, lgtm

#1468 update log-file-metric-exporter to 1.1
  Makefile
  olm_deploy/scripts/env.sh
Labels: approved, lgtm

#1464 LOG-2622: update golang to v1.17
  Dockerfile
  Dockerfile.in
  go.mod
  go.sum
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1470 LOG-2588: fix alerting rule for CLF
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1469 [release-5.4] LOG-2622: Update golang to v1.17
  Dockerfile
  Dockerfile.centos.patch
  Dockerfile.in
  Dockerfile.patch
  Makefile
  go.mod
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1448 Fix LOG:2159 cluster logging pods in crash loop back off
  internal/collector/fluentd/run_script.go
  internal/k8shandler/collection.go
Labels: approved, lgtm

#1473 Update container_security_test.go to use regex
  apis/logging/v1/zz_generated.deepcopy.go
  test/e2e/collection/fluentd/container_security_test.go
Labels: approved, lgtm

#1471 LOG-2621: fix log file metric exporter to v1.1
  Makefile
  bundle/manifests/cluster-logging.v5.4.0.clusterserviceversion.yaml
  manifests/5.4/cluster-logging.v5.4.0.clusterserviceversion.yaml
  olm_deploy/scripts/env.sh
Labels: approved, lgtm

#1465 LOG-2203:Add ability to encoding bad characters for elasticsearch and cloudwatch
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/elements/record_modifier.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/outputs.go
Labels: approved, lgtm

#1466 LOG-2587: Fix ES functional tests for vector, using go tags
  Makefile
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
  internal/runtime/pod.go
  test/framework/functional/message_templates.go
  test/framework/functional/output_cloudwatch.go
  test/framework/functional/vector/deploy.go
  test/functional/doc.go
  test/functional/fluentd.go
  test/functional/functional.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/crio_partial_log_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/vector.go
  test/helpers/types/types.go
Labels: approved, lgtm

#1477 LOG-2657:Add ability to encoding bad characters for elasticsearch and cloudwatch
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/elements/record_modifier.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/outputs.go
Labels: approved, lgtm

#1445 LOG-2439: fix for healthStatus and managedStatus update
  Makefile
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/constants/constants.go
  internal/k8shandler/reconciler.go
  internal/telemetry/cloteleminfo.go
  main.go
Labels: approved, lgtm

#1475 LOG-2553: Always send infra logs to infra indices
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/pipeline_to_output_test.go
  internal/generator/fluentd/sources_test.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/k8shandler/fluentd.go
  internal/runtime/core.go
  test/framework/functional/fluentd/deploy.go
  test/framework/functional/framework.go
  test/framework/functional/message_templates.go
  test/framework/functional/write.go
  test/framework/unit/test_common.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/forward_to_elasticsearch_index_test.go
  test/matchers/diff.go
Labels: approved, lgtm, release/5.4
