Repository openshift/cluster-logging-operator, pull requests merged in 2022-11, with the labels that each got.

#1737 LOG-3213: fix empty logging must-gather
  must-gather/collection-scripts/gather
Labels: approved, lgtm, release/5.5

#1735 LOG-3194: Add pod security sync label
  internal/constants/constants.go
  internal/k8shandler/collection.go
  olm_deploy/scripts/operator-install.sh
Labels: approved, lgtm, release/5.6

#1734 LOG-3211: refactor serviceaccount reconciliation
  Makefile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  internal/collector/service_account.go
  internal/k8shandler/collection.go
  internal/k8shandler/scc.go
  internal/reconcile/scc.go
  internal/reconcile/service_account.go
  internal/runtime/security.go
  internal/utils/comparators/scc/comparator.go
  internal/utils/comparators/scc/comparator_test.go
  internal/utils/comparators/scc/suite_test.go
Labels: approved, lgtm, release/5.6

#1740 LOG-2315 Duplicated items in log_logging_info metrics
  Makefile
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/telemetry/cloteleminfo.go
  internal/telemetry/cloteleminfo_test.go
Labels: approved, lgtm

#1741 LOG-2962: fix command for getting product version
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm

#1739 LOG-3245: fix cardinality issue with FluentdQueueLengthIncreasing
  internal/metrics/alerts/fluentd.go
Labels: approved, lgtm, release/5.6

#1744 LOG-3211: fix constant generation of sa secret
  internal/reconcile/service_account.go
Labels: approved, lgtm, release/5.6

#1748 Adding valid subscription annotation to metadata
  bundle/manifests/cluster-logging.v5.4.0.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging-operator.clusterserviceversion.yaml
  manifests/5.4/cluster-logging.v5.4.0.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.4

#1743 LOG-3224: ES suppress type fix
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
Labels: approved, lgtm, release/5.6

#1749 LOG-3195: fix json parsing by vector when structuredtypename not defined
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm, release/5.6

#1746 LOG-3074: fix unused parameter warning
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
Labels: approved, lgtm, release/5.4

#1680 LOG-1068: Refactor operator code to not rely explicitly on openshift-logging
  Makefile
  bundle/manifests/cluster-logging-metadata-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  config/rbac/kustomization.yaml
  config/rbac/log-collector-privileged_role.yaml
  config/rbac/log_collector_privileged_binding.yaml
  config/rbac/metadata_reader_clusterrolebinding.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  hack/svt/test-svt.sh
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/utils
  internal/collector/rbac.go
  internal/collector/rbac_test.go
  internal/constants/constants.go
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/forwarder/generator.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/reconciler.go
  internal/metrics/dashboards_test.go
  internal/pkg/generator/forwarder/generator.go
  main.go
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  test/e2e/collection/fluentd/container_security_test.go
  test/e2e/consoleplugin/cleanup.sh
  test/e2e/logfilesmetricexporter/metrics_test.sh
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/main_test.go
  test/e2e/telemetry/clometrics_test.sh
  test/e2e/utils.go
  test/files/secure-forward.conf
  test/framework/e2e/elasticsearch.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/framework.go
  test/framework/e2e/kafka.go
  test/framework/e2e/syslog.go
  test/framework/e2e/syslog_conf.go
  test/framework/functional/constants.go
  test/helpers.go
  test/helpers/clusterlogging.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/config.go
  test/helpers/kafka/consumer.go
  test/runtime/logging.go
Labels: approved, lgtm

#1750 LOG-2962: fix command for getting product version: using regexp to grep CSV name
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm

#1752 LOG-3284: fix json parsing by vector when structuredtypename not defined
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
Labels: approved, lgtm, release/5.5

#1753 LOG-3287: replace priorty class with system-node-critical
  bundle/manifests/cluster-logging_scheduling.k8s.io_v1_priorityclass.yaml
  config/default/kustomization.yaml
  config/scheduling/cluster-logging_scheduling.k8s.io_v1_priorityclass.yaml
  config/scheduling/kustomization.yaml
  internal/collector/collector.go
  internal/runtime/priorityclass.go
  main.go
Labels: approved, lgtm, release/5.5

#1755 LOG-2999:Add watcher for Elasticsearch object
  controllers/clusterlogging/clusterlogging_controller.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/status.go
Labels: approved, lgtm, release/5.6

#1758 LOG-3298: Fix Passphrase config template
  internal/generator/vector/output/security/passphrase.go
  internal/generator/vector/output/splunk/splunk_test.go
Labels: approved, lgtm

#1754 LOG-1796:Add multi-line exception detection for Vector collector
  internal/generator/vector/elements/elements.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/normalization/multiline_exception_test.go
Labels: approved, lgtm, release/5.6

#1751 LOG-3242: remove loki tag label from fluentd
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
  test/functional/outputs/loki/application_logs_test.go
  test/functional/outputs/loki/audit_logs_test.go
Labels: approved, lgtm, release/5.6

#1766 LOG-3241: remove tag label from loki vector
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  test/functional/outputs/loki/audit_logs_vector_test.go
Labels: approved, lgtm, release/5.6

#1731 LOG-3228: fix applying OutputDefault to unmanaged Elasticsearch logStores
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/cmd/forwarder-generator/main.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
  internal/pkg/generator/forwarder/generator.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/5.6
