Repository openshift/cluster-logging-operator, pull requests merged in 2022-04, with the labels that each got.

#1420 LOG-2176: Additional change to support fluent 1.14.5
  internal/components/fluentd/run_script.go
Labels: approved, lgtm

#1415 LOG-2426: Vector: Support loki bearer token auth
  internal/constants/constants.go
  internal/generator/vector/output/loki/bearer_token.go
  internal/generator/vector/output/loki/ca_file.go
  internal/generator/vector/output/loki/cert_key.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/outputs.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/serviceaccount.go
Labels: approved, lgtm

#1403 LOG-2396: Refactor collector daemonset into common code
  Makefile
  hack/cr.yaml
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/common/constants.go
  internal/collector/fluentd/run_script.go
  internal/collector/fluentd/visitors.go
  internal/collector/suite_test.go
  internal/collector/vector/visitors.go
  internal/constants/constants.go
  internal/factory/daemonset.go
  internal/factory/daemonset_test.go
  internal/factory/pod.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/sources_test.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/daemonset.go
  internal/k8shandler/defaults.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/fluentd_test.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/pod.go
  internal/k8shandler/trustedcabundle.go
  internal/k8shandler/vector.go
  internal/metrics/dashboards.go
  internal/metrics/dashboards_test.go
  internal/utils/utils.go
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/framework/functional/fluentd/deploy.go
  test/helpers/clusterlogging.go
Labels: approved, lgtm, release/5.5

#1414 LOG-2355: Vector: Support loki bearer token auth
  internal/constants/constants.go
  internal/generator/vector/output/loki/bearer_token.go
  internal/generator/vector/output/loki/ca_file.go
  internal/generator/vector/output/loki/cert_key.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/outputs.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/serviceaccount.go
Labels: approved, lgtm

#1407 LOG-1099: Fluentd firing far too many dns requests
  internal/constants/constants.go
  internal/k8shandler/forwarding_test.go
Labels: approved, lgtm, release/5.5

#1413 [release-5.2] LOG-1972: fix prometheus roles to be namespaced scoped
  bundle/manifests/cluster-logging-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  config/rbac/kustomization.yaml
  config/rbac/prometheus_role.yaml
  config/rbac/prometheus_role_binding.yaml
  hack/generate-bundle.sh
  manifests/5.2/cluster-logging-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/5.2/image-references
  manifests/5.2/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  manifests/5.2/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm, midstream/Dockerfile, release/5.2

#1412 [release-5.3] LOG-2287: fix prometheus roles to be namespaced scoped
  bundle/manifests/cluster-logging-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  config/rbac/kustomization.yaml
  config/rbac/prometheus_role.yaml
  config/rbac/prometheus_role_binding.yaml
  hack/generate-bundle.sh
  manifests/5.3/cluster-logging-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/5.3/image-references
  manifests/5.3/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  manifests/5.3/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm, midstream/Dockerfile, release/5.3

#1424 LOG-2406: fix CVE-2022-21698 by upgrading prometheus/client_golang to…
  Makefile
  go.mod
  go.sum
Labels: approved, lgtm

#1357 LOG-2284: Add tls.insecure for vector TLS.
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/constants/constants.go
  internal/generator/url/url.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/passphrase.go
  internal/generator/vector/output/kafka/security.go
  internal/generator/vector/output/kafka/tls.go
  internal/generator/vector/output/security/security.go
  manifests/5.5/logging.openshift.io_clusterlogforwarders_crd.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/5.5

#1430 LOG-2262: Use vector 0.21-rh image
  Makefile
  bundle/manifests/cluster-logging.v5.5.0.clusterserviceversion.yaml
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  manifests/5.5/cluster-logging.v5.5.0.clusterserviceversion.yaml
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#1421 LOG-2213: Enable sending container logs to separate indices
  apis/logging/v1/output_types.go
  bundle/manifests/cluster-logging.v5.5.0.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/rbac/prometheus_role.yaml
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/elasticsearch/suite_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/forwarder/generator.go
  internal/generator/helpers/formatter.go
  internal/generator/helpers/formatter_test.go
  internal/generator/test_common.go
  internal/runtime/pod.go
  manifests/5.5/cluster-logging.v5.5.0.clusterserviceversion.yaml
  manifests/5.5/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.5/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  manifests/5.5/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/framework/functional/message_templates.go
  test/framework/functional/write.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/message_format_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/outputs/elasticsearch/suite_test.go
  test/helpers/types/types.go
Labels: approved, lgtm

#1428 LOG-2476: Change ES index as per OutputDefaults
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/framework/e2e/framework.go
Labels: approved, lgtm

#1442 LOG-2549: Fix journal logs in vector v0.21-rh
  internal/generator/vector/conf_test.go
  internal/generator/vector/source/journal_log.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm

#1437 LOG-2201: fix loglevel matchers
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  test/functional/normalization/log_level_test.go
  test/functional/normalization/message_format_test.go
Labels: approved, lgtm

#1438 LOG-2172: fix ovn and oauthapi audit log collection
  Makefile
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/inputs.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/framework.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/message_format_test.go
Labels: approved, lgtm
