Repository openshift/cluster-logging-operator, pull requests merged in 2022-07, with the labels that each got.

#1539 LOG-2772: fix parsing of STS role
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch_secret_test.go
Labels: approved, lgtm

#1519 LOG-2586: Add collector spec to support all collectors
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/samples/logging_v1_clusterlogging.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  docs/configuration.md
  hack/cr-aws.yaml
  hack/cr-pruneNamespace.yaml
  hack/cr-unmanaged.yaml
  hack/cr-vector.yaml
  hack/cr.yaml
  hack/cr_invalid.yaml
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  hack/testing-olm/test-030-collection.sh
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/outputs.go
  internal/generator/fluentd/pipeline_to_output_test.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/forwarder/generator.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/outputs.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/migrations/migrate_collection.go
  internal/migrations/migrate_collection_test.go
  internal/migrations/suite_test.go
  internal/pkg/generator/forwarder/generator.go
  test/e2e/collection/fluentd/container_security_test.go
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/framework/e2e/framework.go
  test/helpers/clusterlogging.go
  test/helpers/generator.go
Labels: approved, lgtm

#1547 LOG-2785: Replace all collector instances at once
  internal/factory/daemonset.go
Labels: approved, lgtm

#1550 LOG-2378: fix hostname in audit logs
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm

#1549 LOG-2664: suppress type_name deprecation warnings
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
Labels: approved, lgtm

#1551 [release-5.4] LOG-2664: suppress type_name deprecation warnings
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
Labels: approved, lgtm

#1545 NO-JIRA: Pull busybox from quay.io to avoid docker throttling
  test/client/watch_test.go
  test/e2e/logforwarding/fluent/fixture_test.go
  test/framework/e2e/framework.go
  test/helpers/oc/oc_suite_test.go
  test/helpers/types/types_test.go
  test/runtime/log_generator.go
Labels: approved, lgtm

#1479 NO-JIRA: Added doc/how-to-add-new-output to help developers.
  apis/logging/v1/cluster_log_forwarder_types.go
  docs/README.md
  docs/how-to-add-new-output.md
Labels: approved, lgtm

#1552 LOG-2583: Add vector dashboard
  files/dashboards/fluentd/openshift-logging-dashboard.json
  files/dashboards/vector/openshift-logging-dashboard.json
  internal/k8shandler/reconciler.go
  internal/metrics/dashboards.go
  internal/metrics/dashboards_test.go
Labels: approved, lgtm

#1557 LOG-2767: sts cloudwatch secret should accept format from credrequest
  apis/logging/v1/output_types.go
  internal/collector/cloudwatch.go
  internal/constants/constants.go
  internal/generator/fluentd/output/cloudwatch/aws.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch_secret_test.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/security/security.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
Labels: approved, lgtm

#1558 LOG-2662: Losing audit logs may happen when using Vector
  internal/generator/vector/conf_test.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, ok-to-test

#1559 LOG-2703: Remove collector when no forwarder or logStore
  controllers/clusterlogging/clusterlogging_controller.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/reconciler.go
Labels: approved, lgtm

#1562 LOG-2648: glob_minimum_cooldown_ms of vector is too big (60000ms)
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/conf_test.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, ok-to-test

#1560 LOG-2821: Allow metrics to bind to default interface
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/sources_test.go
Labels: approved, lgtm, release/5.4

#1546 LOG-2784: checking is symbols valid 'utf-8', if not replace to the valid one
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/elements/record_modifier.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  test/framework/functional/factory.go
  test/framework/functional/write.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/outputs/loki/audit_logs_test.go
Labels: approved, lgtm

#1561 LOG-2778: Create secret for logcollector serviceaccount manually
  internal/k8shandler/collection.go
  internal/k8shandler/forwarding.go
Labels: approved, lgtm

#1566 [release-5.4]LOG-2464: replace deprecated configuration parameter
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/elements/copy.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/pipeline_to_output_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/sources_test.go
Labels: approved, lgtm

#1567 LOG-2793: Vector ovn audit logs missing level field
  internal/generator/vector/conf_test.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1565 LOG-2464: replace deprecated configuration parameter
  internal/generator/fluentd/elements/copy.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/pipeline_to_output_test.go
Labels: approved, lgtm

#1574 LOG-2763: Vector's healthcheck fails when forwarding logs to Lokistack
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
Labels: approved, lgtm, ok-to-test

#1572 Vendor dependencies when creating e2e image
  Dockerfile.e2e
Labels: approved, lgtm

#1489 LOG-2658: Allow save logs events with timestamps that aren’t in strictly chronological order
  Makefile
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  test/functional/outputs/loki/application_logs_test.go
  test/functional/outputs/loki/application_logs_vector_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/helpers/loki/receiver.go
Labels: approved, lgtm

#1548 LOG-2285: Add insecureSkipVerify option to output spec
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/constants/constants.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward.go
  internal/generator/fluentd/output/fluentdforward/output_conf_forward_test.go
  internal/generator/fluentd/output/fluentdforward/tls.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/security.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
Labels: approved, lgtm

#1576 LOG-2770: Update fluent to 1.14.6 to address performance changes
  Makefile
  bundle/manifests/cluster-logging.v5.4.0.clusterserviceversion.yaml
  config/manager/manager.yaml
  hack/fluent-receiver-template.yaml
  internal/cmd/functional-benchmarker/config/options.go
  manifests/5.4/cluster-logging.v5.4.0.clusterserviceversion.yaml
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm

#1563 LOG-2770: optimize fluent conf for throughput
  hack/testing-olm/test-040-eventrouter.sh
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/source/audit_logs.go
  internal/generator/fluentd/source/container_logs.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/vector/sources.go
  internal/k8shandler/fluentd.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/framework/functional/message_templates.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/message_format_test.go
  test/functional/outputs/forward_to_elasticsearch_test.go
Labels: approved, lgtm

#1579 [release-5.4] LOG-2840: Create secret for logcollector serviceaccount manually
  internal/k8shandler/collection.go
  internal/k8shandler/forwarding.go
Labels: approved, lgtm

#1578 LOG-2667: Install logging UI automatically with logging operators
  Makefile
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/groupversion_info.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  config/rbac/role.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  hack/testing-olm/test-050-consoleplugin.sh
  internal/consoleplugin/config.go
  internal/consoleplugin/reconciler.go
  internal/consoleplugin/reconciler_test.go
  internal/constants/constants.go
  internal/k8shandler/collection.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/runtime/runtime.go
  internal/utils/utils.go
  main.go
  olm_deploy/operatorregistry/registry-deployment.yaml
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/registry-init.sh
  test/e2e/consoleplugin/cleanup.sh
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
  test/e2e/consoleplugin/smoke_test/suite_test.go
Labels: approved, lgtm
