Repository openshift/cluster-logging-operator, pull requests merged in 2022-09, with the labels that each got.

#1596 LOG-2862: Enable function JSON parsing tests for vector
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  test/client/test.go
  test/client/test_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/framework/functional/common/loglevel.go
  test/framework/functional/fluentd/deploy.go
  test/framework/functional/framework.go
  test/framework/functional/message_templates.go
  test/framework/functional/vector/deploy.go
  test/framework/functional/write.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm

#1617 extend functional timeout to account for slow pod startup
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
  test/helpers/oc/runner.go
Labels: approved, release/5.6

#1616 LOG-2792: add follow_indode to fix stop of reading logs
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/source/audit_logs.go
  internal/generator/fluentd/source/container_logs.go
  internal/generator/fluentd/sources_test.go
Labels: approved, lgtm, release/5.4

#1591 LOG-2285: Fix disabling certificate validation for Kafka output
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/security.go
Labels: approved, lgtm

#1597 LOG-2923: fix timestamp field for kube and openshift event audit logs
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  test/functional/normalization/audit_logs_format_test.go
  test/matchers/log_format.go
Labels: approved, lgtm, release/5.5

#1625 update builders to allow setting pull policy
  internal/runtime/pod.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/5.6

#1621 LOG-1823: fix fluent alerts style compliance
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm, release/5.6

#1618 LOG-3013: enable input selector functional test for vector
  test/framework/functional/elasticsearch.go
  test/framework/functional/output_elasticsearch7.go
  test/framework/functional/read.go
  test/functional/collection/input_selector_test.go
Labels: approved, lgtm, release/5.6

#1634 LOG-3003: fix binary including test code
  internal/generator/fluentd/source/audit_logs_test.go
  internal/generator/fluentd/source/container_logs_test.go
Labels: approved, lgtm, release/5.6

#1636 LOG-2911: Add nodename label to vector metrics
  internal/generator/vector/conf_test.go
  internal/generator/vector/metrics.go
  internal/generator/vector/outputs.go
Labels: approved, lgtm

#1623 all info metrics of Gauge type now got two values : 0 and 1, on chang…
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/telemetry/cloteleminfo.go
Labels: approved, lgtm, release/5.6

#1637 LOG-3501: revert api validation for structuredTypeKey
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm, release/5.5

#1640 LOG-3055: Fix Fluentd Alert query expr and labels
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1626 LOG-1806: ParserError warning message suppressed, but logs will still be forwarded to the non-JSON index
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/generator/fluentd/pipeline_to_output_test.go
  test/framework/functional/framework.go
  test/functional/normalization/json_parsing_test.go
Labels: approved, lgtm

#1641 LOG-2918: Reconcile role/binding allowing reading application logs
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/logstore_lokistack_test.go
  internal/k8shandler/rbac.go
  internal/k8shandler/rbac_test.go
  internal/k8shandler/reconciler.go
Labels: approved, lgtm

#1619 [relase-5.5] LOG-2961: Fix 'Unknown Severity' error for audit logs in Google Cloud Logging
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1647 LOG-3071: Elasticsearch output: Remove 'write_index' field from log record
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
Labels: approved, lgtm, release/5.6

#1575 LOG-2844: Exclude .gz and .tmp files in container logs
  internal/generator/vector/conf_test.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm

#1615 LOG-2961: Fix 'Unknown Severity' error for audit logs in Google Cloud Logging
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1649 LOG-2960: Enable functional audit log tests for vector
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1620 LOG-2919: fix order of reconcilation for ServiceMonitor
  controllers/forwarding/forwarding_controller.go
  internal/collector/collector.go
  internal/collector/service_monitor.go
  internal/constants/constants.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/reconciler.go
  internal/reconcile/service_monitor.go
  internal/runtime/monitoring.go
Labels: approved, lgtm, release/5.6

#1526 NO-JIRA: Remove matchExpressions from labelSelector
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/helpers/helpers.go
  internal/generator/fluentd/inputs_to_pipeline.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/framework/functional/cluster_log_forwarder_test.go
  test/functional/collection/input_selector_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
Labels: approved, lgtm

#1655 LOG-3090: Do not overwrite custom outputs when using LokiStack as log output
  internal/k8shandler/forwarding.go
Labels: approved, lgtm

#1656 LOG-3094: Add list 'nodes' permission to logcollector serviceaccount
  bundle/manifests/metadata-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/metadata_reader_clusterrole.yaml
Labels: approved, lgtm

#1633 LOG-2720: Add clusterID to data model for vector
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/k8shandler/reconciler.go
  main.go
  test/framework/functional/framework.go
  test/framework/functional/message_templates.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/message_format_test.go
  test/helpers/types/types.go
  test/matchers/log_format.go
Labels: approved, lgtm, release/5.6

#1644 Extend lint timeout to avoid occasional CI failures
  Makefile
Labels: approved, lgtm

#1627 LOG-3024: Move test of pipelines from e2e to functional
  test/e2e/logforwarding/elasticsearchunmanaged/forward_to_unmanaged_elasticsearch_test.go
  test/e2e/logforwarding/elasticsearchunmanaged/logforwarding_suite_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/constants.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/framework.go
  test/framework/functional/read.go
  test/framework/functional/vector/deploy.go
  test/framework/functional/write.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/outputs/multiple/forward_to_multiple_outputs_test.go
  test/functional/outputs/multiple/multiple_test.go
  test/functional/pipelines/pipelines_test.go
  test/functional/pipelines/suite_test.go
  test/helpers/types/types.go
Labels: approved, lgtm

#1660 LOG-3109: fix CLO setting wrong ServiceMonitor NS
  internal/runtime/monitoring.go
  internal/runtime/runtime_test.go
Labels: approved, lgtm, release/5.6

#1643 LOG-2843: tls.key and tls.cert not in fluentd real configuration when forwarding logs using syslog tls
  internal/generator/fluentd/output/syslog/cert-key.go
  internal/generator/fluentd/output/syslog/syslog.go
  test/framework/e2e/syslog_conf.go
Labels: approved, lgtm

#1663 NO-JIRA: Remove flaky part of console test.
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
Labels: approved, lgtm

#1661 LOG-2933: Sync Dockerfile.in from downstream
  Dockerfile
  Dockerfile.in
Labels: approved, lgtm, midstream/Dockerfile, release/5.6

#1667 LOG-3123: fix OCP max version
  bundle/metadata/properties.yaml
Labels: approved, lgtm, release/5.5

#1665 LOG-3002: Configure cluster-logging-operator to honor the global tlsSecurityProfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  internal/collector/fluentd/visitors.go
  internal/collector/vector/visitors.go
  internal/generator/fluentd/conf_test.go
  internal/k8shandler/collection.go
  internal/tls/profile.go
  internal/tls/tls.go
  internal/tls/tls_test.go
Labels: approved, lgtm
