Repository openshift/cluster-logging-operator, pull requests merged in 2022-06, with the labels that each got.

#1484 LOG-2649: Update critical normalization to be like others
  apis/logging/v1/zz_generated.deepcopy.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
Labels: approved, lgtm

#1480 LOG-2596: Fix the condition in [transforms.route_container_logs] in the configuration file for Vector
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/source/tags.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/inputs.go
  internal/generator/vector/sources_to_pipelines_test.go
Labels: approved, lgtm

#1487 LOG-2223: Support vector cloudwatch forwarding
  Makefile
  internal/generator/vector/conf_test.go
  internal/generator/vector/elements/elements.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize.go
  internal/generator/vector/output/cloudwatch/auth.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/outputs.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/generator/vector/suite_test.go
  test/framework/functional/output_cloudwatch.go
  test/framework/functional/write.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
Labels: approved, lgtm

#1490 LOG-2223: Vector cloudwatch support fix stream names for infra log group
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
Labels: approved, lgtm

#1486 LOG-2677: Update critical normalization to be like others
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
Labels: approved, lgtm, release/5.4

#1478 sync Dockerfile.in from downstream
  Dockerfile
  Dockerfile.in
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile

#1482 NO-JIRA: Upgrade golangci-lint, fix issues raised.
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/controller-gen.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/junitreport.sum
  .bingo/operator-sdk.sum
  .bingo/variables.env
  .golangci.yaml
  Makefile
  apis/logging/v1/cluster_log_forwarder.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  go.mod
  go.sum
  hack/generate-crd.sh
  hack/lib/test/junit.sh
  internal/constants/constants.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/utils/utils.go
  manifests/5.5/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.5/logging.openshift.io_clusterloggings_crd.yaml
  test/framework/e2e/framework.go
  test/framework/e2e/syslog.go
  test/helpers/certificate/certificate.go
  test/helpers/types/types.go
  version/version.go
Labels: approved, lgtm

#1488 LOG-2545: forward container logs to separate indices for vector
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/pipeline_to_output_test.go
  internal/generator/fluentd/sources_test.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/helpers/generator.go
Labels: approved, lgtm

#1493 Support image digests instead of tags for operator-sdk update
  hack/generate-crd.sh
Labels: approved, lgtm

#1497 LOG-2284: Add tls.insecure for vector TLS - backport from #1357
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/constants/constants.go
  internal/generator/url/url.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/passphrase.go
  internal/generator/vector/output/kafka/security.go
  internal/generator/vector/output/kafka/tls.go
  internal/generator/vector/output/security/security.go
  manifests/5.4/logging.openshift.io_clusterlogforwarders_crd.yaml
Labels: approved, lgtm

#1499 Update owners file
  OWNERS
Labels: approved, lgtm

#1496 LOG-2635: Remove colon from config parameter
  pkg/generators/forwarding/fluentd/output_cloudwatch_test.go
  pkg/generators/forwarding/fluentd/templates.go
Labels: approved, lgtm

#1492 LOG-1924: Evaluate log loss in benchmark tool
  internal/cmd/functional-benchmarker/reports/gnuplot/gnuplot.go
  internal/cmd/functional-benchmarker/reports/gnuplot/init.go
  internal/cmd/functional-benchmarker/reports/gnuplot/plot_scripts.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/cmd/functional-benchmarker/stats/init.go
  internal/cmd/functional-benchmarker/stats/loss_stats.go
  internal/cmd/functional-benchmarker/stats/loss_stats_test.go
  internal/cmd/functional-benchmarker/stats/sample.go
  internal/cmd/functional-benchmarker/stats/statistics.go
  internal/cmd/functional-benchmarker/stats/suite_test.go
Labels: approved, lgtm

#1433 Remove support of 'years' and 'months' timeunits from CRD
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings_crd.yaml
  internal/k8shandler/indexmanagement/index_management.go
  internal/k8shandler/indexmanagement/indexmanagement_test.go
  manifests/5.5/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.5/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#1500 LOG-2711: Remove manifests dir in favor of bundle
  Dockerfile
  Dockerfile.in
  Makefile
  PROJECT
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/clusterlogging_types.go
  bundle.Dockerfile
  bundle/manifests/cluster-logging-operator-metrics-service_v1_service.yaml
  bundle/manifests/cluster-logging.v5.5.0.clusterserviceversion.yaml
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders_crd.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  bundle/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/crd/kustomization.yaml
  config/crd/singleton-patch.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  config/rbac/cluster-logging-operator_clusterrolebinding.yaml
  config/rbac/cluster-logging-operator_role.yaml
  config/rbac/cluster-logging-operator_rolebinding.yaml
  config/rbac/kustomization.yaml
  config/samples/logging_v1_clusterlogforwarder.yaml
  config/samples/logging_v1_clusterlogging.yaml
  config/scheduling/cluster-logging_scheduling.k8s.io_v1_priorityclass.yaml
  config/scheduling/kustomization.yaml
  docs/HACKING.md
  hack/common
  hack/gen-olm-artifacts.py
  hack/generate-bundle.sh
  hack/generate-crd.sh
  hack/run-linter
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  manifests/5.5/cluster-logging-metadata-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  manifests/5.5/cluster-logging-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/5.5/cluster-logging-operator-metrics-service_v1_service.yaml
  manifests/5.5/cluster-logging.v5.5.0.clusterserviceversion.yaml
  manifests/5.5/log-collector-privileged-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/5.5/log-collector-privileged_rbac.authorization.k8s.io_v1_role.yaml
  manifests/5.5/logging.openshift.io_clusterlogforwarders_crd.yaml
  manifests/5.5/logging.openshift.io_clusterloggings_crd.yaml
  manifests/5.5/metadata-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/5.5/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  manifests/5.5/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/cluster-logging.package.yaml
  manifests/patches/crd-v1-singleton-patch.yaml
  manifests/patches/kustomization.yaml
  olm_deploy/operatorregistry/Dockerfile
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  olm_deploy/scripts/catalog-build.sh
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/operator-install.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm, midstream/Dockerfile

#1506 LOG-1539: fix must-gather scripts
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
Labels: approved, lgtm

#1507 LOG-2588: Update FluentdQueueLengthIncreasing rule to address missing…
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1505 LOG-2243: remove grafana-dashboard-cluster-logging on removing clusterlogging/instance
  controllers/clusterlogging/clusterlogging_controller.go
  internal/metrics/dashboards.go
Labels: approved, lgtm

#1514 [release-5.4]LOG-1539: fix must-gather scripts
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm

#1515 [release-5.4]LOG-2243: remove grafana-dashboard-cluster-logging on removing clusterlogging/instance
  controllers/clusterlogging/clusterlogging_controller.go
  internal/metrics/dashboards.go
Labels: approved, lgtm

#1511 LOG-2588: Update FluentdQueueLengthIncreasing alert to Warning
  files/fluentd/fluentd_prometheus_alerts.yaml
Labels: approved, lgtm

#1498 LOG-2169: Fix Kafka sasl-plaintext/sasl-ssl
  Makefile
  internal/generator/forwarder/generator.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/cert-key.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/kafka/ca-file.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/sasl.go
  internal/generator/vector/output/security/security.go
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/functional/outputs/kafka/forward_to_kafka_test.go
  test/functional/outputs/kafka/suite_test.go
Labels: approved, lgtm

#1523 LOG-2341: update vector journal logs to follow viaq data model
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
Labels: approved, lgtm

#1520 LOG-2746: Disable chunk backup for all outputs
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/buffer_conf.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/fluentdforward/output_conf_forward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/output_conf_kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
Labels: approved, lgtm

#1530 Fix handling of custom bearer token for vector Loki output
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
Labels: approved, lgtm

#1527 LOG-2731: Print error message only if error != nil
  internal/k8shandler/collection.go
Labels: approved, lgtm

#1531 Use service CA when using default token in vector Loki output
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
Labels: approved, lgtm

#1522 LOG-2751: Using related images naming scheme
  Makefile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
  docs/configuration.md
  hack/gen-olm-artifacts.py
  internal/constants/constants.go
Labels: approved, lgtm

#1529 Do not treat token as path in fluentd Loki config generator
  internal/generator/fluentd/output/loki/bearer-token-file.go
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
Labels: approved, lgtm

#1517 LOG-969: Update CLO to watch resources rather than requests checking every 30s
  controllers/add_controllers.go
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/controller.go
  controllers/forwarding/forwarding_controller.go
  controllers/trustedcabundle/trustedcabundle_controller.go
Labels: approved, lgtm

#1534 LOG-2768: Disable chunk backup
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/buffer_conf.go
  internal/generator/fluentd/output/buffer_conf_test.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/fluentdforward/output_conf_forward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/output_conf_kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
Labels: approved, lgtm

#1532 LOG-2378: Normalize Host Audit Logs
  internal/generator/vector/conf_test.go
  internal/generator/vector/elements/elements.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm

#1537 fix shard number expression in dashboard file
  files/dashboards/openshift-logging-dashboard.json
Labels: approved, lgtm

#1535 move namespace filtering test to functional
  test/e2e/collection/fluentd/namespace_filtering_test.go
  test/functional/collection/namespace_filtering_test.go
Labels: approved, lgtm

#1533 LOG-2774: Stop de-dot of labels
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/ingress.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  test/client/client.go
  test/client/client_test.go
  test/functional/normalization/flatten_labels_test.go
Labels: approved, lgtm

#1540 LOG-2773: fix missing service for CLO metrics monitoring
  bundle/manifests/cluster-logging-operator-metrics_v1_service.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/service.yaml
  config/prometheus/servicemonitor.yaml
  internal/telemetry/cloteleminfo_test.go
Labels: approved, lgtm

#1528 code cleanup: remove redundant(duplicate) line
  internal/k8shandler/indexmanagement/index_management.go
Labels: approved, lgtm

#1536 Default to collector service-account for fluentd Loki output
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/loki/output_conf_loki_test.go
  internal/generator/fluentd/outputs.go
Labels: approved, lgtm

#1542 Temporarily skip insecure fluentd forwarder test
  test/e2e/logforwarding/fluent/fluent_secure_test.go
Labels: approved, lgtm
