Repository openshift/cluster-logging-operator, pull requests merged in 2022-10, with the labels that each got.

#1671 add wait and fix check DS availability
  hack/testing-olm/test-367-logforwarding.sh
  test/framework/e2e/framework.go
Labels: approved, lgtm

#1674 LOG-3074: remove unsed paramenter to fix logs
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/output_conf_es_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
Labels: approved, lgtm, release/5.4

#1666 LOG-3119: Update max OCP to 4.12
  bundle/metadata/properties.yaml
Labels: approved, lgtm, release/5.6

#1684 revert go mod download
  Dockerfile
  Dockerfile.in
Labels: approved, lgtm, midstream/Dockerfile, release/5.6

#1676 LOG-2962: add the 'version' file to Must-Gather archive
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm, release/5.6

#1670 LOG-3093: Healthcheck fails for vector cloudwatch forwarding
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
Labels: approved, lgtm

#1677 LOG-3141: Only call cleanup and must-gather upon test failure
  test/e2e/logforwarding/fluent/fluent_secure_test.go
  test/e2e/logforwarding/fluent/fluent_test.go
  test/e2e/logforwarding/loki/forward_to_loki_test.go
Labels: approved, lgtm, release/5.6

#1678 recreate clusterlogging as needed
  hack/testing-olm/test-040-eventrouter.sh
  hack/testing-olm/test-050-consoleplugin.sh
  test/e2e/consoleplugin/cleanup.sh
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/framework/e2e/framework.go
  test/runtime/logging.go
  test/runtime/runtime_test.go
Labels: approved, lgtm, release/5.6

#1673 LOG-3122: Use correct env variable for vector logging
  internal/collector/vector/visitors.go
  test/framework/functional/vector/deploy.go
Labels: approved, lgtm

#1683 LOG-3055: Detect correct prometheus bind address
  internal/collector/collector.go
  internal/collector/fluentd/run_script.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/sources_test.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/5.6

#1659 Fix serialization of empty managementState value
  apis/logging/v1/clusterlogging_types.go
Labels: approved, lgtm, release/5.6

#1679 LOG-3144: Remove message field when parse json is enabled
  Makefile
  apis/logging/v1/clusterlogforwarder_types_test.go
  apis/logging/v1/suite_test.go
  controllers/forwarding/forwarding_controller.go
  internal/collector/vector/visitors.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/elements/stdout.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/generator/fluentd/pipeline_to_output_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/k8shandler/reconciler.go
  internal/validations/clusterlogforwarder/suite_test.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
  internal/validations/clusterlogforwarder/validate_singleton.go
  internal/validations/clusterlogforwarder/validate_singleton_test.go
  internal/validations/clusterlogforwarder/validations.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/cluster_log_forwarder_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/helpers/types/types.go
Labels: approved, lgtm, release/5.6

#1692 LOG-3112: Temp make clusterid optional until fluentd changes merge
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/message_format_test.go
Labels: approved, lgtm, release/5.6

#1687 LOG-3159: must-gather based upon whats deployed
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  must-gather/collection-scripts/gather_install_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
  test/e2e/collection/cleanup.sh
  test/e2e/logforwarding/cleanup.sh
Labels: approved, lgtm, release/5.6

#1675 LOG-3117: Remove unused volume to support RHCOS9
  internal/collector/collector.go
Labels: approved, lgtm, release/5.6

#1697 LOG-3106: Vector add sequence field to elasticsearch output
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
Labels: approved, lgtm

#1686 LOG-3157: Do not use global variable when updating CR status
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
Labels: approved, lgtm, release/5.6

#1685 LOG-3049: Do not use global variable when updating CR status
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
Labels: approved, lgtm, release/5.5

#1669 LOG-2843, take two. Added client key passphrase
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/generator/fluentd/output/syslog/passphrase.go
  internal/generator/fluentd/output/syslog/syslog.go
Labels: approved, lgtm

#1696 [release-5.5] LOG-3175: Vector healthcheck fails for cloudwatch forwarding
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
Labels: approved, lgtm, release/5.5

#1693 Fix issue with waiting on delete CL and CLF instance
  hack/testing-olm/assertions
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, lgtm

#1694 LOG-3159: must-gather based upon whats deployed
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  must-gather/collection-scripts/gather_install_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
  test/e2e/collection/cleanup.sh
  test/e2e/logforwarding/cleanup.sh
Labels: approved, lgtm, release/5.5

#1695 LOG-3112: fix fluentd audit tests for clusterID
  test/functional/normalization/audit_logs_format_test.go
  test/helpers/types/types.go
Labels: approved, lgtm, release/5.6

#1698 LOG-3167: fix CL serialization to only include populated specs
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/clusterlogging_types_test.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  internal/k8shandler/forwarding.go
  internal/k8shandler/logstore.go
  internal/k8shandler/logstore_test.go
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/migrations/migrate_collection.go
  internal/migrations/migrate_collection_test.go
  test/framework/e2e/framework.go
  test/helpers/clusterlogging.go
Labels: approved, lgtm, release/5.6

#1700 Delete manifests directory
  manifests/5.5/logging.openshift.io_clusterloggings_crd.yaml
Labels: approved, lgtm

#1699 LOG-3176: refactor service reconciliation to get before create
  internal/collector/service.go
  internal/collector/service_monitor.go
  internal/k8shandler/collection.go
  internal/reconcile/service.go
  internal/utils/comparators/services/comparator.go
  internal/utils/comparators/services/comparator_test.go
Labels: approved, lgtm, release/5.6

#1668 LOG-2769: Support Elasticsearch 8.x as an output using vector
  apis/logging/v1/cluster_log_forwarder.go
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
Labels: approved, lgtm, release/5.6

#1703 LOG-3021: Reduce default timeout to 5 min
  test/framework/e2e/framework.go
Labels: approved, lgtm, release/5.6

#1704 LOG-3192: refactor visualization into dedicated package(s)
  internal/k8shandler/defaults.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/reconcile/kibana.go
  internal/visualization/console/plugin.go
  internal/visualization/kibana/compare.go
  internal/visualization/kibana/compare_test.go
  internal/visualization/kibana/factory.go
  internal/visualization/kibana/factory_test.go
  internal/visualization/kibana/remove.go
Labels: approved, lgtm, release/5.6

#1705 LOG-694: Add make target to generate coverate
  .gitignore
  Makefile
Labels: approved, lgtm

#1708 BZ 1904380: bring back the intermediate CA
  test/helpers/kafka/broker.go
Labels: approved, lgtm

#1690 [release-5.5] LOG-3162: Detect correct prometheus bind address
  internal/collector/collector.go
  internal/collector/fluentd/run_script.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/prometheus.go
  internal/generator/fluentd/sources_test.go
  test/framework/functional/framework.go
Labels: approved, lgtm

#1715 try to fix src e2e permissions
  Dockerfile.e2e
Labels: approved, lgtm

#1706 fix CSV to re-enable proper bundle building in CI
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
Labels: approved, lgtm

#1701 LOG-2789: fix collector deployment twice because of CA trustbundle
  controllers/trustedcabundle/trustedcabundle_controller.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/config.go
  internal/collector/daemonset.go
  internal/collector/trust_bundle.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/secret.go
  internal/k8shandler/secret_test.go
  internal/k8shandler/trustedcabundle.go
  internal/metrics/dashboards.go
  internal/reconcile/configmaps.go
  internal/reconcile/secret.go
  internal/reconcile/secret_test.go
  internal/reconcile/suite_test.go
Labels: approved, lgtm, release/5.6

#1717 LOG-3211: Refactor reconcile of serviceaccount
  internal/k8shandler/serviceaccount.go
  internal/reconcile/service_account.go
Labels: approved, lgtm, release/5.6

#1718 Update logforwarding script to fix function evaluation
  hack/testing-olm/assertions
  hack/testing-olm/test-367-logforwarding.sh
Labels: approved, lgtm

#1573 LOG-1441: Upstream bundle build and install
  .bingo/Variables.mk
  .bingo/operator-sdk.mod
  .bingo/operator-sdk.sum
  .bingo/variables.env
  .golangci.yaml
  Makefile
  README.md
  apis/logging/v1/groupversion_info.go
  bundle.Dockerfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/overlays/README.md
  config/overlays/stable/deployment_patch.yaml
  config/overlays/stable/kustomization.yaml
  config/rbac/role.yaml
  docs/HACKING.md
  docs/how-to-create-a-custom-bundle.md
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
Labels: approved, lgtm, midstream/Dockerfile

#1662 LOG-3112: Add openshift.cluster_id to collection for fluentd
  internal/generator/fluentd/generators_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/generator/fluentd/pipeline_to_output_test.go
  test/framework/functional/message_templates.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.6

#1719 LOG-1920: Enable alerts for vector collector
  files/collector/fluentd_prometheus_alerts.yaml
  files/collector/vector_prometheus_alerts.yaml
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/utils/utils.go
Labels: approved, lgtm, release/5.6

#1724 Add some sleep to try fix test
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
Labels: approved, lgtm

#1721 LOG-2715: Require clusterID for all collector impl
  test/framework/functional/message_templates.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.6

#1727 Disable adding OPENSSL_CONF for tlsSecurityProfile
  internal/collector/config.go
  internal/collector/fluentd/visitors.go
  internal/collector/vector/visitors.go
Labels: approved, lgtm

#1716 LOG-3210: Refactor cluster rbac into reconcile package
  internal/k8shandler/collection.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/rbac.go
  internal/reconcile/rbac.go
  internal/runtime/core.go
  internal/runtime/rbac.go
  internal/utils/comparators/clusterrole/comparator.go
  internal/utils/comparators/clusterrole/comparator_test.go
  internal/utils/comparators/clusterrolebinding/comparator.go
  internal/utils/comparators/clusterrolebinding/comparator_test.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/syslog.go
Labels: approved, lgtm, release/5.6

#1728 LOG-3232: Refactor vector dashboard
  files/dashboards/vector/openshift-logging-dashboard.json
Labels: approved, lgtm, release/5.6

#1726 LOG-3127: Enable alerts for vector collector
  files/collector/fluentd_prometheus_alerts.yaml
  files/collector/vector_prometheus_alerts.yaml
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/fluentd.go
  internal/k8shandler/forwarding.go
  internal/utils/utils.go
Labels: approved, lgtm, release/5.5

#1730 LOG-3233: fix servicemonitor continually being removed
  internal/k8shandler/collection.go
Labels: approved, lgtm, release/5.6

#1732 LOG-3223: fix reconciliation of promethusrule to get before create
  internal/collector/prometheus_rule.go
  internal/k8shandler/collection.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/prometheus_rule.go
  internal/metrics/alerts/fluentd.go
  internal/metrics/alerts/vector.go
  internal/reconcile/prometheus_rule.go
  internal/runtime/prometheus_rule.go
Labels: approved, lgtm, release/5.6

#1729 LOG-2906: Add ability forward logs to Splunk output
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/output_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  hack/deploy-splunk.sh
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/security/passphrase.go
  internal/generator/vector/output/splunk/ca_file.go
  internal/generator/vector/output/splunk/cert_key.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/outputs.go
  internal/k8shandler/forwarding.go
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
  test/framework/e2e/splunk.go
  test/framework/functional/framework.go
Labels: approved, lgtm

#1605 LOG-2988: Implement the output API to support sending logs to the Splunk
  Makefile
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/output_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  hack/deploy-splunk.sh
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/security/passphrase.go
  internal/generator/vector/output/splunk/ca_file.go
  internal/generator/vector/output/splunk/cert_key.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/outputs.go
  internal/k8shandler/forwarding.go
  olm_deploy/scripts/env.sh
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
  test/framework/e2e/splunk.go
Labels: approved, lgtm, midstream/Dockerfile, release/5.6

#1725 LOG-3225: Update priority class value to be closer to system-cluster-…
  bundle/manifests/cluster-logging_scheduling.k8s.io_v1_priorityclass.yaml
  config/default/kustomization.yaml
  config/scheduling/cluster-logging_scheduling.k8s.io_v1_priorityclass.yaml
  config/scheduling/kustomization.yaml
  internal/collector/collector.go
  internal/runtime/priorityclass.go
  main.go
Labels: approved, lgtm, release/5.6
