Repository openshift/cluster-logging-operator, pull requests merged in 2023-11, with the labels that each got.

#2225 LOG-4757: update version to 5.9
  Makefile
  bundle.Dockerfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/overlays/stable/deployment_patch.yaml
  config/overlays/stable/kustomization.yaml
  hack/fluent-receiver-template.yaml
  hack/test-e2e-olm.sh
  internal/cmd/functional-benchmarker/config/options.go
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/normalize/schema/otel/transform.go
  internal/generator/vector/output/http/http_test.go
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
  test/functional/normalization/schema/otel_test.go
  version/version.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/5.9

#2199 LOG-4480: fix collector incorrectly assigns some logs to 'default' level
  internal/generator/fluentd/conf_test/fluent.conf
  internal/generator/fluentd/fluent_conf_test/exclude.conf
  internal/generator/fluentd/fluent_conf_test/ns_pipelines.conf
  internal/generator/fluentd/fluent_conf_test/pod_labels.conf
  internal/generator/fluentd/fluent_conf_test/pod_labels_ns.conf
  internal/generator/fluentd/fluent_conf_test/valid_forwarders.conf
  internal/generator/fluentd/fluent_conf_test/well_formed.conf
  internal/generator/fluentd/ingress.go
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/functional/normalization/loglevel/conainer_logs_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2216 LOG-4612: Service/secret is not deleted when the inputs.receiver.http is removed
  internal/collector/daemonset.go
  internal/constants/constants.go
  internal/k8shandler/collection.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/service.go
  internal/network/service.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2218 LOG-4655:No error in CLF when the filterRefs refers to a non-existing filter
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2229 move secret helpers to common package
  internal/collector/cloudwatch.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/elasticsearch/ca-file.go
  internal/generator/fluentd/output/elasticsearch/cert-key.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/passphrase.go
  internal/generator/fluentd/output/elasticsearch/tls.go
  internal/generator/fluentd/output/elasticsearch/userpass.go
  internal/generator/fluentd/output/fluentdforward/ca-file.go
  internal/generator/fluentd/output/fluentdforward/cert-key.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/fluentdforward/passphrase.go
  internal/generator/fluentd/output/fluentdforward/shared-key.go
  internal/generator/fluentd/output/fluentdforward/userpass.go
  internal/generator/fluentd/output/http/ca-file.go
  internal/generator/fluentd/output/http/cert-key.go
  internal/generator/fluentd/output/http/http.go
  internal/generator/fluentd/output/http/passphrase.go
  internal/generator/fluentd/output/http/userpass.go
  internal/generator/fluentd/output/kafka/ca-file.go
  internal/generator/fluentd/output/kafka/cert-key.go
  internal/generator/fluentd/output/kafka/kafka.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/userpass.go
  internal/generator/fluentd/output/loki/bearer-token-file.go
  internal/generator/fluentd/output/loki/ca-file.go
  internal/generator/fluentd/output/loki/cert-key.go
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/loki/userpass.go
  internal/generator/fluentd/output/syslog/ca-file.go
  internal/generator/fluentd/output/syslog/cert-key.go
  internal/generator/fluentd/output/syslog/passphrase.go
  internal/generator/fluentd/output/syslog/syslog.go
  internal/generator/fluentd/output/syslog/tls.go
  internal/generator/helpers/security/security.go
  internal/generator/helpers/security/security_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/security/security.go
Labels: approved, lgtm, release/5.9

#2230 LOG-4706: Fluentd CrashLoopBackOff on single stack IPv6 and dual stack clusters
  internal/collector/fluentd/run_script.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2231 LOG-4780: use AWS token from secret in lieu of SA token
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/generator/fluentd/output/security/security.go
Labels: approved, lgtm, release/5.8

#2226 LOG-4741: cluster-logging-operator reconciling dozens of times
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2237 Fix Loki test race condition
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
  test/framework/e2e/framework.go
  test/helpers/loki/receiver.go
Labels: approved, lgtm, release/5.7

#2234 LOG-4786: Label 'openshift.sequence' is missing when forwarding logs over syslog with vector
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2220 LOG-4536: add request and buffer settings to address memory consumption
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/fluentd/output/http/http_test.go
  internal/generator/helpers/optional_pair.go
  internal/generator/helpers/optional_pair_test.go
  internal/generator/helpers/suite_test.go
  internal/generator/utils/utils.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/elements/keyval.go
  internal/generator/vector/output/buffer.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/request.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/outputs_test.go
Labels: approved, lgtm, release/5.7

#2246 LOG-4743: Add constructor functions for source generator elements
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/source/audit_logs.go
  internal/generator/vector/source/http_receiver.go
  internal/generator/vector/source/journal_log.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/source/sources.go
Labels: approved, lgtm, release/5.9

#2247 Update OWNERS
  OWNERS
Labels: approved, lgtm

#2243 LOG-4809: reduce stream file size for functional-benchmarker
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/cmd/functional-benchmarker/stats/loss_stats.go
  internal/cmd/functional-benchmarker/stats/statistics.go
  internal/cmd/functional-benchmarker/stats/types.go
  internal/cmd/functional-benchmarker/stats/types_test.go
  test/framework/functional/output_http.go
Labels: approved, lgtm, release/5.8

#2245 LOG-4813: Add matcher to help test conf generation
  internal/generator/framework/generator.go
  test/matchers/diff.go
  test/matchers/generator_element.go
  test/matchers/generator_element_test.go
Labels: approved, lgtm, release/5.9

#2254 LOG-4823: Explicitly specify vector config file as /etc/vector/vector.toml
  internal/collector/vector/run_script.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2244 LOG-4812: Refactor metrics templates and helper functions
  internal/generator/vector/conf/outputs.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/helpers/tls_options.go
  internal/generator/vector/input/inputs.go
  internal/generator/vector/normalize/throttle.go
  internal/generator/vector/output/common/throttle.go
  internal/generator/vector/output/metrics/prometheus.go
  internal/generator/vector/source/metrics.go
Labels: approved, lgtm, release/5.9

#2259 [release-5.7] Include clusterversion and machineconfigpool in logging…
  must-gather/collection-scripts/gather
Labels: approved, lgtm

#2256 LOG-4792 Quick fix must-gather to preserve white-spaces
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm, release/5.9

#2248 LOG-4815: relax the need for permissions on receiver input
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2263 LOG-4829: Refactor kubernetes_logs source to allow includes and excludes
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_custom_data_dir.toml
  internal/generator/vector/conf/complex_es_no_ver.toml
  internal/generator/vector/conf/complex_es_v6.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/es_pipeline_w_spaces.toml
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/source/kubernetes_logs_no_includes_excludes.toml
  internal/generator/vector/source/kubernetes_logs_test.go
  internal/generator/vector/source/kubernetes_logs_with_includes.toml
  internal/generator/vector/source/sources.go
  internal/generator/vector/source/sources_test.go
  internal/generator/vector/source/suite_test.go
  test/matchers/generator_element.go
Labels: approved, lgtm, release/5.9

#2266 LOG-4832: Add constructors for output elements
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/normalize/dedot_labels.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/metrics/prometheus.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/syslog/syslog.go
Labels: approved, lgtm, release/5.9

#2267 Fix otel test
  internal/generator/vector/normalize/schema/otel/transform.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
Labels: approved, lgtm, release/5.9

#2269 LOG-4821:fix status format for pipeline: set Validation fail reason if miss configuration outputs, inputs or filters
  apis/logging/v1/conditions.go
  controllers/forwarding/forwarding_controller.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2270 NO-JIRA: Fix minor typo in api-audit-filter.adoc
  docs/features/logforwarding/filters/api-audit-filter.adoc
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2272 LOG-4846: Adjust CLO to include the korrel8r proxy in the logging view plugin
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  internal/constants/constants.go
  internal/constants/features.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward.go
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/syslog/syslog.go
  internal/k8shandler/visualization_test.go
  internal/visualization/console/config.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/console/reconciler_test.go
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2276 LOG-4846: Adjust CLO to include the korrel8r proxy in the logging view plugin
  internal/constants/constants.go
  internal/constants/features.go
  internal/k8shandler/visualization_test.go
  internal/visualization/console/config.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/console/reconciler_test.go
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8
