Repository openshift/cluster-logging-operator, pull requests merged in 2023-05, with the labels that each got.

#1957 LOG-3932: No log_forwarder_output_info for splunk and google logging
  internal/telemetry/cloteleminfo.go
Labels: approved, lgtm, release/5.6, jira/valid-reference

#1982 LOG-3458: fix kafka buffer config when topic is same as payload key
  internal/generator/fluentd/output/kafka/kafka.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/output_conf_kafka_test.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/output_kafka.go
  test/functional/outputs/kafka/forward_to_kafka_test.go
Labels: approved, lgtm, release/5.8

#1990 [release-5.6] LOG-4030: Remove collector daemonset when no logStore or forwarder
  internal/k8shandler/reconciler.go
Labels: approved, lgtm, jira/valid-reference

#1989 LOG-4039: logging-view-plugin not deployed when visualization is nil
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#1994 LOG-4045: Update skipRange to allow updating from 5.6 onwards
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1993 LOG-3837: Update skipRange to allow updating from 5.4 onwards
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2000 LOG-4085: Remove operator from stable channel
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#1999 Update Elasticsearch feature doc
  docs/features/logforwarding/outputs/elasticsearch-forwarding.adoc
Labels: approved, lgtm, release/5.8

#2002 LOG-4086: remove default of collection.type
  apis/logging/v1/clusterlogging_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  hack/cr-deprecated.yaml
  hack/testing-olm/assertions
  hack/testing-olm/test-010-deploy-via-olm-minimal.sh
  internal/collector/collector.go
  internal/factory/daemonset.go
  internal/factory/daemonset_test.go
  internal/factory/suite_test.go
  internal/k8shandler/daemonset.go
  internal/migrations/migrate_collection.go
  internal/reconcile/daemon_sets.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2007 LOG-3314: fix config generation for Kafka output
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/kafka/sasl.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1998 LOG-3330: fix run.sh script to displays correct chunk_limit_size value if it is changed
  internal/collector/fluentd/run_script.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1955 LOG-3964: Update image to UBI9
  Dockerfile
  Dockerfile.in
  Makefile
  hack/generate-dockerfile-from-midstream
  hack/run-linter
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/5.8

#1964 [release-5.7] LOG-3997: Add http to log_forwarder_output_info metrics
  internal/metrics/telemetry/cloteleminfo.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#1992 [release-5.7] LOG-3316: openshift-logging namespace can not be deleted
  docs/administration/troubleshooting.md
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/logstore/lokistack/logstore_lokistack.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#1961 [release-5.7] LOG-3945: Collector pods in CrashLoopBackOff with spaces in pipeline name
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources_to_pipelines_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2005 LOG-3445: Apply 'tls.insecureSkipVerify=true' configuration even if certificate not added to the secret
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference

#1944 LOG-3830: Add common labels to CLF objects
  Makefile
  internal/collector/collector.go
  internal/collector/config.go
  internal/collector/service.go
  internal/constants/constants.go
  internal/factory/daemonset.go
  internal/factory/daemonset_test.go
  internal/factory/service.go
  internal/k8shandler/collection.go
  internal/runtime/core.go
  internal/runtime/daemonset.go
  internal/runtime/runtime.go
  internal/runtime/service.go
  internal/utils/utils.go
  version/version.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1985 [release-5.7] LOG-3249: Fix log parsing and index logic in fluentd
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/generator/fluentd/pipeline_to_output_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/loglevel/conainer_logs_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#1986 [release-5.7] LOG-3749: Unability to configure nodePlacement and toleration for log…
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
  internal/migrations/migrate_clusterlogging.go
  internal/migrations/migrate_clusterlogging_test.go
  internal/migrations/migrate_collection_test.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/console/reconciler_test.go
  internal/visualization/kibana/factory.go
  internal/visualization/kibana/factory_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2009 Added a SecurityContext to the test log generator to satisfy OCP 4.14
  test/helpers/oc/oc_suite_test.go
Labels: approved, lgtm, release/5.8

#1952 LOG-3827:Read TLS passphrase from file instead of K8s configmap for fluentd http output plugin
  internal/generator/fluentd/output/http/http.go
  internal/generator/fluentd/output/http/http_test.go
  internal/generator/fluentd/output/http/passphrase.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2017 LOG-4147: Update bingo and golangci-lint
  .bingo/.gitignore
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/junitreport.mod
  .bingo/variables.env
  .golangci.yaml
  Makefile
  go.mod
  internal/cmd/forwarder-generator/main.go
  internal/cmd/functional-benchmarker/config/options.go
  internal/cmd/functional-benchmarker/main.go
  internal/cmd/functional-benchmarker/reports/gnuplot/gnuplot.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/utils/utils.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  test/helpers.go
  test/helpers/certificate/certificate_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2019 [release-5.6] LOG-4090: Fix log parsing and index logic in fluentd
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/generator/fluentd/pipeline_to_output_test.go
  test/functional/normalization/json_parsing_test.go
  test/functional/normalization/loglevel/conainer_logs_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
Labels: approved, lgtm, jira/valid-reference

#2012 LOG-4000: update to go 1.19 to fix CVE
  .bingo/junitreport.mod
  Dockerfile
  go.mod
  go.sum
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/5.7, jira/valid-reference

#1981 LOG-4009: TLS configuration for multiple Kafka brokers is not created in Vector
  apis/logging/v1/output_types.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/syslog/syslog.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1924 LOG-3784: value provided in HTTP header 'Content-Type' for Fluentd HTTP plugin is automatically assigned to the 'content_type' parameter
  internal/generator/fluentd/output/http/http.go
  internal/generator/fluentd/output/http/http_test.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2024 LOG-4163: [release-5.7] TLS configuration for multiple Kafka brokers is not created in Vector
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/syslog/syslog.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2025 Set fluentd image version to 5.8.0
  Makefile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/overlays/stable/deployment_patch.yaml
  hack/fluent-receiver-template.yaml
  internal/cmd/functional-benchmarker/config/options.go
  olm_deploy/scripts/env.sh
Labels: approved, lgtm, release/5.8

#2026 Make lint happy
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/collector/collector.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
Labels: approved, lgtm, release/5.8

#2021 [release-5.6]LOG-4146: Proceede tls.insecureSkipVerify=true configuration even if certificate not added to the secret
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/validations/clusterlogforwarder/suite_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2028 upgrade linter and fix violations
  .bingo/.gitignore
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/controller-gen.sum
  .bingo/gen-crd-api-reference-docs.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/junitreport.sum
  .bingo/kustomize.sum
  .bingo/operator-sdk.sum
  .bingo/opm.sum
  .bingo/variables.env
  internal/cmd/forwarder-generator/main.go
  internal/cmd/functional-benchmarker/config/options.go
  internal/cmd/functional-benchmarker/main.go
  internal/cmd/functional-benchmarker/reports/gnuplot/gnuplot.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/utils/utils.go
  test/helpers.go
  test/helpers/certificate/certificate_test.go
Labels: approved, lgtm, release/5.7

#2011 LOG-4121: Vector fails to run when configuring syslog forwarding for audit log
  internal/generator/vector/conf_test.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources_to_pipelines_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2027 [release-5.7]LOG-3445: Apply 'tls.insecureSkipVerify=true' configuration even if certificate not added to the secret
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2022 LOG-4098: Manual cherry-pick of LOG-3932
  internal/metrics/telemetry/cloteleminfo.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2032 LOG-4173 & LOG-4174: manual forward ports of telemetry
  internal/metrics/telemetry/cloteleminfo.go
Labels: approved, lgtm, jira/valid-reference
