Repository openshift/cluster-logging-operator, pull requests merged in 2023-07, with the labels that each got.

#2073 Removed runtime.InitContainerBuilder
  internal/runtime/pod.go
  test/framework/functional/output_kafka.go
Labels: approved, lgtm

#2058 LOG-4095: fix labels with more then one dot
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_test.go
  test/functional/outputs/loki/application_logs_vector_test.go
Labels: approved, lgtm, jira/valid-reference

#2060 LOG-4239: Add ClusterLogging validation for multi clusterlogforwarder
  internal/k8s/loader/load.go
  internal/validations/clusterlogging/suite_test.go
  internal/validations/clusterlogging/validate_clusterlogging_spec.go
  internal/validations/clusterlogging/validate_clusterlogging_spec_test.go
  internal/validations/clusterlogging/validations.go
  internal/validations/errors/errors.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2076 LOG-4073: fix link to the documentation
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  docs/README.adoc
Labels: approved, lgtm, jira/valid-reference

#2081 LOG-4258: Fluentd able to send logs to an Elasticsearch when using passphrase for the private key provided
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/passphrase.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2074 LOG-4283: fix 'component' label value
  internal/k8shandler/collection.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/network/service.go
  internal/network/service_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2078 Remove default application logs reader role binding
  internal/logstore/lokistack/logstore_lokistack.go
Labels: approved, lgtm

#2084 Clarify CL-CLF dependency error message, fix race in e2e/logforwarding/splunk
  internal/k8s/loader/load.go
  internal/validations/clusterlogforwarder/validate_clusterlogging_dependency.go
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, release/5.8

#2057 LOG-4238: [release-5.7] Migrate vector to the latest upstream release
  Makefile
  config/overlays/stable/deployment_patch.yaml
  docs/features/collection.adoc
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/generator/vector/outputs_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
  olm_deploy/scripts/env.sh
  test/framework/functional/builders.go
  test/framework/functional/output_http.go
  test/framework/functional/vector/deploy.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2090 De-raced test/e2e/logforwarding/elasticsearchmanaged
  test/framework/e2e/framework.go
Labels: approved, lgtm, release/5.8

#2083 LOG-4324: Clarify GCL CLF API verification
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2091 De-race e2e forward_to_loki and forward_to_splunk
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
  test/framework/e2e/framework.go
Labels: approved, lgtm

#2082 LOG-4309: Modify operator to watch all namespaces
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/rbac/log-collector-privileged_role.yaml
  config/rbac/log_collector_privileged_binding.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  controllers/forwarding/forwarding_controller_test.go
  controllers/forwarding/suite_test.go
  controllers/logfilemetricsexporter/logfilemetricsexporter_controller.go
  hack/clusterlogforwarder/cr.yaml
  hack/testing-olm/assertions
  hack/testing-olm/test-1343-minimal-multi-clf.sh
  internal/collector/collector_test.go
  internal/collector/service_account.go
  internal/constants/constants.go
  internal/factory/resource_names.go
  internal/factory/resource_names_test.go
  internal/k8s/loader/load.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/daemonset_test.go
  internal/metrics/logfilemetricexporter/factory_test.go
  internal/metrics/logfilemetricexporter/metric_exporter_test.go
  internal/network/service_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogging_dependency.go
  internal/validations/clusterlogforwarder/validate_clusterlogging_dependency_test.go
  internal/validations/clusterlogforwarder/validate_singleton.go
  internal/validations/clusterlogforwarder/validate_singleton_test.go
  main.go
  olm_deploy/subscription/operator-group.yaml
  test/e2e/collection/container_security_test.go
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/framework/e2e/elasticsearch.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/framework.go
  test/framework/e2e/kafka.go
  test/framework/e2e/syslog.go
  test/helpers/clusterlogging.go
  test/runtime/logging.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2086 LOG-3880: Hide deprecated fields in UI form view
  apis/logging/v1/clusterlogging_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2093 LOG-4302: skip checking URL on is secure if URL not provided in config
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2088 LOG-3959: remove obsolete critical-pod annotation
  internal/factory/daemonset.go
  internal/factory/daemonset_test.go
Labels: approved, lgtm, release/5.8

#2092 LOG-4330: [release-5.8] Anonymous pipelines in ClusterLogForwarder no longer work after upgrading OpenShift Logging to 5.7
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
Labels: approved, lgtm, jira/valid-reference

#2099 LOG-3829: validation to actually be used
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, release/5.8

#2104 For collector config gen unit tests, embedded expected config
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/conf_test/fluent.conf
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/fluent_conf_test/exclude.conf
  internal/generator/fluentd/fluent_conf_test/ns_pipelines.conf
  internal/generator/fluentd/fluent_conf_test/pod_labels.conf
  internal/generator/fluentd/fluent_conf_test/pod_labels_ns.conf
  internal/generator/fluentd/fluent_conf_test/valid_forwarders.conf
  internal/generator/fluentd/fluent_conf_test/well_formed.conf
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
Labels: approved, lgtm, release/5.8

#2100 [release-5.7] LOG-4368: Fix fluentd sts cloudwatch multiple roles
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/fluentd/output/cloudwatch/aws.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/security/security_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/generator/fluentd/suite_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2098 LOG-4084: Fix fluentd sts cloudwatch auth using multiple roles
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/fluentd/output/cloudwatch/aws.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/splunk/splunk_test.go
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2102 LOG-3570: Remove tlsSecurityProfile feature gate
  docs/features/tls_security_profile.adoc
  internal/constants/features.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/outputs.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_features_test.go
  test/framework/functional/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2101 LOG-4371: Fix for fluentd sts cloudwatch using multiple roles
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/fluentd/output/cloudwatch/aws.go
  internal/generator/fluentd/output/cloudwatch/cloudwatch.go
  internal/generator/fluentd/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/fluentd/output/fluentdforward/fluentdforward_test.go
  internal/generator/fluentd/output/kafka/kafka_test.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
  internal/generator/fluentd/output/security/security_test.go
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/generator/fluentd/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2106 LOG-4120: [release-5.7] Anonymous pipelines in ClusterLogForwarder no longer work after upgrading OpenShift Logging to 5.7
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
Labels: approved, lgtm, jira/valid-reference

#2108 Misc fixes of CLO code 2023/07/24
  Makefile
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  hack/run-linter
  internal/collector/config.go
  internal/constants/constants.go
  internal/metrics/dashboards.go
  internal/reconcile/configmaps.go
  internal/reconcile/secret.go
  internal/reconcile/secret_test.go
  internal/utils/comparators/comparators.go
  internal/utils/comparators/configmaps/comparator.go
  internal/utils/comparators/configmaps/comparator_test.go
  internal/utils/comparators/secrets/comparator.go
  internal/utils/comparators/secrets/comparator_test.go
  internal/utils/quantity.go
  internal/utils/quantity_test.go
  internal/validations/errors/errors.go
  test/framework/functional/cluster_log_forwarder.go
  test/functional/collection/input_selector_test.go
  test/functional/fluentd.go
  test/functional/functional.go
  test/functional/normalization/crio_partial_log_test.go
  test/functional/normalization/eventrouter_test.go
  test/functional/normalization/flatten_labels_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/loki/application_logs_test.go
  test/functional/outputs/loki/application_logs_vector_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/functional/outputs/loki/audit_logs_vector_test.go
  test/functional/outputs/tls_security_profile_test.go
  test/functional/vector.go
Labels: approved, lgtm, release/5.8

#2105 LOG-4315: replace getClusterLogging with loader function
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2097 LOG-3847: Refactor Collector Alerts to support M-CLF
  internal/collector/prometheus_rule.go
  internal/factory/service.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/service.go
  internal/metrics/alerts/alerts.yaml
  internal/metrics/alerts/collector.go
  internal/metrics/alerts/fluentd.go
  internal/metrics/alerts/vector.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/service_monitor.go
  internal/metrics/service_monitor_test.go
  internal/network/service.go
  internal/network/service_test.go
  internal/reconcile/prometheus_rule.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/syslog.go
  test/helpers/kafka/broker.go
  test/helpers/kafka/zookeeper.go
Labels: approved, lgtm, jira/valid-reference

#2103 LOG-4240: initialize spec.visualization with ocp-console plugin, if spec.LogStore was defined as lokistack and the visualization not defined
  internal/k8s/loader/load.go
  internal/migrations/migrate_visualization.go
  internal/migrations/migrate_visualization_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2054 LOG-1913: Modify functional-bench-marker to support vector
  Makefile
  internal/cmd/functional-benchmarker/config/options.go
  internal/cmd/functional-benchmarker/main.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
  internal/cmd/functional-benchmarker/runners/runner.go
  internal/cmd/functional-benchmarker/stats/loss_stats.go
  internal/cmd/functional-benchmarker/stats/loss_stats_test.go
  internal/cmd/functional-benchmarker/stats/types.go
  internal/cmd/functional-benchmarker/stats/types_test.go
  internal/runtime/pod.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  test/framework/functional/output_forward.go
  test/framework/functional/output_http.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2111 LOG-1343: Developer docs for multi CLF
  docs/README.adoc
  docs/administration/README.adoc
  docs/administration/clusterlogforwarder.adoc
  docs/administration/logfilemetricexporter.adoc
  docs/administration/unmanaged_configuration.md
  docs/features/collection.adoc
Labels: approved, lgtm, release/5.8
