Repository openshift/cluster-logging-operator, pull requests merged in 2023-01, with the labels that each got.

#1801 LOG-3342: fix validation on empty spec
  controllers/clusterlogging/clusterlogging_controller.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/reconciler.go
  internal/migrations/logstore_lokistack_test.go
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
  internal/runtime/logging.go
  test/runtime/logging.go
Labels: approved, lgtm, release/5.5

#1802 LOG-3228: fix validation on empty spec
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/reconciler.go
  internal/migrations/logstore_lokistack_test.go
  internal/migrations/migrate_clusterlogforwarder.go
  internal/migrations/migrate_clusterlogforwarder_test.go
  internal/runtime/logging.go
  test/runtime/logging.go
Labels: approved, lgtm, release/5.6

#1809 change x to ✓for indicating feature support
  docs/features/collection.adoc
Labels: approved, lgtm

#1799 LOG-3341: fix namespace_labels when writing to Elasticsearch
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  test/functional/normalization/flatten_labels_test.go
Labels: approved, lgtm, release/5.5

#1805 LOG-3446: Fix k8s client throttling in must-gather scripts
  must-gather/collection-scripts/common
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_collection_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
  must-gather/collection-scripts/gather_install_resources
  must-gather/collection-scripts/gather_logstore_resources
  must-gather/collection-scripts/gather_visualization_resources
Labels: approved, lgtm, release/5.6

#1806 LOG-3302: Update scc to desired
  internal/reconcile/scc.go
  internal/reconcile/scc_test.go
Labels: approved, lgtm, release/5.6

#1818 LOG-3235: Update scc to desired
  internal/reconcile/scc.go
  internal/reconcile/scc_test.go
Labels: approved, lgtm, release/5.5

#1825 LOG-3474: fix custom input in clf spec when using loki
  internal/consoleplugin/reconciler.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/reconciler.go
  internal/migrations/logstore_lokistack_test.go
  internal/migrations/migrate_clusterlogforwarder.go
Labels: approved, lgtm

#1813 LOG-3282: Generate reference documentation for apis
  .bingo/Variables.mk
  .bingo/gen-crd-api-reference-docs.mod
  .bingo/gen-crd-api-reference-docs.sum
  .bingo/variables.env
  Makefile
  README.md
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/clusterlogging_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/docs/config.json
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  config/docs/templates/apis/asciidoc/type.tpl
  config/docs/templates/datamodels/asciidoc/members.tpl
  config/docs/templates/datamodels/asciidoc/pkg.tpl
  config/docs/templates/datamodels/asciidoc/type.tpl
  docs/README.adoc
  docs/README.md
  docs/administration/configuration.md
  docs/administration/deploy-event-router.md
  docs/administration/output_url_field.md
  docs/administration/troubleshooting.md
  docs/administration/unmanaged_configuration.md
  docs/contributing/README.md
  docs/contributing/REVIEW.md
  docs/contributing/how-to-add-new-output.md
  docs/contributing/how-to-create-a-custom-bundle.md
  docs/reference/datamodels/viaq/v1.adoc
  docs/reference/operator/api.adoc
  internal/cmd/functional-benchmarker/stats/loss_stats_test.go
  internal/datamodels/viaq/v1/doc.go
  internal/datamodels/viaq/v1/viaq.go
  test/framework/functional/message_templates.go
  test/helpers/types/types.go
  test/helpers/types/types_test.go
  test/matchers/log_format_test.go
Labels: approved, lgtm, release/5.7

#1827 fix broken readme links
  README.adoc
  README.md
  docs/contributing/README.adoc
  docs/contributing/REVIEW.adoc
  docs/contributing/REVIEW.md
Labels: approved, lgtm, release/5.7

#1795 LOG-3436: Refactor logstore into separate package
  internal/k8shandler/defaults.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/helpers_test.go
  internal/k8shandler/logstore.go
  internal/k8shandler/logstore_lokistack.go
  internal/k8shandler/logstore_test.go
  internal/k8shandler/rbac.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/status.go
  internal/logstore/elasticsearch/cleanup.go
  internal/logstore/elasticsearch/comparator.go
  internal/logstore/elasticsearch/factory.go
  internal/logstore/elasticsearch/indexmanagement/index_management.go
  internal/logstore/elasticsearch/indexmanagement/indexmanagement_suite_test.go
  internal/logstore/elasticsearch/indexmanagement/indexmanagement_test.go
  internal/logstore/elasticsearch/logstore_test.go
  internal/logstore/elasticsearch/reconcile.go
  internal/logstore/elasticsearch/status.go
  internal/logstore/elasticsearch/suite_test.go
  internal/logstore/lokistack/logstore_lokistack.go
  internal/logstore/lokistack/logstore_lokistack_test.go
  internal/reconcile/rbac.go
  test/framework/e2e/elasticsearch.go
Labels: approved, lgtm, release/5.7

#1829 update docs for splunk feature
  docs/features/collection.adoc
Labels: approved, lgtm, release/5.7

#1826 LOG-3484: refactor package
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/visualization/console/config.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/console/reconciler_test.go
  internal/visualization/kibana/reconcile.go
  main.go
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
  test/framework/e2e/certificates/certificates.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/5.7

#1733 LOG-3311: Support Http output for vector
  Makefile
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/output_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/features/collection.adoc
  internal/generator/vector/output/http/basic.go
  internal/generator/vector/output/http/bearer_token.go
  internal/generator/vector/output/http/ca_file.go
  internal/generator/vector/output/http/cert_key.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/http/userpass.go
  internal/generator/vector/outputs.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/framework.go
  test/framework/functional/output_elasticsearch7.go
  test/framework/functional/output_http.go
  test/framework/functional/output_kafka.go
  test/framework/functional/output_syslog.go
  test/functional/outputs/http/forward_to_http_test.go
  test/functional/outputs/http/suite_test.go
Labels: approved, lgtm, release/5.7

#1823 LOG-3477: fix degraded pipeline status
  internal/k8shandler/reconciler.go
Labels: approved, lgtm, release/5.6

#1831 Addressed race condition during cert generation, fixed loki uid for vector CI
  internal/utils/utils.go
  test/framework/e2e/certificates/certificates.go
  test/framework/e2e/elasticsearch.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
  test/helpers/loki/receiver.go
Labels: approved, lgtm

#1833 Ran gofmt on the entire codebase
  apis/logging/v1/output_types.go
  internal/collector/fluentd/run_script.go
  internal/factory/daemonset.go
  internal/factory/pod.go
  internal/factory/service.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/output/kafka/kafka.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/generator.go
  internal/generator/logging.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/metrics.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/k8shandler/configmap.go
  internal/k8shandler/cronjob.go
  internal/k8shandler/daemonset.go
  internal/k8shandler/deployment.go
  internal/k8shandler/logstore.go
  internal/k8shandler/pod.go
  internal/k8shandler/route.go
  internal/k8shandler/secret.go
  internal/k8shandler/service.go
  internal/k8shandler/serviceaccount.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/runtime/pod.go
  internal/runtime/priorityclass.go
  internal/runtime/rbac.go
  internal/tls/tls.go
  internal/utils/comparators/configmaps/comparator.go
  internal/utils/comparators/daemonsets/comparator.go
  internal/utils/comparators/servicemonitor/comparator.go
  internal/utils/comparators/services/comparator.go
  internal/utils/quantity.go
  internal/utils/safemap.go
  internal/utils/utils.go
  test/client/doc.go
  test/client/test.go
  test/framework/e2e/elasticsearch.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
  test/functional/normalization/crio_partial_log_test.go
  test/helpers.go
  test/helpers/types/optional_int.go
  test/matchers/errors.go
  test/runtime/log_generator.go
Labels: approved, lgtm

#1834 LOG-3519: Update Upstream CLO docs for GCP logging
  docs/features/logs-in-gcp.png
  docs/features/send-logs-to-google-cloud-logging.md
Labels: approved, lgtm, jira/valid-reference

#1814 LOG-3463: fix namespace_labels when writing to Elasticsearch
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/viaq_data_model.go
  internal/generator/fluentd/output/output_fluentd_buffer_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  test/functional/normalization/flatten_labels_test.go
Labels: approved, lgtm, release/5.6

#1757 LOG-3280: exclude log generated by loki
  internal/constants/constants.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, release/5.7

#1839 [release-5.5] LOG-2843, take two. Added client key passphrase
  internal/generator/fluentd/output/syslog/output_conf_syslog_test.go
  internal/generator/fluentd/output/syslog/passphrase.go
  internal/generator/fluentd/output/syslog/syslog.go
Labels: approved, lgtm

#1843 Update collection.adoc
  docs/features/collection.adoc
Labels: approved, lgtm
