Repository openshift/cluster-logging-operator, pull requests merged in 2023-10, with the labels that each got.

#2184 LOG-4568: change limitspec field name to PodLimit
  apis/logging/v1/cluster_log_forwarder.go
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/features/collection.adoc
  docs/reference/operator/api.adoc
  internal/generator/vector/inputs.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/e2e/flowcontrol/flowcontrol_test.go
  test/functional/flowcontrol/application_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2185 LOG-3949: Vector not releasing deleted file handles
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2187 LOG-4575: Vector not releasing deleted file handles
  internal/generator/vector/conf_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2189 LOG-4574: Input permission validation failure with an HTTP receiver as input in a multiple-CLF
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2193 NO-JIRA: Update api-audit-filter.adoc, add pipeline name in example
  docs/features/logforwarding/filters/api-audit-filter.adoc
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2191 LOG-4441: set invalid condition when using parse json with without setting structuredTypeKey or structuredTypeName
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2195 Improve logging dashboard overview queries
  internal/metrics/dashboard/openshift-logging-dashboard.json
Labels: approved, lgtm, release/5.8

#2190 LOG-4577: Resources created after enabling receiver.http are not cleaned up after CLF is deleted
  internal/k8shandler/collection.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2194 LOG-4580: Add validation for secret used with the Splunk output in CLF
  internal/constants/constants.go
  internal/generator/vector/output/splunk/splunk.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2202 LOG-4590: fixing validation for Log Forwarder specification with filters
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2204 Revert 4568
  apis/logging/v1/cluster_log_forwarder.go
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/features/collection.adoc
  docs/reference/operator/api.adoc
  internal/generator/vector/inputs.go
  internal/generator/vector/sources_to_pipelines_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/e2e/flowcontrol/flowcontrol_test.go
  test/functional/flowcontrol/application_test.go
Labels: approved, lgtm, release/5.8

#2206 LOG-4607: fix install mode to only AllNamespaces
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.8

#2203 LOG-4597: modify vector buffer and request to have mostly parity with…
  apis/logging/v1/output_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/fluentd/output/http/http_test.go
  internal/generator/helpers/optional_pair.go
  internal/generator/helpers/optional_pair_test.go
  internal/generator/helpers/suite_test.go
  internal/generator/utils/utils.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/elements/keyval.go
  internal/generator/vector/output/buffer.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/request.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/outputs_test.go
  internal/generator/vector/pipelines_to_output_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2200 LOG-4589: vector fails to start on a node with IPv6 disabled
  internal/generator/vector/metrics.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2207 LOG-4608: [httpserver] Connection refused on IPv6 cluster
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/metrics.go
  internal/generator/vector/outputs.go
  internal/generator/vector/sources.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2208 LOG-4624: Update golang.org/x/net to v0.17.0 to address CVE-2023-39325
  go.mod
  go.sum
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2209 LOG-4623: update golang.org/x/net to v0.17.0 to address CVE-2023-39325
  go.mod
  go.sum
  internal/cmd/functional-benchmarker/config/options.go
Labels: approved, lgtm, jira/valid-bug, release/5.6

#2192 LOG-4579: Show FluentD Buffer Usage in metrics dashboard instead of availability
  files/dashboards/fluentd/openshift-logging-dashboard.json
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2211 Revert "LOG-4607: fix install mode to only AllNamespaces"
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2212 LOG-4625: update golang.org/x/net to v0.17.0 to address CVE-2023-39325
  go.mod
  go.sum
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2210 LOG-4622: update golang.org/x/net to v0.17.0 to address CVE-2023-39325
  go.mod
  go.sum
  internal/cmd/functional-benchmarker/config/options.go
Labels: approved, lgtm, release/5.5, jira/valid-reference

#2215 LOG-4676: Modify receiverport to be a simple int instead of a struct
  .bingo/gen-crd-api-reference-docs.sum
  apis/logging/v1/cluster_log_forwarder.go
  apis/logging/v1/input_receiver_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  docs/reference/operator/secrets.adoc
  internal/collector/collector.go
  internal/constants/constants.go
  internal/generator/vector/sources.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/framework/functional/write.go
  test/functional/inputs/http/http_input_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2219 LOG-4681: kubeAPIAudit policies don't work on audit logs from auditWebhook
  Makefile
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/filter/apiaudit/policy.vrl.tmpl
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/framework/e2e/framework.go
  test/functional/collection/namespace_filtering_test.go
  test/functional/filters/apiaudit/vrl/suite_test.go
  test/functional/inputs/http/http_input_test.go
  test/functional/normalization/audit_logs_format_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2222 fix operator bundle for console plugin
  olm_deploy/operatorregistry/registry-deployment.yaml
Labels: approved, lgtm

#2201 LOG-4589: vector fails to start on a node with IPv6 disabled
  internal/generator/vector/metrics.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2186 LOG-4383: resolve conflict between outputs and pipelines name
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/outputs.go
  internal/generator/fluentd/pipeline_to_output.go
  test/functional/pipelines/pipelines_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2196 LOG-4441: set invalid condition when using parse json with without setting structuredTypeKey or structuredTypeName
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers_test.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
  internal/validations/clusterlogforwarder/validate_singleton.go
  internal/validations/clusterlogforwarder/validate_singleton_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, release/5.7, jira/valid-reference
