Repository openshift/cluster-logging-operator, pull requests merged in 2023-06, with the labels that each got.

#2031 LOG-4095: fix loki labelKeys that contain slash
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  internal/generator/vector/output/loki/loki.go
  test/functional/outputs/loki/application_logs_vector_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#1988 CLO changes due to vector update to v0.28-1 (viaq/vector release-5.8)
  Makefile
  config/overlays/stable/deployment_patch.yaml
  docs/features/collection.adoc
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/generator/vector/outputs_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
  olm_deploy/scripts/env.sh
  test/framework/functional/builders.go
  test/framework/functional/output_http.go
  test/framework/functional/vector/deploy.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
Labels: approved, lgtm, release/5.8

#2036 LOG-4184: fix config forwarding to default Loki using vector
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2037 LOG-4185: Always prefer collection.logs.* over collection.
  internal/migrations/migrate_clusterlogging.go
  internal/migrations/migrate_clusterlogging_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2040 LOG-4185: Always prefer collection.logs.* over collection.
  internal/migrations/migrate_collection.go
  internal/migrations/migrate_collection_test.go
Labels: approved, lgtm, release/5.8

#1956 [release-5.8] LOG-3819: Implement LogFileMetricExporter as independent daemonset
  apis/addtoscheme_logging_v1alpha1.go
  apis/logging/v1alpha1/doc.go
  apis/logging/v1alpha1/groupversion_info.go
  apis/logging/v1alpha1/log_file_metrics_exporter_types.go
  apis/logging/v1alpha1/log_file_metrics_exporter_types_test.go
  apis/logging/v1alpha1/suite_test.go
  apis/logging/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/bases/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/kustomization.yaml
  config/samples/kustomization.yaml
  config/samples/logging_v1alpha1_logfilemetricexporter.yaml
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/logfilemetricsexporter/logfilemetricsexporter_controller.go
  hack/cr-inval-logfilemetricexporter.yaml
  hack/cr-logfilemetricexporter.yaml
  internal/collector/collector.go
  internal/k8shandler/collection.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/daemonset.go
  internal/metrics/logfilemetricexporter/daemonset_test.go
  internal/metrics/logfilemetricexporter/factory.go
  internal/metrics/logfilemetricexporter/factory_test.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/logfilemetricexporter/metric_exporter_test.go
  internal/metrics/logfilemetricexporter/suite_test.go
  internal/metrics/service_monitor.go
  internal/metrics/service_monitor_test.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/network/service.go
  internal/network/service_test.go
  internal/network/suite_test.go
  internal/reconcile/daemon_sets.go
  internal/reconcile/service.go
  internal/reconcile/service_monitor.go
  internal/runtime/metric_exporter.go
  internal/runtime/runtime.go
  internal/utils/comparators/daemonsets/comparator.go
  internal/utils/comparators/servicemonitor/comparator.go
  internal/utils/comparators/services/comparator.go
  internal/utils/resources.go
  internal/utils/resources_test.go
  internal/utils/utils.go
  main.go
  test/e2e/consoleplugin/smoke_test/consoleplugin_test.go
  test/e2e/logfilesmetricexporter/metrics_test.sh
  test/e2e/telemetry/clometrics_test.sh
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2008 LOG-4072: refactor CR reconciliation
  .bingo/controller-gen.sum
  .bingo/kustomize.sum
  .bingo/operator-sdk.sum
  apis/logging/v1/conditions.go
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  controllers/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/k8s/loader/load.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding.go
  internal/k8shandler/forwarding_test.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/logfilemetricexporter/metric_exporter_test.go
  internal/pkg/generator/forwarder/generator.go
  internal/runtime/logging.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers_test.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
  internal/validations/clusterlogforwarder/validate_singleton.go
  internal/validations/clusterlogforwarder/validate_singleton_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
  internal/validations/errors/errors.go
  internal/validations/errors/errors_test.go
  internal/validations/errors/suite_test.go
  test/framework/e2e/framework.go
  test/runtime/logging.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2046 LOG-4210: CLO raises 'Unsupported event type: 'Error''
  controllers/logfilemetricsexporter/logfilemetricsexporter_controller.go
Labels: approved, lgtm, jira/valid-reference

#2041 LOG-4188: Use sync.Map type from GoLang standard library
  internal/k8shandler/reconciler.go
  internal/telemetry/cloteleminfo.go
  internal/telemetry/cloteleminfo_test.go
  internal/utils/safemap.go
  internal/utils/safemap_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference

#2044 LOG-4175: code cleanup to remove the certificate handling modifications made for LOG-1923
  internal/k8shandler/collection.go
  internal/k8shandler/visualization.go
  internal/logstore/elasticsearch/cleanup.go
  internal/logstore/elasticsearch/reconcile.go
  internal/visualization/kibana/remove.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2033 LOG-4091: fix input matchLabels with slash
  internal/generator/vector/inputs.go
  internal/generator/vector/sources_to_pipelines_test.go
  test/functional/collection/input_selector_test.go
Labels: approved, lgtm, release/5.6, jira/valid-reference

#2050 Add common labels for Log Files Metric Exporter
  internal/metrics/logfilemetricexporter/daemonset.go
  internal/metrics/logfilemetricexporter/factory.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
Labels: approved, lgtm

#2047 [release-5.7]LOG-4222: Use sync.Map type from GoLang standard library
  internal/k8shandler/reconciler.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/utils/safemap.go
  internal/utils/safemap_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference

#2038 fix document generator to show all CRs
  apis/logging/v1/clusterlogging_types.go
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm, release/5.7

#2045 LOG-4177: checking is ClusterLogging in Management state before perform reconcile
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2048 LOG-4222: Use sync.Map type from GoLang standard library
  internal/k8shandler/reconciler.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/utils/safemap.go
  internal/utils/safemap_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2055 LOG-4181: fix loki e2e flake by adding test cleanup
  test/e2e/logforwarding/loki/forward_to_loki_test.go
  test/helpers/loki/receiver.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2063 Fixed LogFileMetricExporter UI information & tolerations
  PROJECT
  apis/logging/v1alpha1/groupversion_info.go
  apis/logging/v1alpha1/log_file_metrics_exporter_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/bases/logging.openshift.io_logfilemetricexporters.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  internal/metrics/logfilemetricexporter/factory.go
  internal/metrics/logfilemetricexporter/factory_test.go
Labels: approved, lgtm

#2043 LOG-4031: Add feature doc for JSON parse and ES index creation
  docs/features/logforwarding/parse-json-structured-logs.adoc
Labels: approved, lgtm, jira/valid-reference

#2066 Refactored default tolerations to have a single and immutable definition
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/constants/constants.go
  internal/metrics/logfilemetricexporter/factory.go
  internal/metrics/logfilemetricexporter/factory_test.go
Labels: approved, lgtm

#2065 LOG-4258: Fluentd able to send logs to an Elasticsearch when using passphrase for the private key provided
  internal/generator/fluentd/output/elasticsearch/elasticsearch.go
  internal/generator/fluentd/output/elasticsearch/elasticsearch_test.go
  internal/generator/fluentd/output/elasticsearch/passphrase.go
Labels: approved, lgtm, jira/valid-reference

#2071 [release-5.5] Remove --skip-headers oc flag from container_security_test.go
  test/e2e/collection/fluentd/container_security_test.go
Labels: approved, lgtm

#2067 LOG-4260: Add comparator function for secrets to compare data and labels during reconcile
  internal/collector/config.go
  internal/reconcile/configmaps.go
  internal/reconcile/secret.go
  internal/reconcile/secret_test.go
  internal/utils/comparators/secrets/comparator.go
  internal/utils/comparators/secrets/comparator_test.go
  internal/utils/comparators/secrets/suite_test.go
Labels: approved, lgtm, jira/valid-reference

#2070 LOG-4267: exclude logfilesmetricexporter from collecting
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/fluentd/sources.go
  internal/generator/fluentd/sources_test.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/sources.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, jira/valid-reference

#2062 LOG-4242: remove 'enabled = true' from TLS config for Cloudwatch and GCL outputs
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_test.go
Labels: approved, lgtm, jira/valid-reference

#2072 [release-5.5] Update owners file for 5.5
  OWNERS
Labels: approved, lgtm
