Repository openshift/cluster-logging-operator, pull requests merged in 2023-09, with the labels that each got.

#2156 LOG-4178: fix vector normalization of EventRouter logs
  config/docs/templates/datamodels/asciidoc/pkg.tpl
  docs/reference/datamodels/viaq/v1.adoc
  docs/reference/datamodels/viaq/v1.html
  internal/datamodels/viaq/v1/viaq.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/framework/functional/message_templates.go
  test/functional/normalization/eventrouter_test.go
  test/helpers/types/type_eventrouter.go
  test/helpers/types/types.go
  test/helpers/types/types_test.go
  test/matchers/log_format.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2157 LOG-4178: fix vector normalization of EventRouter logs
  config/docs/templates/datamodels/asciidoc/pkg.tpl
  docs/reference/datamodels/viaq/v1.adoc
  docs/reference/datamodels/viaq/v1.html
  internal/datamodels/viaq/v1/viaq.go
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  internal/generator/vector/sources_test.go
  test/framework/functional/message_templates.go
  test/functional/normalization/eventrouter_test.go
  test/helpers/types/type_eventrouter.go
  test/helpers/types/types.go
  test/helpers/types/types_test.go
  test/matchers/log_format.go
Labels: approved, lgtm, release/5.8

#2161 LOG-4488: CLF status is inaccurate for legacy mode
  apis/logging/v1/conditions.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2155 LOG-4048: Implement input as http server
  Makefile
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/input_receiver_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  go.mod
  go.sum
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/daemonset.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources.go
  internal/k8shandler/collection.go
  internal/k8shandler/service.go
  internal/logstore/lokistack/logstore_lokistack.go
  internal/network/service.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/client/client.go
  test/framework/functional/read.go
  test/framework/functional/write.go
  test/functional/inputs/http/http_input_test.go
  test/functional/inputs/http/suite_test.go
  test/functional/inputs/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2165 Updated fix for LOG-4404 must-gather
  must-gather/collection-scripts/gather
Labels: approved, lgtm

#2166 LOG-4048: Implement input as an http server, API update
  apis/logging/v1/input_receiver_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/sources.go
  internal/logstore/lokistack/logstore_lokistack.go
  internal/network/service.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/framework/functional/write.go
  test/functional/inputs/http/http_input_test.go
Labels: approved, lgtm, jira/valid-reference

#2160 LOG-4178: fix vector eventrouter collection to rely on template name
  internal/generator/vector/conf_test.go
  internal/generator/vector/normalize.go
  internal/generator/vector/normalize_test.go
  test/functional/normalization/eventrouter_test.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2148 LOG-4481: make unique paths for Vector checkpoints file according to multiple-CLFs installation
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/config.go
  internal/collector/fluentd/visitors.go
  internal/collector/vector/run_script.go
  internal/collector/vector/utils.go
  internal/collector/vector/visitors.go
  internal/factory/resource_names.go
  internal/factory/resource_names_test.go
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/forwarder/generator.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/global.go
  internal/k8shandler/forwarding.go
  internal/pkg/generator/forwarder/generator.go
  test/framework/functional/fluentd/deploy.go
  test/framework/functional/framework.go
  test/framework/functional/vector/deploy.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2158 LOG-4476: fix writing to default lokistack
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2163 LOG-4231: CLO operator support for optional OTEL data model
  apis/logging/v1/output_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/constants/constants.go
  internal/constants/features.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/normalize/schema/otel/transform.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/pipelines.go
  internal/k8shandler/forwarding.go
  test/framework/functional/cluster_log_forwarder.go
  test/functional/normalization/schema/otel_test.go
  test/functional/normalization/schema/suite_test.go
  test/helpers/schema/otel/types.go
  test/helpers/types/types.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2154 LOG-3949: increase max_read_bytes for container logs to release file …
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/elements/elements.go
  internal/generator/vector/inputs.go
  internal/generator/vector/normalize/detect_exceptions.go
  internal/generator/vector/normalize/throttle.go
  internal/generator/vector/outputs.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/sources_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2164 LOG-4487: sort Map of Routes for predictable configuration generation during reconciliation
  internal/generator/generator.go
  internal/generator/vector/elements/elements.go
  internal/generator/vector/inputs.go
  internal/utils/comparators/servicemonitor/comparator.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2162 LOG-3856: Add standalone ocp console support for LokiStack migration
  internal/constants/features.go
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/visualization/console/plugin.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2169 LOG-4532: update Dockerfile to ubi minimal
  Dockerfile
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/5.8

#2170 LOG-4534 add multi toml and lfme to must-gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm, release/5.8

#2178 LOG-4537: Collector pods stuck in ContainerCreating state when receiver.http is enabled in CLF
  internal/k8s/loader/load.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2174 LOG-4556: Enable vector API and CLI
  Makefile
  internal/generator/vector/conf_test/complex.toml
  internal/generator/vector/conf_test/complex_custom_data_dir.toml
  internal/generator/vector/conf_test/complex_es_no_ver.toml
  internal/generator/vector/conf_test/complex_es_v6.toml
  internal/generator/vector/conf_test/complex_otel.toml
  internal/generator/vector/conf_test/es_pipeline_w_spaces.toml
  internal/generator/vector/global.go
  test/functional/inputs/http/http_input_test.go
  test/functional/misc/suite_test.go
  test/functional/misc/vector_api_cli_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2172 LOG-4555: Show FluentD Buffer Usage in metrics dashboard instead of availability
  files/dashboards/fluentd/openshift-logging-dashboard.json
Labels: approved, lgtm, release/5.7, jira/valid-reference

#1959 LOG-3982: ClusterLogForwarder API audit policy
  Makefile
  apis/logging/v1/cluster_log_forwarder.go
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/clusterlogforwarder_types_test.go
  apis/logging/v1/filter_api_audit_types.go
  apis/logging/v1/filter_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  docs/README.adoc
  docs/features/logforwarding/filters/api-audit-filter.adoc
  docs/reference/operator/api.adoc
  go.mod
  go.sum
  internal/generator/vector/filter/apiaudit/doc.go
  internal/generator/vector/filter/apiaudit/filter.go
  internal/generator/vector/filter/apiaudit/policy.vrl.tmpl
  internal/generator/vector/filter/apiaudit/suite_test.go
  internal/generator/vector/filter/apiaudit/wildcard.go
  internal/generator/vector/filter/apiaudit/wildcard_test.go
  internal/generator/vector/filter/filter.go
  internal/generator/vector/filter/filter_test.go
  internal/generator/vector/filter/suite_test.go
  internal/generator/vector/pipelines.go
  internal/generator/vector/pipelines_with_filter_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  test/client/client.go
  test/client/test.go
  test/client/watch_test.go
  test/framework/functional/constants.go
  test/framework/functional/framework.go
  test/framework/functional/write.go
  test/functional/filters/apiaudit/api_audit_filter_test.go
  test/functional/filters/apiaudit/suite_test.go
  test/functional/filters/apiaudit/testdata/audit-want.log
  test/functional/filters/apiaudit/testdata/audit.log
  test/functional/filters/apiaudit/vrl/compatibility_test.go
  test/functional/filters/apiaudit/vrl/exporter_test.go
  test/functional/filters/apiaudit/vrl/filter_test.go
  test/functional/filters/apiaudit/vrl/suite_test.go
  test/functional/filters/apiaudit/vrl/testdata/audit_in.log
  test/functional/filters/apiaudit/vrl/testdata/audit_out_exporter.log
  test/functional/filters/apiaudit/vrl/testdata/example_policy.yaml
  test/functional/inputs/http/http_input_test.go
  test/helpers.go
  test/helpers/cmd/reader.go
  test/helpers/cmd/reader_test.go
  test/helpers/cmd/writer.go
  test/helpers/cmd/writer_test.go
  test/helpers/generator.go
  test/runtime/runtime.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/5.8

#2180 LOG-4559: fix writing to default lokistack with Fluentd collector
  internal/generator/fluentd/output/loki/loki.go
  internal/generator/fluentd/output/loki/loki_conf_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2173 LOG-4362: remove GroupLimit from flow control
  apis/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  test/e2e/flowcontrol/flowcontrol_test.go
  test/functional/flowcontrol/application_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2179 NO-JIRA: Removed refs to non-public URL from code.
  internal/generator/vector/filter/apiaudit/doc.go
  test/functional/filters/apiaudit/vrl/compatibility_test.go
  test/functional/filters/apiaudit/vrl/exporter_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2171 LOG-4411: fix vector config for unreferenced output
  internal/k8s/loader/load.go
  internal/k8shandler/collection_test.go
  internal/k8shandler/forwarding_test.go
  internal/migrations/clusterlogforwarder/drop_unreferenced_outputs.go
  internal/migrations/clusterlogforwarder/drop_unreferenced_outputs_test.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder_test.go
  internal/migrations/clusterlogforwarder/suite_test.go
  internal/migrations/migrations.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/matchers/condition.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2182 LOG-4564: fix nil pointer for CLF without CL
  internal/k8s/loader/load.go
  internal/k8s/loader/load_test.go
  internal/k8s/loader/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8
