Repository openshift/cluster-logging-operator, pull requests merged in 2024-04, with the labels that each got.

#2416 Update dev docs for 5.9
  docs/features/collection.adoc
Labels: approved, lgtm

#2426 LOG-5322 & LOG-5323 segfaults if PrunfilterSpec or DropTestsSpec not spec'd
  internal/validations/clusterlogforwarder/validate_filters.go
  internal/validations/clusterlogforwarder/validate_filters_test.go
Labels: approved, lgtm, release/6.0

#2432 another attempt to fix security e2e flake
  test/e2e/collection/security/container_security_test.go
  test/framework/e2e/framework.go
  test/framework/e2e/wait.go
  test/helpers/oc/runner.go
Labels: approved, lgtm, release/6.0

#2411 Impl buffered log writer for tests
  go.mod
  go.sum
  test/framework/common/log/buffered_log_writer.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/6.0

#2394 LOG-5062: align validation with documentation
  internal/controller/forwarding/forwarding_controller_test.go
  internal/validations/clusterlogging/validate_clusterlogging_spec.go
  internal/validations/clusterlogging/validate_clusterlogging_spec_test.go
  internal/validations/clusterlogging/validations.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2423 LOG-5309: Exclude log infra when collecting infra containers
  internal/generator/vector/input/viaq.go
  internal/generator/vector/input/viaq_infrastructure_container.toml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2433 LOG-5382: Refactor retrieval of cluster version
  cmd/main.go
  version/cluster.go
Labels: approved, lgtm, release/6.0

#2428 LOG-5307: enhancing logic for is URL secure validation
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2430 LOG-5317: Bump manifest to 6.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  hack/generate-bundle.sh
  internal/validations/clusterlogging/validate_clusterlogging_spec.go
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
  version/version.go
Labels: approved, lgtm, midstream/Dockerfile, release/6.0

#2435 LOG-5372: Enable log level for vector
  docs/features/log_level.adoc
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/fluentd/visitors.go
  internal/collector/vector/visitors.go
  internal/constants/features.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/collection.go
  internal/validations/clusterlogforwarder/validate_annotations.go
  internal/validations/clusterlogforwarder/validate_annotations_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2447 extend wait for multi-clf test
  hack/testing-olm/test-1343-minimal-multi-clf.sh
Labels: approved, lgtm, release/5.9

#2431 LOG-4672: ensure timestamp field has correct format for Splunk
  Makefile
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2454 NO-JIRA: Fix building with go1.21.9
  go.mod
  go.sum
Labels: approved, lgtm, jira/valid-reference

#2425 LOG-4910: remove collector daemonset only if 'Not authorized to collect' error occurs
  internal/controller/forwarding/forwarding_controller.go
  internal/validations/errors/errors.go
  internal/validations/errors/errors_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2457 fix linter for golang v1.21
  .bingo/Variables.mk
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/kustomize.sum
  .bingo/variables.env
Labels: approved, lgtm, release/6.0

#2453 [release-5.9] LOG-5352: Fix building with go1.21.9
  .bingo/kustomize.sum
  go.mod
  go.sum
  internal/validations/clusterlogging/validate_clusterlogging_spec.go
Labels: approved, lgtm, jira/valid-reference

#2438 LOG-5381: add alerts metric and dashboard panels
  config/prometheus/collector_alerts.yaml
  docs/administration/buffer-alert.png
  docs/administration/buffer-metric-1.png
  docs/administration/buffer-metric-2.png
  docs/administration/collector-metrics-and-alerts.adoc
  internal/metrics/dashboard/openshift-logging-dashboard.json
  internal/metrics/service_monitor.go
Labels: approved, lgtm, jira/valid-reference, release/6.0
