Repository openshift/cluster-logging-operator, pull requests merged in 2024-07, with the labels that each got.

#2593 fix make generator output factory depend upon obs API
  internal/generator/vector/output/factory.go
Labels: approved, lgtm, release/6.0

#2594 LOG-5715: Enable Splunk output functional tests
  Makefile
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  test/framework/functional/output_splunk.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2582 LOG-5720: Refactor functional input tests to use obs API
  Makefile
  test/functional/inputs/http/http_input_test.go
  test/functional/inputs/syslog/syslog_input_test.go
  test/helpers/syslog/sender.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2591 LOG-5276: Add LogSource to the ViaQ data model
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/openshift/viaq/audit.go
  internal/generator/vector/filter/openshift/viaq/filter.go
  internal/generator/vector/filter/openshift/viaq/normalize.go
  internal/generator/vector/pipeline/adapter_test_drop_filter.toml
  internal/generator/vector/pipeline/adapter_test_kube_api_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
  test/framework/functional/message_templates.go
  test/functional/normalization/audit_logs_format_test.go
  test/functional/normalization/eventrouter_test.go
  test/helpers/types/types.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2599 LOG-5741: Refactor logstash functional test
  Makefile
  test/functional/outputs/logstash/forward_to_logstash_test.go
  test/functional/outputs/logstash/suite_test.go
Labels: approved, lgtm, jira/valid-reference

#2592 LOG-5276: Enable functional json parse test as filter
  Makefile
  internal/generator/vector/filter/filter.go
  internal/generator/vector/filter/openshift/parse_json.go
  internal/generator/vector/filter/parse/parse_json.go
  test/functional/filters/parse/json_parsing_test.go
  test/functional/filters/parse/suite_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2596 LOG-5716: Enable syslog output functional tests
  Makefile
  test/functional/outputs/syslog/forward_to_syslog_test.go
  test/functional/outputs/syslog/rfc3164_test.go
  test/functional/outputs/syslog/rfc5424_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2600 LOG-5735: Refactor tuning test to use obs API
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  hack/testing-olm/test-030-collection.sh
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
  test/e2e/collection/tuning/at_least_once_test.go
  test/functional/outputs/http/forward_to_http_test.go
  test/runtime/log_generator.go
Labels: approved, lgtm, release/6.0

#2605 LOG-5747: fix seeding of dashboards for green installations
  cmd/main.go
Labels: approved, lgtm, release/6.0

#2608 Remove omitempty on required fields
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, release/6.0

#2598 LOG-5740: Enable multiple outputs test
  Makefile
  test/functional/outputs/multiple/forward_to_multiple_outputs_test.go
  test/functional/outputs/multiple/multiple_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2595 LOG-5734: Refactor e2e container security test
  hack/testing-olm/test-030-collection.sh
  internal/collector/collector.go
  internal/collector/collector_test.go
  test/e2e/collection/security/container_security_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2611 Move startup script to file and use go-embed
  internal/collector/vector/run-vector.sh
  internal/collector/vector/utils.go
Labels: approved, lgtm, release/6.0

#2603 LOG-5743: Refactor tls, unavailable output functional tests
  Makefile
  test/framework/functional/framework.go
  test/functional/outputs/tls_security_profile_test.go
  test/functional/outputs/unavailable_forward_output_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2610 LOG-5747: fix seeding of dashboards for green installations
  cmd/main.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2604 LOG-5742: Enable eventrouter e2e test
  Makefile
  hack/testing-olm/test-040-eventrouter.sh
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/es_with_tls.toml
Labels: approved, lgtm, release/6.0

#2607 LOG-5728: fix serviceaccount validation failure
  api/observability/v1/clusterlogforwarder_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2602 add raw log samples
  hack/logsamples/raw_audit_kubernetes.json
  hack/logsamples/raw_audit_oauth-apiserver.json
  hack/logsamples/raw_audit_openshift.json
  hack/logsamples/raw_auditd.log
  hack/logsamples/raw_container.log
Labels: approved, lgtm, release/6.0

#2614 LOG-5753: Remove dots from volume names
  internal/collector/collector.go
Labels: approved, lgtm, jira/valid-reference

#2606 LOG-5748: Include additional API declarative validations
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/filter_types.go
  api/observability/v1/input_types.go
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, release/6.0

#2616 LOG-5754: Replace secret loader script with implementation inside vector
  internal/collector/collector_test.go
  internal/collector/config.go
  internal/collector/vector/utils.go
  internal/collector/vector/visitors.go
  internal/controller/observability/collector.go
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/conf/global.go
  internal/generator/vector/conf/global_test.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/output/azuremonitor/azm_advance.toml
  internal/generator/vector/output/azuremonitor/azm_common.toml
  internal/generator/vector/output/azuremonitor/azm_tls.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/output/common/secret.go
  internal/generator/vector/output/common/secret.toml
  internal/generator/vector/output/common/secret_reader.go
  internal/generator/vector/output/common/secret_reader_script.sh
  internal/generator/vector/output/common/secret_reader_test.go
  internal/generator/vector/output/common/secret_test.go
  internal/generator/vector/output/common/suite_test.go
  internal/generator/vector/output/elasticsearch/es_with_auth_username_password.toml
  internal/generator/vector/output/factory_test_loki_with_throttle.toml
  internal/generator/vector/output/http/http_with_auth_basic.toml
  internal/generator/vector/output/http/http_with_auth_token.toml
  internal/generator/vector/output/kafka/kafka_sasl_plaintext_single_topic.toml
  internal/generator/vector/output/kafka/kafka_sasl_scram_with_tls.toml
  internal/generator/vector/output/kafka/kafka_sasl_with_tls_single_topic.toml
  internal/generator/vector/output/loki/with_custom_bearer_token.toml
  internal/generator/vector/output/loki/with_username_password.toml
  internal/generator/vector/output/splunk/splunk_sink.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls_and_static_index.toml
  test/framework/functional/framework.go
  test/framework/functional/vector/deploy.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2618 LOG-5782: Remove e2e splunk test
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2619 LOG-5783: Remove loki e2e test
  test/e2e/logforwarding/loki/forward_to_loki_test.go
Labels: approved, lgtm, release/6.0

#2620 LOG-5784: Enable the e2e misc status test
  test/e2e/collection/status/status_test.go
  test/e2e/collection/status/suite_test.go
  test/e2e/logforwarding/miscellaneous/forward_miscellaneous_test.go
Labels: approved, lgtm, release/6.0

#2621 LOG-5785: remove e2e managed elasticsearch test
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/elasticsearchmanaged/forwarding_with_defaults_test.go
  test/e2e/logforwarding/elasticsearchmanaged/logforwarding_suite_test.go
Labels: approved, lgtm, release/6.0

#2617 LOG-5781: Refactor e2e syslog test to be functional
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/tls_with_field_references.toml
  test/e2e/logforwarding/syslog/forward_to_syslog_test.go
  test/e2e/logforwarding/syslog/logforwarding_suite_test.go
  test/e2e/logforwarding/syslog/syslog_cert_generation.sh
  test/framework/common/secrets/tls.go
  test/framework/functional/output_syslog.go
  test/functional/outputs/syslog/forward_to_syslog_test.go
  test/runtime/observability/cluster_log_forwarder.go
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2623 LOG-5780: Remove e2e inputs/syslog test
  hack/testing-olm/test-3127-inputs.sh
  test/e2e/inputs/cleanup.sh
  test/e2e/inputs/syslog/suite_test.go
  test/e2e/inputs/syslog/syslog_input_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2622 LOG-5791: Enable input selection e2e test
  Makefile
  hack/test-e2e-olm.sh
  test/e2e/input_selection/input_selection_test.go
Labels: approved, lgtm, release/6.0

#2630 LOG-5800: Remove old API migrations
  internal/migrations/clusterlogforwarder/drop_unreferenced_outputs.go
  internal/migrations/clusterlogforwarder/drop_unreferenced_outputs_test.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder_test.go
  internal/migrations/clusterlogforwarder/suite_test.go
  internal/migrations/clusterlogging/migrate_visualization.go
  internal/migrations/clusterlogging/migrate_visualization_test.go
  internal/migrations/clusterlogging/suite_test.go
  internal/migrations/migrations.go
  internal/migrations/suite_test.go
Labels: approved, lgtm, release/6.0

#2624 LOG-5792: Add exclude_fields of '_internal' to all outputs
  internal/generator/helpers/optional_pair.go
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/output/azuremonitor/azm_advance.toml
  internal/generator/vector/output/azuremonitor/azm_common.toml
  internal/generator/vector/output/azuremonitor/azm_tls.toml
  internal/generator/vector/output/azuremonitor/azuremonitor.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/output/common/encoding.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/es_with_auth_username_password.toml
  internal/generator/vector/output/elasticsearch/es_with_tls.toml
  internal/generator/vector/output/elasticsearch/es_with_tls_skip_verify.toml
  internal/generator/vector/output/elasticsearch/es_without_security.toml
  internal/generator/vector/output/factory_test_loki_with_throttle.toml
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_with_tls.toml
  internal/generator/vector/output/gcl/gcl_with_token.toml
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_with_auth_basic.toml
  internal/generator/vector/output/http/http_with_auth_token.toml
  internal/generator/vector/output/http/http_with_tls.toml
  internal/generator/vector/output/http/http_with_tls_using_configmaps.toml
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_insecure_skipverify.toml
  internal/generator/vector/output/kafka/kafka_multi_brokers_with_tls_single_topic.toml
  internal/generator/vector/output/kafka/kafka_no_security.toml
  internal/generator/vector/output/kafka/kafka_sasl_plaintext_single_topic.toml
  internal/generator/vector/output/kafka/kafka_sasl_scram_with_tls.toml
  internal/generator/vector/output/kafka/kafka_sasl_with_tls_single_topic.toml
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/with_custom_bearer_token.toml
  internal/generator/vector/output/loki/with_custom_labels.toml
  internal/generator/vector/output/loki/with_default_labels.toml
  internal/generator/vector/output/loki/with_default_tls.toml
  internal/generator/vector/output/loki/with_insecure.toml
  internal/generator/vector/output/loki/with_insecure_nocert.toml
  internal/generator/vector/output/loki/with_service_account.toml
  internal/generator/vector/output/loki/with_tenant_id.toml
  internal/generator/vector/output/loki/with_tls.toml
  internal/generator/vector/output/loki/with_username_password.toml
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_sink.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls_and_static_index.toml
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/tcp_with_defaults.toml
  internal/generator/vector/output/syslog/tls_with_field_references.toml
  internal/generator/vector/output/syslog/udp_with_every_setting.toml
  internal/generator/vector/output/syslog/xyz_defaults.toml
Labels: approved, lgtm, release/6.0

#2633 LOG-5804: Remove logging-view-plugin from CSV and deploy scripts
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  olm_deploy/operatorregistry/registry-deployment.yaml
  olm_deploy/scripts/catalog-deploy.sh
  olm_deploy/scripts/env.sh
  olm_deploy/scripts/registry-init.sh
Labels: approved, lgtm, jira/valid-reference

#2634 LOG-5807: Add message to internal field in viaq remaps
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/openshift/viaq/audit.go
  internal/generator/vector/filter/openshift/viaq/common.go
  internal/generator/vector/filter/openshift/viaq/filter.go
  internal/generator/vector/filter/openshift/viaq/journal.go
  internal/generator/vector/pipeline/adapter_test_drop_filter.toml
  internal/generator/vector/pipeline/adapter_test_kube_api_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
Labels: approved, lgtm, jira/valid-reference

#2625 LOG-5745: Only container logs can be forwarded with groupName {{.kubernetesnamespace_name}} to CloudWatch
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cloudwatch_test.go
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/output/common/template/suite_test.go
  internal/generator/vector/output/common/template/template.go
  internal/generator/vector/output/common/template/template.vrl.tmpl
  internal/generator/vector/output/common/template/template_test.go
  test/framework/functional/output_cloudwatch.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2626 LOG-5786: fix LFME deployment
  Makefile
  cmd/main.go
  hack/testing-olm/test-logfilesmetricexporter.sh
  internal/auth/rbac.go
  internal/auth/service_account.go
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/factory.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/utils/utils.go
  test/e2e/logfilesmetricexporter/cleanup.sh
  test/e2e/logfilesmetricexporter/invalid.yaml
  test/e2e/logfilesmetricexporter/lfme_test.go
  test/e2e/logfilesmetricexporter/metrics_test.sh
  test/e2e/logfilesmetricexporter/suite_test.go
  test/e2e/logfilesmetricexporter/valid.yaml
Labels: approved, lgtm, release/6.0

#2631 LOG-5800: Remove conditions from initializers/migrations
  internal/api/initialize/init_default_elasticsearch.go
  internal/api/initialize/init_default_elasticsearch_test.go
  internal/api/initialize/init_inputs.go
  internal/api/initialize/init_inputs_test.go
  internal/api/initialize/init_lokiStack.go
  internal/api/initialize/init_lokiStack_test.go
  internal/api/initialize/initializations.go
  internal/api/initialize/process_pipelines.go
  internal/api/initialize/suite_test.go
  internal/controller/clusterlogging/clusterlogging_controller.go
  internal/controller/forwarding/forwarding_controller.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/migrations/observability/migrations.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/6.0

#2627 LOG-5798: Refactor functional-benchmarker to obs
  Makefile
  internal/cmd/functional-benchmarker/config/config.go
  internal/cmd/functional-benchmarker/config/options.go
  internal/cmd/functional-benchmarker/main.go
  internal/cmd/functional-benchmarker/runners/cluster/cluster_runner.go
Labels: approved, lgtm, release/6.0

#2636 rename BearerTokenFromServiceAccountToken
  api/observability/v1/clusterlogforwarder_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/api/initialize/init_lokiStack_test.go
  internal/api/observability/output_types.go
  internal/collector/collector_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/migrations/observability/api/outputs.go
  internal/validations/observability/outputs/cloudwatch_test.go
Labels: approved, lgtm, release/6.0

#2613 LOG-5482 otlp output functional test
  internal/generator/vector/helpers/node.go
  internal/generator/vector/output/factory.go
  internal/generator/vector/output/otlp/group_by.go
  internal/generator/vector/output/otlp/otlp.go
  internal/generator/vector/output/otlp/otlp_all.toml
  internal/generator/vector/output/otlp/otlp_test.go
  internal/generator/vector/output/otlp/suite_test.go
  internal/generator/vector/output/otlp/transform.go
  internal/generator/vector/pipeline/adapter.go
  test/framework/functional/constants.go
  test/framework/functional/output_otlp.go
  test/functional/outputs/otlp/forward_to_otlp_test.go
  test/functional/outputs/otlp/suite_test.go
  test/helpers/otlp/attributes.go
  test/helpers/otlp/types.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, release/6.0

#2629 LOG-5799: Remove multi clf test
  Makefile
  hack/testing-olm/test-1343-minimal-multi-clf.sh
Labels: approved, lgtm, release/6.0

#2642 LOG-5793: Fix validation for bearer token source
  api/observability/v1/clusterlogforwarder_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  test/e2e/collection/apivalidations/log5793_bearer_token_from_sa.yaml
Labels: approved, lgtm, jira/valid-reference

#2640 LOG-5787: The migration process doesn't work.
  cmd/main.go
  internal/constants/constants.go
  internal/controller/clusterlogging/clusterlogging_controller.go
  internal/controller/event_filter.go
  internal/controller/forwarding/forwarding_controller.go
Labels: approved, lgtm, jira/valid-reference

#2641 LOG-5810: fix cloudwatch stream names
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/openshift/viaq/common.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/pipeline/adapter_test_drop_filter.toml
  internal/generator/vector/pipeline/adapter_test_kube_api_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
Labels: approved, lgtm, jira/valid-reference

#2649 LOG-5745: Forwarding logs to cloudwatch with groupName {{.kubernetes.namespace_name}}, only container logs can be forwarded.
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, jira/valid-reference

#2643 Simplify structs used to pass in values from ConfigMaps or Secrets
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  config/samples/observability_v1_clusterlogforwarder.yaml
  hack/clusterlogforwarder/migrate-lokistack.yaml
  hack/testing-olm/test-040-eventrouter.sh
  internal/api/initialize/init_default_elasticsearch_test.go
  internal/api/initialize/init_inputs.go
  internal/api/initialize/init_inputs_test.go
  internal/api/observability/output_types.go
  internal/api/observability/output_types_test.go
  internal/api/observability/secrets.go
  internal/api/observability/tls.go
  internal/collector/collector_test.go
  internal/generator/vector/conf/conf_test.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/input/source_test.go
  internal/generator/vector/output/azuremonitor/azuremonitor_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch_test.go
  internal/generator/vector/output/common/auth/bearer_token.go
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  internal/validations/observability/outputs/cloudwatch_test.go
  internal/validations/observability/outputs/validate.go
  test/e2e/collection/apivalidations/log5788_mulitiline_ex_filter.yaml
  test/e2e/collection/apivalidations/log5793_bearer_token_from_sa.yaml
  test/e2e/collection/deployment/collector_as_deployment_test.go
  test/e2e/logforwarding/http/forward_to_http.go
  test/framework/common/secrets/tls.go
  test/functional/filters/prune/prune_filter_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
  test/functional/outputs/tls_security_profile_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, release/6.0

#2650 LOG-5787: The migration process doesn't work.
  internal/controller/clusterlogging/clusterlogging_controller.go
  internal/controller/forwarding/forwarding_controller.go
Labels: approved, lgtm, jira/valid-reference

#2645 LOG-5722: Add OTLP feature doc
  docs/features/logforwarding/outputs/otlp-forwarding.adoc
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2647 LOG-5811: fix tuning for GCL
  internal/api/observability/tuning.go
  internal/api/observability/tuning_test.go
Labels: approved, lgtm, release/6.0

#2648 LOG-5812: remove ClusterLogging validations
  internal/validations/clusterlogging/suite_test.go
  internal/validations/clusterlogging/validate_clusterlogging_spec.go
  internal/validations/clusterlogging/validate_clusterlogging_spec_test.go
  internal/validations/clusterlogging/validations.go
Labels: approved, lgtm, release/6.0

#2651 fix validation to require cloudwatch auth
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, release/6.0

#2653 LOG-5816: Refactor http validation to obs api
  internal/validations/clusterlogforwarder/validate_http_content_type_headers.go
  internal/validations/clusterlogforwarder/validate_http_content_type_headers_test.go
  internal/validations/clusterlogforwarder/validations.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_http_content_type_headers.go
  internal/validations/observability/outputs/validate_http_content_type_headers_test.go
Labels: approved, lgtm, release/6.0

#2654 LOG-5817: Remove validation of json parsing for ES
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2658 LOG-5818: Refactor URL and TLS validation to obs
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
  internal/validations/clusterlogforwarder/validations.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_url_to_output_tls_config.go
  internal/validations/observability/outputs/validate_url_to_output_tls_test.go
Labels: approved, lgtm, release/6.0

#2662 fix mismatched CW enum value
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, release/6.0

#2632 LOG-5791: fix Makefile for e2e input_selection
  Makefile
  test/e2e/input_selection/input_selection_test.go
  test/framework/e2e/framework.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2663 [LOG-5151] Remove `toml` private data
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
Labels: approved, lgtm

#2660 [LOG-5822] Use `oc adm inspect` command to gather additional resources
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_install_resources
Labels: approved, lgtm

#2665 LOG-5825: Re-enable linter and fix failures
  Makefile
  internal/generator/vector/input/receiver.go
  internal/generator/vector/output/common/encoding.go
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/otlp/otlp.go
  internal/utils/json/json.go
  internal/validations/observability/inputs/application.go
  internal/validations/observability/pipelines/validate_test.go
  internal/validations/observability/validate_permissions.go
  test/e2e/flowcontrol/utils.go
  test/framework/e2e/fluentd.go
  test/framework/e2e/framework.go
  test/functional/filters/prune/prune_filter_test.go
Labels: approved, lgtm, release/6.0

#2666 LOG-5600: Remove flatten labels test
  test/functional/normalization/flatten_labels_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2672 LOG-5839: Update cw stream_name to no longer depend on file and tag
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
Labels: approved, lgtm, jira/valid-reference

#2673 LOG-5803: Remove obsolete CRDs
  Makefile
  PROJECT
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  cmd/main.go
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/logging_v1_clusterlogforwarder.yaml
  config/samples/logging_v1_clusterlogging.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2652 LOG-5813: Move clf.name validation to be declarative
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/filter_types.go
  api/observability/v1/input_types.go
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/validations/clusterlogforwarder/validate_clusterlogging_dependency.go
  internal/validations/clusterlogforwarder/validate_clusterlogging_dependency_test.go
  internal/validations/clusterlogforwarder/validate_collector_compatibility.go
  internal/validations/clusterlogforwarder/validate_collector_compatibility_test.go
  internal/validations/clusterlogforwarder/validate_name.go
  internal/validations/clusterlogforwarder/validate_name_test.go
  internal/validations/clusterlogforwarder/validations.go
  test/client/clf.go
  test/e2e/collection/apivalidations/api_validations_test.go
  test/e2e/collection/apivalidations/invalid_name.yaml
Labels: approved, lgtm, release/6.0

#2675 LOG-5841: Add rotated files back to the container excludes list
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/input/application.toml
  internal/generator/vector/input/application_exclude_container_from_infra.toml
  internal/generator/vector/input/application_excludes_container.toml
  internal/generator/vector/input/application_includes_container.toml
  internal/generator/vector/input/application_with_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_matchLabels.toml
  internal/generator/vector/input/application_with_specific_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_throttle.toml
  internal/generator/vector/input/infrastructure.toml
  internal/generator/vector/input/infrastructure_container.toml
  internal/generator/vector/input/source.go
Labels: approved, lgtm, jira/valid-reference

#2612 update http functional test to test using password
  test/framework/functional/output_http.go
  test/framework/functional/read.go
  test/functional/outputs/http/forward_to_http_test.go
Labels: approved, lgtm, release/6.0

#2676 Allow structured data to be added to body for otlp output
  internal/generator/vector/output/otlp/otlp_all.toml
  internal/generator/vector/output/otlp/transform.go
Labels: approved, lgtm

#2677 LOG-3512: Remove all e2e tests depending upon the EO
  Makefile
  hack/logfilesmetricsexporter/cr-invalid.yaml
  hack/logfilesmetricsexporter/cr.yaml
  hack/metrics/deploy-grafana.sh
  hack/test-e2e-olm.sh
  hack/testing-olm/test-040-eventrouter.sh
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2638 LOG-5808: fix projected sa token in config
  internal/auth/service_account.go
  internal/controller/observability/collector.go
  internal/controller/observability/collector_test.go
  internal/generator/framework/options.go
  internal/generator/vector/output/common/auth/auth.go
  internal/generator/vector/output/common/auth/bearer_token.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/loki/loki.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/loki/with_sa_token.toml
  internal/generator/vector/output/otlp/otlp.go
  internal/runtime/serviceaccount/serviceaccount.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2667 LOG-5826: Enable skipped RFC syslog test
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/tcp_with_defaults.toml
  internal/generator/vector/output/syslog/tls_with_field_references.toml
  internal/generator/vector/output/syslog/udp_with_every_setting.toml
  internal/generator/vector/output/syslog/xyz_defaults.toml
  test/functional/outputs/syslog/forward_to_syslog_test.go
  test/functional/outputs/syslog/rfc3164_test.go
Labels: approved, lgtm, jira/valid-reference

#2681 Fix typo in GoogleCloudLoggingID
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
  internal/validations/observability/pipelines/prune_filter_test.go
Labels: approved, lgtm, release/6.0

#2657 LOG-5640: Add validation to reject when CW outputs spec different IAM Role
  internal/validations/observability/outputs/cloudwatch.go
  internal/validations/observability/outputs/cloudwatch_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2686 LOG-5849: Fix node log stream names set twice
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
Labels: approved, lgtm, jira/valid-reference

#2689 LOG-5862: Validation rule causing error on install
  api/observability/v1/clusterlogforwarder_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, jira/valid-reference

#2682 LOG-5844: Fix reference docs to be for observability api
  Makefile
  api/observability/v1/doc.go
  config/docs/config_logging_v1alpha1.json
  config/docs/config_observability_v1.json
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/README.adoc
  docs/reference/datamodels/viaq/v1.adoc
  docs/reference/operator/api.adoc
  docs/reference/operator/api_logging_v1alpha1.adoc
  docs/reference/operator/api_observability_v1.adoc
  docs/reference/operator/secrets.adoc
Labels: approved, lgtm, release/6.0

#2684 LOG-5842 Forwarder validation failing on old conditions
  internal/api/observability/conditions.go
  internal/api/observability/filters.go
  internal/api/observability/forwarder.go
  internal/api/observability/input_types.go
  internal/api/observability/output_types.go
  internal/api/observability/pipelines.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/validations/observability/filters/validate.go
  internal/validations/observability/inputs/validate.go
  internal/validations/observability/pipelines/validate.go
Labels: approved, lgtm, release/6.0

#2687 LOG-5787: The migration process doesn't work.
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2664 refactors syslog and kafka URL validation to obs API
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/conf/conf_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validations.go
  internal/validations/observability/outputs/validate_url_to_output_tls.go
  internal/validations/observability/outputs/validate_url_to_output_tls_test.go
  test/e2e/collection/apivalidations/api_validations_test.go
  test/e2e/collection/apivalidations/kafka_invalid_broker_url.yaml
  test/e2e/collection/apivalidations/kafka_invalid_url.yaml
  test/e2e/collection/apivalidations/kafka_no_url_or_brokers.yaml
  test/e2e/collection/apivalidations/kafka_valid_url_and_brokers.yaml
  test/e2e/collection/apivalidations/syslog_valid_url_tcp.yaml
  test/e2e/collection/apivalidations/syslog_valid_url_tls.yaml
  test/e2e/collection/apivalidations/syslog_valid_url_udp.yaml
  test/e2e/collection/apivalidations/syslog_valid_url_udps.yaml
  test/framework/e2e/operator/deploy.go
  test/runtime/observability/cluster_log_forwarder.go
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, release/6.0

#2683 LOG-5846: fix filter name after migration according to spec
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/filters.go
  internal/migrations/observability/api/filters_test.go
  internal/migrations/observability/api/pipelines.go
  internal/migrations/observability/api/pipelines_test.go
  test/functional/inputs/http/http_input_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2688 LOG-5790: Allow syslog templating in CLF API syntax
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/tcp_with_defaults.toml
  internal/generator/vector/output/syslog/xyz_defaults.toml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2690 LOG-5732: Allow setting per-tenant LabelKeys on LokiStack output
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/api/initialize/init_lokiStack.go
  internal/api/initialize/init_lokiStack_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2691 LOG-891: Add make target for upgrade testing
  Makefile
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2692 Updated docgen template header.
  config/docs/templates/apis/asciidoc/pkg.tpl
Labels: approved, lgtm

#2693 OBSDOCS-1220 - Single source CR testing.
  docs/reference/log6x-clf-cr-samples.adoc
Labels: approved, lgtm

#2661 LOG-5820: Refactor filter validation to OBS
  api/observability/v1/filter_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/filter/prune/filter.go
  internal/generator/vector/filter/prune/filter_test.go
  internal/generator/vector/pipeline/adapter_test.go
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/filters.go
  internal/migrations/observability/api/filters_test.go
  internal/validations/clusterlogforwarder/validate_filters_test.go
  internal/validations/clusterlogforwarder/validations.go
  internal/validations/observability/filters/suite_test.go
  internal/validations/observability/filters/validate.go
  internal/validations/observability/filters/validate_filters.go
  internal/validations/observability/filters/validate_filters_test.go
  internal/validations/observability/pipelines/prune_filter_test.go
  internal/validations/observability/pipelines/validate.go
  test/functional/filters/prune/prune_filter_test.go
  test/matchers/condition.go
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2697 fix Makefile test-upgrade
  Makefile
Labels: approved, lgtm

#2694 LOG-5880: output ca-bundle.crt,tls.key,tls.crt,passphrase are not migrated to 6.0
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
Labels: approved, lgtm, jira/valid-reference

#2700 LOG-5890: Migrating syslog output failed due to syslog.rfc: Unsupported value
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2702 LOG-5898: Update contrib docs
  docs/contributing/README.adoc
  docs/contributing/how-to-add-new-output.md
Labels: approved, lgtm, jira/valid-reference

#2701 LOG-5881: Update architecture doc
  docs/architecture/index.html
  docs/architecture/readme.adoc
Labels: approved, lgtm, jira/valid-reference

#2716 LOG-5914: update collector feature docs
  docs/features/collection.adoc
  docs/features/log_level.adoc
  docs/features/logforwarding/multiline-error-detection.adoc
  docs/features/tls_security_profile.adoc
Labels: approved, lgtm, release/6.0
