Repository openshift/cluster-logging-operator, pull requests merged in 2024-12, with the labels that each got.

#2881 LOG-6375: Update maximum OpenShift version to match supported versions (5.6)
  bundle/metadata/properties.yaml
Labels: approved, lgtm, jira/valid-reference

#2798 LOG-6069: Enable http/https proxy support for HTTP output.
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  docs/reference/operator/api_observability_v1.adoc
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/http/http_with_proxy.toml
Labels: approved, lgtm, jira/valid-reference, release/6.2

#2870 LOG-6376: skip tls validation if it set in config for HTTP output
  internal/generator/fluentd/output/http/http.go
  internal/generator/fluentd/output/http/http_test.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_config.go
  internal/validations/clusterlogforwarder/validate_url_to_output_tls_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2886 Remove kube-rbac-proxy patch
  config/default/manager_auth_proxy_patch.yaml
Labels: approved, lgtm, release/6.2

#2888 [release-6.1] Handle input spec nil exception
  internal/api/initialize/process_pipelines.go
  internal/api/initialize/process_pipelines_test.go
Labels: approved, lgtm, release/6.1

#2889 [release-6.0] Handle input spec nil exception
  internal/api/initialize/process_pipelines.go
  internal/api/initialize/process_pipelines_test.go
Labels: approved, lgtm

#2890 [master] LOG-6346: fix lokistack validation logic
  api/observability/v1/conditions.go
  internal/api/observability/conditions.go
  internal/api/observability/forwarder.go
  internal/api/observability/forwarder_test.go
  internal/constants/annotations.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/status/conditions.go
  internal/status/doc.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/outputs/lokistack.go
  internal/validations/observability/outputs/lokistack_test.go
  internal/validations/observability/outputs/otlp.go
  internal/validations/observability/outputs/otlp_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_tech_preview.go
  internal/validations/observability/outputs/validate_tech_preview_test.go
  internal/validations/observability/validate.go
  internal/validations/observability/validate_annotations.go
  internal/validations/observability/validate_annotations_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.2

#2893 [release-6.1] LOG-6466: Remove irrelevant alerting rules
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/collector_alerts.yaml
  docs/administration/collector-metrics-and-alerts.adoc
Labels: approved, lgtm, jira/valid-reference

#2864 LOG-6377: Manual port of LOG-6354 to release-5.9
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_es_no_ver.toml
  internal/generator/vector/conf/complex_es_v6.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/input/viaq.go
  internal/generator/vector/input/viaq_application.toml
  internal/generator/vector/input/viaq_application_exclude_container_from_infra.toml
  internal/generator/vector/input/viaq_application_excludes_container.toml
  internal/generator/vector/input/viaq_application_includes_container.toml
  internal/generator/vector/input/viaq_application_with_excludes.toml
  internal/generator/vector/input/viaq_application_with_includes.toml
  internal/generator/vector/input/viaq_application_with_includes_excludes.toml
  internal/generator/vector/input/viaq_application_with_infra_includes_excludes.toml
  internal/generator/vector/input/viaq_application_with_infra_includes_infra_excludes.toml
  internal/generator/vector/input/viaq_application_with_matchLabels.toml
  internal/generator/vector/input/viaq_application_with_specific_infra_includes_infra_excludes.toml
  internal/generator/vector/input/viaq_application_with_throttle.toml
Labels: approved, lgtm, jira/valid-reference

#2895 [release-6.1] LOG-6469: Fix lokistack tech-preview validation logic
  api/observability/v1/conditions.go
  internal/api/observability/forwarder.go
  internal/api/observability/forwarder_test.go
  internal/constants/annotations.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/outputs/lokistack.go
  internal/validations/observability/outputs/lokistack_test.go
  internal/validations/observability/outputs/otlp.go
  internal/validations/observability/outputs/otlp_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_tech_preview.go
  internal/validations/observability/outputs/validate_tech_preview_test.go
  internal/validations/observability/validate.go
Labels: approved, lgtm, jira/valid-reference

#2896 LOG-6476: Align tech preview validation logic
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/outputs/otlp.go
  internal/validations/observability/outputs/otlp_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_tech_preview.go
  internal/validations/observability/outputs/validate_tech_preview_test.go
Labels: approved, lgtm, jira/valid-reference

#2898 [master] LOG-6468: Fix input spec nil exception violation
  internal/api/initialize/process_pipelines.go
  internal/api/initialize/process_pipelines_test.go
Labels: approved, lgtm, jira/valid-reference

#2900 [release-6.1] LOG-6484: collector missing oauth server volume mount
  internal/collector/collector.go
  internal/collector/collector_test.go
Labels: approved, lgtm, jira/valid-reference

#2906 [master] Add missing oauth-server volume mount
  internal/collector/collector.go
  internal/collector/collector_test.go
Labels: approved, lgtm

#2909 [master] LOG-6278: update docs for compression on otlp
  docs/features/logforwarding/outputs/otlp-forwarding.adoc
  internal/generator/vector/output/otlp/otlp.go
  internal/generator/vector/output/otlp/otlp_test.go
  internal/generator/vector/output/otlp/otlp_tuning.toml
Labels: approved, lgtm, jira/valid-reference

#2911 LOG-5481: Write RH lokistack OTEL test
  test/e2e/logforwarding/lokistack/forward_to_lokistack_test.go
  test/e2e/logforwarding/lokistack/lokistack_suite_test.go
  test/framework/e2e/auth.go
  test/framework/e2e/framework.go
  test/framework/e2e/lokistack.go
Labels: approved, lgtm, jira/valid-reference, release/6.2
