Repository openshift/cluster-logging-operator, pull requests merged in 2024-03, with the labels that each got.

#2380 LOG-5143: The tune option can not be appled when output name is default.
  internal/logstore/lokistack/logstore_lokistack.go
  internal/logstore/lokistack/logstore_lokistack_test.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder.go
  internal/migrations/clusterlogforwarder/migrate_clusterlogforwarder_test.go
Labels: approved, lgtm, jira/valid-reference

#2379 Revert "Add to the observability list in operatorhub"
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, release/5.9

#2382 LOG-5145: Correct the range of supported ocp versions
  Makefile
  bundle.Dockerfile
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/5.9

#2383 LOG-5163: Rely upon http output timeout default
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/output/common/request.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2385 LOG-5158: The invalid compression value, '', in vector.toml
  api/logging/v1/cluster_log_forwarder_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2387 Add call to runtime SetLogger to resolve error
  cmd/main.go
Labels: approved, lgtm, release/5.9

#2381 LOG-5161: Enhance configuration validation to ensure compatibility with selected collectors and output types
  internal/validations/clusterlogforwarder/validate_collector_compatibility.go
  internal/validations/clusterlogforwarder/validate_collector_compatibility_test.go
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2347 LOG-4606: create dev doc for Azure Monitor log forwarding integration
  docs/features/logforwarding/outputs/azure-monitor-log-forwarding.adoc
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2390 LOG-5189: Fix controller runtime cache to evaluate WATCH_NAMESPACE
  cmd/main.go
Labels: approved, lgtm, release/5.9

#2389 Updates to API template to meet docs standards
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2393 [release-5.6] Updates to API template to meet docs standards
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2395 [release-5.7] Updates to API template to meet docs standards
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2392 LOG-5196: fix updating CLF status when it does not exist
  internal/controller/clusterlogging/clusterlogging_controller.go
Labels: approved, lgtm, release/5.9

#2396 [release-5.8] Updates to API template to meet docs standards
  config/docs/templates/apis/asciidoc/members.tpl
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2397 LOG-5200: fix source collected bytes metric
  internal/metrics/dashboard/openshift-logging-dashboard.json
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2398 Additional minor updates to templates
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2399 LOG-5132: Identify fields that should be omitted from pruning
  api/logging/v1/filter_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/features/logforwarding/filters/drop-filter.adoc
  docs/features/logforwarding/filters/prune-filter.adoc
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  internal/validations/clusterlogforwarder/validate_collector_compatibility.go
  internal/validations/clusterlogforwarder/validate_filters.go
  internal/validations/clusterlogforwarder/validate_filters_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/cluster_log_forwarder_test.go
  test/framework/functional/framework.go
  test/framework/functional/output_cloudwatch.go
  test/functional/filters/drop/drop_filter_test.go
  test/functional/filters/prune/prune_filter_test.go
  test/functional/outputs/azuremonitor/forward_to_azuremonitor_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
  test/helpers/azuremonitor/mockoon.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2401 [release-5.8] Additional minor updates to templates
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2402 [release-5.7] Additional minor updates to templates
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2403 [release-5.6] Additional minor updates to templates
  config/docs/templates/apis/asciidoc/pkg.tpl
  docs/reference/operator/api.adoc
Labels: approved, lgtm

#2391 LOG-5195: Add vector config formatter
  internal/generator/forwarder/generator.go
  internal/generator/helpers/formatter.go
  internal/generator/helpers/formatter_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2405 LOG-5214: maxWrite, delivery is ignore when output is syslog
  internal/generator/vector/output/syslog/syslog.go
  internal/validations/clusterlogforwarder/outputs/tuning.go
  internal/validations/clusterlogforwarder/outputs/tuning_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2406 LOG-5216: CLO raises many 'error removing stale http input services'
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/k8shandler/service.go
  internal/logstore/elasticsearch/reconcile.go
  internal/logstore/elasticsearch/status.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2404 LOG-5186: Refactor input filter for includes and excludes
  api/logging/v1/input_types.go
  api/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/input/viaq.go
  internal/generator/vector/input/viaq_application_includes_container.toml
  internal/generator/vector/input/viaq_application_with_includes.toml
  internal/generator/vector/input/viaq_test.go
  internal/generator/vector/source/kubernetes_logs.go
  internal/validations/clusterlogforwarder/inputs/application.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
  test/e2e/input_selection/input_selection_test.go
  test/framework/functional/cluster_log_forwarder_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2409 LOG-5053: ensure inputs has right setted type before clfSpec migration
  api/logging/v1/input_receiver_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/migrations/clusterlogforwarder/migrate_inputs.go
  internal/migrations/clusterlogforwarder/migrate_inputs_test.go
  internal/migrations/migrations.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2408 Enable container log_level tests for vector
  Makefile
  test/functional/normalization/loglevel/container_logs_test.go
  test/functional/normalization/loglevel/journal_logs_test.go
Labels: approved, lgtm, release/5.9

#2400 LOG-5154: Add durable queue to outputs for AtLeastOnce delivery
  Makefile
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  hack/testing-olm/test-2227-input-selection.sh
  internal/collector/vector/run_script.go
  internal/generator/vector/output/common/buffer.go
  internal/generator/vector/output/config_strategy.go
  internal/generator/vector/output/config_strategy_test.go
  test/client/client.go
  test/e2e/collection/deployment/collector_as_deployment_test.go
  test/e2e/collection/deployment/suite_test.go
  test/e2e/collection/security/container_security_test.go
  test/e2e/collection/security/suite_test.go
  test/e2e/collection/tuning/at_least_once_test.go
  test/e2e/collection/tuning/streams.go
  test/e2e/collection/tuning/suite_test.go
  test/e2e/input_selection/cleanup.sh
  test/e2e/input_selection/input_selection_test.go
  test/e2e/logforwarding/elasticsearchmanaged/clo_managed_logstore_test.go
  test/e2e/logforwarding/splunk/forward_to_splunk_test.go
  test/framework/e2e/auth.go
  test/framework/e2e/framework.go
  test/framework/e2e/http_vector.go
  test/framework/e2e/wait.go
  test/helpers/types/types.go
  test/runtime/log_generator.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2412 LOG-5245 & LOG-5246 & LOG-5193: output compression validation
  internal/validations/clusterlogforwarder/outputs/tuning.go
  internal/validations/clusterlogforwarder/outputs/tuning_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
  test/functional/outputs/http/forward_to_http_test.go
  test/functional/outputs/kafka/forward_to_kafka_test.go
  test/functional/outputs/loki/application_logs_vector_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2413 fix loki functional test for compression
  test/functional/outputs/loki/application_logs_vector_test.go
Labels: approved, lgtm, release/5.9

#2414 LOG-5166: Wire validation into validations
  internal/validations/clusterlogforwarder/validations.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2410 LOG-5155: Enable journal log level tests for vector
  test/framework/functional/vector/deploy.go
  test/functional/normalization/loglevel/journal_logs_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2418 LOG-5277: Update maxOpenShiftVersion to 4.17
  bundle/metadata/properties.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2417 Update templates to fix truncated docs
  config/docs/templates/apis/asciidoc/members.tpl
Labels: approved, lgtm
