Repository openshift/cluster-logging-operator, pull requests merged in 2024-01, with the labels that each got.

#2288 LOG-4863: Refactor CLF input validations to separate package
  internal/validations/clusterlogforwarder/conditions/set_conditions.go
  internal/validations/clusterlogforwarder/inputs/suite_test.go
  internal/validations/clusterlogforwarder/inputs/validate.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2282 LOG-4861: Add inputSpec changes to support input filtering
  apis/logging/v1/cluster_log_forwarder_types.go
  apis/logging/v1/input_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/reference/operator/api.adoc
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/source/syslog_receiver.go
  test/framework/functional/cluster_log_forwarder_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2293 LOG-4823: Update vector to upstream tag v0.34.1
  test/framework/functional/vector/deploy.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2294 revert bundle CSV if only createdAt updated
  Makefile
  hack/revert-bundle.sh
Labels: approved, lgtm

#2217 Add Unmanaged docs
  docs/administration/configuration.md
  docs/administration/unmanaged.adoc
  hack/logsamples/viaq_audit_kubernetes.json
  hack/logsamples/viaq_audit_openshift.json
  hack/logsamples/viaq_container.json
  hack/logsamples/viaq_journal.json
Labels: approved, lgtm

#2295 LOG-4867: Impl input match label expressions
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/source/kubernetes_logs_test.go
  internal/generator/vector/source/label_selector.go
  internal/generator/vector/source/label_selector_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2285 LOG-4604: Add infrastructure annotations
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2292 LOG-4862: Add inputSpec validation
  apis/logging/v1/input_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  internal/migrations/clusterlogforwarder/migrate_inputs.go
  internal/migrations/clusterlogforwarder/migrate_inputs_test.go
  internal/validations/clusterlogforwarder/inputs/application.go
  internal/validations/clusterlogforwarder/inputs/validate.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2297 LOG-4912: Unability to configure nodeSelector and toleration for logging-view-plugin
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  docs/reference/operator/api.adoc
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/migrations/clusterlogging/migrate_visualization.go
  internal/migrations/clusterlogging/migrate_visualization_test.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/kibana/factory.go
  internal/visualization/kibana/factory_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2296 LOG-4604: Add infrastructure annotations
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2299 LOG-4939: [release-5.9]Unability to configure nodeSelector and toleration for logging-view-plugin
  apis/logging/v1/clusterlogging_types.go
  apis/logging/v1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  docs/reference/operator/api.adoc
  internal/k8shandler/visualization.go
  internal/k8shandler/visualization_test.go
  internal/migrations/clusterlogging/migrate_visualization.go
  internal/migrations/clusterlogging/migrate_visualization_test.go
  internal/visualization/console/plugin.go
  internal/visualization/console/reconciler.go
  internal/visualization/kibana/factory.go
  internal/visualization/kibana/factory_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2300 LOG-4929: do not allow to choose protocol for syslog receiver
  apis/logging/v1/input_receiver_types.go
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/input/viaq_test.go
  internal/generator/vector/source/syslog_receiver.go
  internal/validations/clusterlogforwarder/inputs/validate.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2298 Running gather scripts in background
  must-gather/collection-scripts/gather
Labels: approved, lgtm, ok-to-test, release/5.9

#2291 LOG-3651: [Vector] Add ability to change the Splunk's index within the ClusterLogForwarder
  apis/logging/v1/output_types.go
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  docs/features/logforwarding/outputs/splunk-forwarding.adoc
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/framework/functional/cluster_log_forwarder.go
  test/framework/functional/framework.go
  test/framework/functional/output_splunk.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
  test/functional/outputs/splunk/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2261 LOG-4822: Loki output without URL should fail validation
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2306 LOG-4898: Deploy LokiStack read roles when console is active
  controllers/clusterlogging/clusterlogging_controller.go
  internal/generator/fluentd/outputs.go
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/logstore/lokistack/finalizer.go
  internal/logstore/lokistack/logstore_lokistack.go
  internal/reconcile/rbac.go
  internal/visualization/console/reconciler.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2308 LOG-4963: fix outputs to allows specifying insecureSkipVerify without
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/security/security.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
Labels: approved, lgtm, release/5.8

#2307 LOG-4962: fix outputs with no secret adding bearer token
  internal/generator/vector/outputs.go
  internal/generator/vector/outputs_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2311 LOG-4987: Deploy LokiStack read roles when console is active
  controllers/clusterlogging/clusterlogging_controller.go
  internal/generator/fluentd/outputs.go
  internal/generator/vector/outputs.go
  internal/k8shandler/finalizer.go
  internal/k8shandler/logstore.go
  internal/k8shandler/reconciler.go
  internal/logstore/lokistack/finalizer.go
  internal/logstore/lokistack/logstore_lokistack.go
  internal/reconcile/rbac.go
  internal/visualization/console/reconciler.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2310 LOG-4844: Custom Tenant Spike
  docs/features/logforwarding/custom-tenants/custom-tenant-support.adoc
  docs/features/logforwarding/outputs/elasticsearch-forwarding.adoc
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2317 Remove raw secrets from must-gather and update dir structure
  must-gather/README.md
  must-gather/collection-scripts/common
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_cluster_logging_operator_resources
  must-gather/collection-scripts/gather_elasticsearch_operator_resources
Labels: approved, lgtm

#2323 LOG-4893: add validation for checking if provided not secure URL along with TLS configuration
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2324 LOG-5021: add validation if no secret for CloudWatch and Splunk outputs
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2322 LOG-5009: HTTP receiver service in endless reconcile when multiple CLFs spec an HTTP input with the same receiver name
  internal/collector/collector.go
  internal/collector/daemonset.go
  internal/factory/resource_names.go
  internal/generator/fluentd/conf.go
  internal/generator/fluentd/conf_test.go
  internal/generator/fluentd/fluent_conf_test.go
  internal/generator/forwarder/generator.go
  internal/generator/vector/conf.go
  internal/generator/vector/conf_test.go
  internal/generator/vector/sources.go
  internal/k8shandler/collection.go
  internal/k8shandler/forwarding.go
  internal/pkg/generator/forwarder/generator.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2331 LOG-5021: add validation if no secret for Cloudwatch and Splunk output
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2329 LOG-4893: add validation for checking if provided not secure URL along with TLS configuration
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9
