Repository openshift/cluster-logging-operator, pull requests merged in 2024-06, with the labels that each got.

#2528 LOG-5604: Add input validation
  api/logging/v1/clusterlogforwarder_types_test.go
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/conditions.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/api/observability/conditions.go
  internal/migrations/clusterlogforwarder/drop_unreferenced_outputs_test.go
  internal/validations/clusterlogforwarder/inputs/application.go
  internal/validations/clusterlogforwarder/inputs/validate.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
  internal/validations/clusterlogforwarder/outputs/azuremonitor_test.go
  internal/validations/clusterlogforwarder/outputs/splunk_test.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  internal/validations/clusterlogforwarder/validate_filters_test.go
  internal/validations/observability/inputs/application.go
  internal/validations/observability/inputs/application_test.go
  internal/validations/observability/inputs/audit.go
  internal/validations/observability/inputs/audit_test.go
  internal/validations/observability/inputs/infrastructure.go
  internal/validations/observability/inputs/infrastructure_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  internal/validations/observability/inputs/suite_test.go
  internal/validations/observability/validate.go
  test/matchers/condition.go
Labels: approved, lgtm, release/6.0

#2517 LOG-5465: Do not deploy logging ConsolePlugin if already managed by COO
  controllers/clusterlogging/clusterlogging_controller.go
  internal/consoleplugin/coo_compatibility.go
  internal/consoleplugin/coo_compatibility_test.go
  internal/consoleplugin/reconciler.go
Labels: approved, lgtm, jira/valid-reference

#2529 LOG-5605: Add input secret validation
  api/observability/v1/conditions.go
  cmd/main.go
  internal/api/context/context.go
  internal/api/observability/tls.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/controller/observability/load.go
  internal/generator/vector/helpers/secrets.go
  internal/validations/observability/common/constants.go
  internal/validations/observability/common/suite_test.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  internal/validations/observability/inputs/validate.go
  internal/validations/observability/validate.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2534 LOG-5606: Validate output secrets
  api/observability/v1/conditions.go
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/api/observability/output_types.go
  internal/validations/clusterlogforwarder/outputs/azuremonitor_test.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/outputs/suite_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_secrets_test.go
  internal/validations/observability/validate.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2530 LOG-5613: Refactor GCL API id fields to enum
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_test.go
Labels: approved, lgtm, release/6.0

#2539 LOG-5606: Validate Cloudwatch Secrets
  api/observability/v1/conditions.go
  api/observability/v1/output_types.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  internal/validations/observability/outputs/cloudwatch.go
  internal/validations/observability/outputs/cloudwatch_test.go
  internal/validations/observability/outputs/validate.go
Labels: approved, lgtm, release/6.0

#2533 LOG:5606: fix splunk auth to be required
  api/observability/v1/output_types.go
Labels: approved, lgtm, release/6.0

#2521 Fix RBAC for new API resources in controller
  Makefile
  PROJECT
  api/logging/v1/groupversion_info.go
  api/logging/v1alpha1/groupversion_info.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  config/rbac/cluster-logging-operator_clusterrole.yaml
  config/rbac/cluster-logging-operator_clusterrolebinding.yaml
  config/rbac/cluster-logging-operator_role.yaml
  config/rbac/cluster-logging-operator_rolebinding.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  hack/revert-bundle.sh
  internal/controller/kubebuilder_rbac.go
  internal/controller/observability/clusterlogforwarder_controller.go
  olm_deploy/operatorregistry/cluster-logging.package.yaml
Labels: approved, lgtm, release/6.0

#2541 LOG-5636: Refactor bearer token auth
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/output_types.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/migrations/observability/migrate_lokiStack_test.go
  internal/validations/observability/outputs/cloudwatch.go
  internal/validations/observability/outputs/cloudwatch_test.go
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, jira/valid-reference

#2484 LOG-5042: Refactor Collector Alerts/Metrics according to changes in 6.0 version
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/collector_alerts.yaml
  docs/administration/collector-metrics-and-alerts.adoc
  internal/metrics/dashboard/openshift-logging-dashboard.json
Labels: approved, lgtm, jira/valid-reference

#2523 Remove unused function
  version/cluster.go
Labels: approved, lgtm

#2535 LOG-5621: Add pipeline validations
  api/observability/v1/conditions.go
  internal/validations/observability/pipelines/prune_filter_test.go
  internal/validations/observability/pipelines/suite_test.go
  internal/validations/observability/pipelines/validate.go
  internal/validations/observability/pipelines/validate_test.go
  internal/validations/observability/validate.go
Labels: approved, lgtm, release/6.0

#2544 LOG-5644: fix CRD for Disk Usage Alert
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
Labels: approved, lgtm, jira/valid-reference

#2545 speed up unit tests
  internal/collector/trust_bundle.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/controller/observability/collector.go
  internal/controller/observability/collector_test.go
Labels: approved, lgtm, release/6.0

#2546 LOG-5645: fix trigger threshold: was (x*100 > 0.15) but must be (x*10 > 15)
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/collector_alerts.yaml
Labels: approved, lgtm, jira/valid-reference

#2549 LOG-5384: Drop support for fluentd collector, fix the Makefile
  Makefile
Labels: approved, lgtm, jira/valid-reference

#2542 LOG-5570: Enable Projected SA volume and CW env vars
  internal/api/observability/output_types.go
  internal/api/observability/tls.go
  internal/collector/cloudwatch.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/common/path.go
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/gcl/gcl.go
  test/framework/functional/framework.go
Labels: approved, lgtm, jira/valid-reference

#2554 LOG-5646: fix buffer usage calculation
  internal/metrics/dashboard/openshift-logging-dashboard.json
Labels: approved, lgtm, jira/valid-reference

#2547 LOG-5648: Refactor condition types
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/conditions.go
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/conditions.go
  internal/validations/observability/common/validate.go
  internal/validations/observability/common/validate_test.go
  internal/validations/observability/inputs/application.go
  internal/validations/observability/inputs/application_test.go
  internal/validations/observability/inputs/audit.go
  internal/validations/observability/inputs/audit_test.go
  internal/validations/observability/inputs/infrastructure.go
  internal/validations/observability/inputs/infrastructure_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  internal/validations/observability/outputs/cloudwatch.go
  internal/validations/observability/outputs/cloudwatch_test.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_secrets_test.go
  internal/validations/observability/pipelines/prune_filter_test.go
  internal/validations/observability/pipelines/validate.go
  internal/validations/observability/pipelines/validate_test.go
  test/matchers/condition.go
Labels: approved, lgtm, release/6.0

#2558 Include missing verbs in RBAC configuration
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/kubebuilder_rbac.go
  internal/controller/observability/clusterlogforwarder_controller.go
Labels: approved, lgtm

#2556 NO-JIRA: fix potential NPE during validation inputs
  internal/validations/observability/validate_permissions.go
  internal/validations/observability/validate_permissions_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2559 LOG-5524: use get(object, path) function to get the value of a given path
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
Labels: approved, lgtm, jira/valid-reference

#2561 LOG-5603: cleanup previously set 'deprecated' status if config was fixed
  internal/controller/clusterlogging/clusterlogging_controller.go
Labels: approved, lgtm, jira/valid-reference

#2562 LOG-5519: Refactor outputs to support templating
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/collector/collector_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cloudwatch_test.go
  internal/generator/vector/output/cloudwatch/cw_group_prefix_by_namespace_name.toml
  internal/generator/vector/output/cloudwatch/cw_group_prefix_by_namespace_uuid.toml
  internal/generator/vector/output/cloudwatch/cw_groupname_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_no_group_prefix_by_log_type.toml
  internal/generator/vector/output/cloudwatch/cw_with_groupname.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/output/common/secret_reader.go
  internal/generator/vector/output/common/secret_reader_script.sh
  test/framework/functional/output_cloudwatch.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2565 LOG-5373: update validation regex for ocpConsole.timeout according to the ocpPlugin requirements
  api/logging/v1/clusterlogging_types.go
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
Labels: approved, lgtm, jira/valid-reference

#2566 fix tidy go.mod go.sum
  go.mod
  go.sum
Labels: approved, lgtm, release/6.0

#2567 LOG-5707: Restrict dashboard controller to only watch logging dashboa…
  internal/metrics/dashboard/dashboards.go
Labels: approved, lgtm, release/6.0

#2570 fix audit volume names
  internal/collector/collector.go
  internal/collector/collector_test.go
Labels: approved, lgtm

#2571 LOG-5709: Enable AzureMonitor test
  Makefile
  test/framework/functional/framework.go
  test/framework/functional/vector/deploy.go
  test/functional/outputs/azuremonitor/forward_to_azuremonitor_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2572 LOG-5692: Enable deploy as deployment e2e test
  Makefile
  api/observability/v1/input_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  hack/testing-olm/test-030-collection.sh
  internal/api/context/context.go
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/daemonset.go
  internal/collector/deployment.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/generator/framework/options.go
  internal/generator/framework/tls.go
  internal/generator/framework/tls_test.go
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/conf.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/input/receiver.go
  internal/generator/vector/input/receiver_http_audit.toml
  internal/generator/vector/input/receiver_syslog.toml
  internal/generator/vector/input/receiver_syslog_tls_from_configmap.toml
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/factory.go
  internal/migrations/observability/migrate_inputs.go
  internal/migrations/observability/migrate_inputs_test.go
  internal/migrations/observability/migrate_lokiStack.go
  internal/migrations/observability/migrate_lokiStack_test.go
  internal/migrations/observability/migrations.go
  internal/utils/options.go
  internal/utils/options_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  internal/validations/observability/inputs/validate.go
  test/e2e/collection/deployment/collector_as_deployment_test.go
  test/framework/functional/framework.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2575 LOG-5664: refactor function prune filter test for observability API
  Makefile
  internal/api/observability/secrets.go
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_insecure_skipverify.toml
  internal/generator/vector/output/kafka/kafka_multi_brokers_with_tls_single_topic.toml
  internal/generator/vector/output/kafka/kafka_sasl_scram_with_tls.toml
  internal/generator/vector/output/kafka/kafka_sasl_with_tls_single_topic.toml
  test/functional/filters/prune/prune_filter_test.go
  test/runtime/observability/cluster_log_forwarder.go
  test/runtime/observability/cluster_log_forwarder_test.go
Labels: approved, lgtm, release/6.0

#2581 LOG-5712: Enable http output functional tests
  Makefile
  test/framework/functional/output_http.go
  test/functional/outputs/http/forward_to_http_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2583 LOG-5721: Refactor functional metrics tests
  Makefile
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/output/metrics/prometheus.go
  test/functional/metrics/metrics_test.go
  test/functional/metrics/suite_test.go
Labels: approved, lgtm, release/6.0

#2585 LOG-5723: Enable functional loglevel tests
  Makefile
  test/functional/normalization/loglevel/container_logs_test.go
  test/functional/normalization/loglevel/journal_logs_test.go
Labels: approved, lgtm, release/6.0

#2569 LOG-5708: Refactor lokiStack auth to only allow bearer token
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/output_types.go
  internal/collector/collector_test.go
  internal/migrations/observability/api/convert_test.go
  internal/migrations/observability/api/output_test.go
  internal/migrations/observability/api/outputs.go
  internal/migrations/observability/migrate_lokiStack.go
  internal/migrations/observability/migrate_lokiStack_test.go
Labels: approved, lgtm, release/6.0

#2586 LOG-5724: Refactor functional pipeline_test to use obs API
  Makefile
  test/functional/pipelines/pipelines_test.go
Labels: approved, lgtm, release/6.0

#2579 LOG-5711: Enable elasticsearch output functional tests
  Makefile
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/migrations/observability/migrate_inputs.go
  internal/migrations/observability/migrate_inputs_test.go
  internal/validations/observability/inputs/receivers.go
  internal/validations/observability/inputs/receivers_test.go
  test/functional/filters/prune/prune_filter_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_index_test.go
  test/functional/outputs/elasticsearch/forward_to_elasticsearch_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2588 LOG-5725: Refactor multilineexception functional test
  Makefile
  api/observability/v1/filter_types.go
  internal/generator/vector/filter/filter.go
  internal/generator/vector/filter/multilineexception/filter.go
  internal/generator/vector/filter/openshift/detect_multiline_errors.go
  test/functional/filters/multilineexception/multiline_exception_test.go
  test/functional/filters/multilineexception/suite_test.go
  test/functional/outputs/cloudwatch/forward_to_cloudwatch_test.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, release/6.0

#2573 LOG-5475 OTLP Initial commit of API changes only
  api/logging/v1/output_types.go
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/output_types.go
  internal/api/observability/tuning.go
  internal/constants/features.go
  internal/generator/vector/normalize/schema/otel/transform.go
  test/functional/normalization/schema/otel_test.go
  test/functional/normalization/schema/suite_test.go
  test/runtime/cluster_log_forwarder.go
Labels: approved, lgtm, release/6.0

#2587 LOG-5713: Enable Kafka output functional tests
  Makefile
  test/functional/outputs/kafka/forward_to_kafka_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2589 LOG-5714: Enable loki output functional tests
  Makefile
  test/functional/outputs/loki/application_logs_test.go
  test/functional/outputs/loki/application_logs_vector_test.go
  test/functional/outputs/loki/audit_logs_test.go
  test/functional/outputs/loki/audit_logs_vector_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0
