Repository openshift/cluster-logging-operator, pull requests merged in 2024-05, with the labels that each got.

#2442 [release-5.8]LOG-5307: enhancing logic for is URL secure validation
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2463 LOG-5381: fix bundle to include alert
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/collector_alerts.yaml
Labels: approved, lgtm, release/6.0

#2467 [release-5.9] LOG-5440: Address CVE-2023-45288
  go.mod
  go.sum
Labels: approved, lgtm, jira/valid-reference

#2466 Address CVE-2023-45288
  go.mod
  go.sum
Labels: approved, lgtm

#2471 NO-JIRA: Add @xperimental to approvers
  OWNERS
Labels: approved, lgtm, jira/valid-reference

#2461 LOG-5474: Fix CLO rotate_wait_ms to rotate_wait_secs
  config/overlays/stable/deployment_patch.yaml
  internal/cmd/functional-benchmarker/config/options.go
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_es_no_ver.toml
  internal/generator/vector/conf/complex_es_v6.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/input/application.toml
  internal/generator/vector/input/application_exclude_container_from_infra.toml
  internal/generator/vector/input/application_excludes_container.toml
  internal/generator/vector/input/application_includes_container.toml
  internal/generator/vector/input/application_with_excludes.toml
  internal/generator/vector/input/application_with_includes.toml
  internal/generator/vector/input/application_with_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_matchLabels.toml
  internal/generator/vector/input/application_with_specific_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_throttle.toml
  internal/generator/vector/input/infrastructure.toml
  internal/generator/vector/input/infrastructure_container.toml
  internal/generator/vector/source/kubernetes_logs.go
  internal/generator/vector/source/kubernetes_logs_no_includes_excludes.toml
  internal/generator/vector/source/kubernetes_logs_with_includes.toml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2460 [release-5.9] LOG-5156: Add rotated files to exclude_paths globs
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_es_no_ver.toml
  internal/generator/vector/conf/complex_es_v6.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/input/viaq.go
  internal/generator/vector/input/viaq_application.toml
  internal/generator/vector/input/viaq_application_exclude_container_from_infra.toml
  internal/generator/vector/input/viaq_application_excludes_container.toml
  internal/generator/vector/input/viaq_application_includes_container.toml
  internal/generator/vector/input/viaq_application_with_excludes.toml
  internal/generator/vector/input/viaq_application_with_includes.toml
  internal/generator/vector/input/viaq_application_with_includes_excludes.toml
  internal/generator/vector/input/viaq_application_with_infra_includes_excludes.toml
  internal/generator/vector/input/viaq_application_with_infra_includes_infra_excludes.toml
  internal/generator/vector/input/viaq_application_with_matchLabels.toml
  internal/generator/vector/input/viaq_application_with_specific_infra_includes_infra_excludes.toml
  internal/generator/vector/input/viaq_application_with_throttle.toml
  internal/generator/vector/input/viaq_infrastructure.toml
  internal/generator/vector/input/viaq_infrastructure_container.toml
Labels: approved, lgtm, jira/valid-reference

#2473 [release-5.8] NO-JIRA: Add @xperimental to approvers
  OWNERS
Labels: approved, lgtm, jira/valid-reference

#2474 [release-5.7] NO-JIRA: Add @xperimental to approvers
  OWNERS
Labels: approved, lgtm, jira/valid-reference

#2472 [release-5.9] NO-JIRA: Add @xperimental to approvers
  OWNERS
Labels: approved, lgtm, jira/valid-reference

#2468 [release-5.8] LOG-5222: Address CVE-2023-45288
  .bingo/kustomize.sum
  Makefile
  bundle.Dockerfile
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  go.mod
  go.sum
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2477 LOG-5515: Refactor azuremonitor output to obs
  internal/generator/vector/conf/conf_test.go
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/output/azuremonitor/azm_skip_tls.toml
  internal/generator/vector/output/azuremonitor/azm_tls.toml
  internal/generator/vector/output/azuremonitor/azuremonitor.go
  internal/generator/vector/output/azuremonitor/azuremonitor_test.go
  internal/generator/vector/output/azuremonitor/suite_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch_secret_test.go
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/common/security.go
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/factory.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/sasl.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/loki/loki_test.go
  internal/generator/vector/output/metrics/prometheus.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2469 [release-5.7] LOG-5221: Address CVE-2023-45288
  .bingo/kustomize.sum
  Dockerfile
  Makefile
  go.mod
  go.sum
  origin-meta.yaml
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2455 Correction to prevent appended field descriptions.
  config/docs/templates/datamodels/asciidoc/members.tpl
Labels: approved, lgtm

#2478 LOG-5515: Refactors AWS Cloudwatch output to observability API
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/collector/cloudwatch.go
  internal/collector/collector_test.go
  internal/generator/framework/generator.go
  internal/generator/vector/output/azuremonitor/azuremonitor_test.go
  internal/generator/vector/output/cloudwatch/auth.go
  internal/generator/vector/output/cloudwatch/cloudwatch.go
  internal/generator/vector/output/cloudwatch/cloudwatch_secret_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch_test.go
  internal/generator/vector/output/cloudwatch/cw_group_prefix_by_log_type.toml
  internal/generator/vector/output/cloudwatch/cw_group_prefix_by_namespace_name.toml
  internal/generator/vector/output/cloudwatch/cw_group_prefix_by_namespace_uuid.toml
  internal/generator/vector/output/cloudwatch/cw_group_prefix_with_aws_credentials.toml
  internal/generator/vector/output/cloudwatch/cw_no_group_prefix_by_log_type.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_and_default_mintls_ciphers.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec.toml
  internal/generator/vector/output/cloudwatch/cw_with_tls_spec_insecure_verify.toml
  internal/generator/vector/output/cloudwatch/cw_with_url.toml
  internal/generator/vector/output/cloudwatch/output_cloudwatch_test.go
  internal/generator/vector/output/cloudwatch/suite_test.go
  internal/generator/vector/output/common/security.go
  internal/generator/vector/output/common/tls/tls.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
  test/helpers/options.go
  test/matchers/generator_element.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2482 Fix build issue in midstream CLO
  go.mod
  go.sum
Labels: approved, lgtm, release/6.0

#2476 LOG-5514: remove collector daemonset only if 'Not authorized to collect' error occurs
  internal/validations/errors/errors.go
  internal/validations/errors/errors_test.go
Labels: approved, lgtm, jira/valid-reference

#2485 LOG-5515: Refactor output http auth templates
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/output/common/auth/auth.go
  internal/generator/vector/output/common/auth/basic.go
  internal/generator/vector/output/common/auth/bearer_token.go
Labels: approved, lgtm, release/6.0

#2486 LOG-5518: fix warning[E900]: unused result for function call
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_es_no_ver.toml
  internal/generator/vector/conf/complex_es_v6.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_otel.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/openshift/viaq/normalize.go
  internal/generator/vector/pipeline/adapter_test_drop_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
Labels: approved, lgtm, jira/valid-reference

#2481 LOG-5515: Refactor http output to use OBS api
  internal/generator/utils/utils.go
  internal/generator/vector/output/common/request.go
  internal/generator/vector/output/http/basic.go
  internal/generator/vector/output/http/bearer_token.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/http/http_with_auth_basic.toml
  internal/generator/vector/output/http/http_with_auth_token.toml
  internal/generator/vector/output/http/http_with_tls.toml
  internal/generator/vector/output/http/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2480 LOG-5515: Refactor GCL output to use OBS API
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/helpers/secrets.go
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/gcl/gcl_with_tls.toml
  internal/generator/vector/output/gcl/gcl_with_token.toml
  internal/generator/vector/output/gcl/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2487 LOG-5515: Refactor kafka to use OBS API
  internal/generator/vector/output/kafka/kafka.go
  internal/generator/vector/output/kafka/kafka_insecure_skipverify.toml
  internal/generator/vector/output/kafka/kafka_multi_brokers_with_tls_single_topic.toml
  internal/generator/vector/output/kafka/kafka_no_security.toml
  internal/generator/vector/output/kafka/kafka_sasl_plaintext_single_topic.toml
  internal/generator/vector/output/kafka/kafka_sasl_scram_with_tls.toml
  internal/generator/vector/output/kafka/kafka_sasl_with_tls_single_topic.toml
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/kafka/librdkafka_options.go
  internal/generator/vector/output/kafka/sasl.go
  internal/generator/vector/output/kafka/suite_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2479 LOG-5515: Refactor ES output to use obs API
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/output/elasticsearch/basic.go
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/elasticsearch/es_with_auth_username_password.toml
  internal/generator/vector/output/elasticsearch/es_with_tls.toml
  internal/generator/vector/output/elasticsearch/es_with_tls_skip_verify.toml
  internal/generator/vector/output/elasticsearch/es_without_security.toml
  internal/generator/vector/output/elasticsearch/suite_test.go
  internal/generator/vector/output/elasticsearch/userpass.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2488 LOG-5515: Refactor splunk to OBS API
  api/observability/v1/output_types.go
  internal/generator/vector/output/http/userpass.go
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_sink.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls_and_static_index.toml
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/splunk/suite_test.go
Labels: approved, lgtm, release/6.0

#2470 [release-5.6] LOG-5220: Address CVE-2023-45288
  .bingo/Variables.mk
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/variables.env
  Dockerfile
  apis/logging/v1/output_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  go.mod
  go.sum
  internal/collector/fluentd/run_script.go
  internal/factory/daemonset.go
  internal/factory/pod.go
  internal/factory/service.go
  internal/generator/fluentd/sources_to_pipelines_test.go
  internal/generator/generator.go
  internal/generator/logging.go
  internal/generator/vector/metrics.go
  internal/k8shandler/clusterloggingrequest.go
  internal/k8shandler/configmap.go
  internal/k8shandler/cronjob.go
  internal/k8shandler/daemonset.go
  internal/k8shandler/deployment.go
  internal/k8shandler/pod.go
  internal/k8shandler/route.go
  internal/k8shandler/secret.go
  internal/k8shandler/service.go
  internal/k8shandler/serviceaccount.go
  internal/runtime/pod.go
  internal/runtime/priorityclass.go
  internal/runtime/rbac.go
  internal/tls/tls.go
  internal/utils/comparators/configmaps/comparator.go
  internal/utils/comparators/daemonsets/comparator.go
  internal/utils/comparators/servicemonitor/comparator.go
  internal/utils/comparators/services/comparator.go
  internal/utils/quantity.go
  internal/utils/utils.go
  internal/visualization/kibana/factory.go
  origin-meta.yaml
  test/client/doc.go
  test/client/test.go
  test/framework/e2e/elasticsearch.go
  test/framework/e2e/framework.go
  test/framework/functional/framework.go
  test/functional/normalization/crio_partial_log_test.go
  test/helpers.go
  test/helpers/types/optional_int.go
  test/matchers/errors.go
  test/runtime/log_generator.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2443 LOG-5426: Fix stale metrics in telemetry
  cmd/main.go
  internal/controller/clusterlogging/clusterlogging_controller.go
  internal/controller/forwarding/forwarding_controller.go
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/metrics/telemetry/cluster_log_forwarder.go
  internal/metrics/telemetry/cluster_log_forwarder_test.go
  internal/metrics/telemetry/cluster_logging.go
  internal/metrics/telemetry/collector.go
  internal/metrics/telemetry/collector_test.go
  internal/metrics/telemetry/servicemonitor_test.go
  internal/metrics/telemetry/telemetry.go
  internal/metrics/telemetry/telemetry_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2492 LOG-5529: Fix stale metrics in telemetry
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/telemetry/cluster_log_forwarder.go
  internal/metrics/telemetry/cluster_log_forwarder_test.go
  internal/metrics/telemetry/collector.go
  internal/metrics/telemetry/collector_test.go
  internal/metrics/telemetry/servicemonitor_test.go
  internal/metrics/telemetry/telemetry.go
  internal/metrics/telemetry/telemetry_test.go
  internal/telemetry/cloteleminfo.go
  internal/telemetry/cloteleminfo_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference

#2459 LOG-5472: Fix stale metrics in telemetry
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/metrics/telemetry/cluster_log_forwarder.go
  internal/metrics/telemetry/cluster_log_forwarder_test.go
  internal/metrics/telemetry/collector.go
  internal/metrics/telemetry/collector_test.go
  internal/metrics/telemetry/servicemonitor_test.go
  internal/metrics/telemetry/telemetry.go
  internal/metrics/telemetry/telemetry_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference

#2489 LOG-5515: Refactor syslog to use OBS API
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/output/syslog/suite_test.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/generator/vector/output/syslog/tcp_with_defaults.toml
  internal/generator/vector/output/syslog/tls_with_field_references.toml
  internal/generator/vector/output/syslog/udp_with_every_setting.toml
  internal/generator/vector/output/syslog/xyz_defaults.toml
Labels: approved, lgtm, release/6.0

#2458 LOG-5471: Fix stale metrics in telemetry
  controllers/clusterlogging/clusterlogging_controller.go
  controllers/forwarding/forwarding_controller.go
  controllers/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/metrics/telemetry/cluster_log_forwarder.go
  internal/metrics/telemetry/cluster_log_forwarder_test.go
  internal/metrics/telemetry/cluster_logging.go
  internal/metrics/telemetry/collector.go
  internal/metrics/telemetry/collector_test.go
  internal/metrics/telemetry/servicemonitor_test.go
  internal/metrics/telemetry/telemetry.go
  internal/metrics/telemetry/telemetry_test.go
  main.go
Labels: approved, lgtm, jira/valid-reference

#2497 Fix deploy Make target
  Makefile
Labels: approved, lgtm

#2490 [release-5.9]LOG-5429: add namespace label to ElasticsearchDeprecation, FluentdDeprecation, KibanaDeprecation alerts
  config/prometheus/collector_alerts.yaml
Labels: approved, lgtm, jira/valid-reference

#2498 [release-5.9] LOG-5108: Add must-gather annotation to csv
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference

#2496 LOG-5515: Refactor output factory to use obs API
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/api/observability/input_types.go
  internal/api/observability/tuning.go
  internal/generator/framework/tls.go
  internal/generator/framework/tls_test.go
  internal/generator/vector/conf/conf.go
  internal/generator/vector/helpers/tls_options.go
  internal/generator/vector/output/adapter.go
  internal/generator/vector/output/config_strategy.go
  internal/generator/vector/output/config_strategy_test.go
  internal/generator/vector/output/factory.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/http/http_test.go
  internal/migrations/observability/migrate_lokiStack.go
Labels: approved, lgtm, release/6.0

#2495 LOG-5515: Removed unused TLS templates
  internal/generator/vector/output/common/security.go
  internal/generator/vector/output/kafka/userpass.go
  internal/generator/vector/output/loki/userpass.go
Labels: approved, lgtm, release/6.0

#2505 LOG-5558: Add support for tls from configmap
  internal/generator/vector/helpers/helpers.go
  internal/generator/vector/input/receiver_syslog_tls_from_configmap.toml
  internal/generator/vector/input/source_test.go
  internal/generator/vector/output/common/tls/tls.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/http/http_with_tls_using_configmaps.toml
Labels: approved, lgtm, release/6.0

#2506 Revert "[release-5.9] LOG-5108: Add must-gather annotation to csv"
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference

#2504 LOG-5367: Enable generator unit tests
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_drop_filter.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/complex_prune_filter.toml
  internal/generator/vector/conf/conf.go
  internal/generator/vector/conf/conf_test.go
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/drop/filter_test.go
  internal/generator/vector/filter/drop/suite_test.go
  internal/generator/vector/filter/prune/filter_test.go
  internal/generator/vector/filter/prune/prune.vrl.tmpl
  internal/generator/vector/input/receiver.go
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2508 LOG-5429: Update bundle after change to Prometheus rules
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2503 LOG-5532: fix error handling: make checking case-insensitive
  internal/validations/errors/errors.go
Labels: approved, lgtm, jira/valid-reference

#2511 LOG-5463: Do not deploy logging ConsolePlugin if already managed by COO
  controllers/clusterlogging/clusterlogging_controller.go
  internal/visualization/console/coo_compatibility.go
  internal/visualization/console/coo_compatibility_test.go
  internal/visualization/console/reconciler.go
Labels: approved, lgtm, jira/valid-reference

#2507 LOG-5367: Refactor output tls to use common
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  internal/generator/vector/conf/conf_test.go
  internal/generator/vector/input/receiver.go
  internal/generator/vector/output/azuremonitor/azuremonitor_test.go
  internal/generator/vector/output/cloudwatch/cloudwatch_test.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/gcl/gcl_test.go
  internal/generator/vector/output/http/http_test.go
  internal/generator/vector/output/kafka/kafka_test.go
  internal/generator/vector/output/loki/loki_conf_test.go
  internal/generator/vector/output/splunk/splunk_test.go
  internal/generator/vector/output/syslog/syslog_test.go
Labels: approved, lgtm, release/6.0

#2513 LOG-5568: Remove pod security labels from resource init
  internal/auth/rbac_test.go
  internal/factory/daemonset_test.go
  internal/factory/deployment_test.go
  internal/runtime/runtime.go
  internal/runtime/runtime_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2514 LOG-5569: Add managementState to obs API
  api/observability/v1/clusterlogforwarder_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2519 LOG-5131: Remove old telemetry implementation from development branch
  cmd/main.go
  internal/controller/forwarding/forwarding_controller.go
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/k8shandler/reconciler.go
  internal/metrics/logfilemetricexporter/metric_exporter.go
  internal/metrics/telemetry/cloteleminfo.go
  internal/metrics/telemetry/cloteleminfo_test.go
  internal/metrics/telemetry/cluster_log_forwarder.go
  internal/metrics/telemetry/cluster_logging.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2520 Add dummy make targets to enable functional/e2e testing in CI
  Makefile
Labels: approved, lgtm

#2522 NO-JIRA:Fix NPE is output type spec not declared
  internal/api/observability/tuning.go
Labels: approved, lgtm, jira/valid-reference

#2524 NO-JIRA:Fix NPE if inputs spec not declared
  internal/generator/vector/input/source.go
  internal/generator/vector/input/source_test.go
Labels: approved, lgtm, jira/valid-reference

#2512 LOG-5464: Do not deploy logging ConsolePlugin if already managed by COO
  controllers/clusterlogging/clusterlogging_controller.go
  internal/visualization/console/coo_compatibility.go
  internal/visualization/console/coo_compatibility_test.go
  internal/visualization/console/reconciler.go
Labels: approved, lgtm, release/5.7, jira/valid-reference

#2518 LOG-5572: Update obs conditions to meet enhancement
  api/observability/v1/clusterlogforwarder_types.go
  api/observability/v1/conditions.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
Labels: approved, lgtm, release/6.0

#2502 [release-5.9] LOG-5586: add alerts metric and dashboard panels
  config/prometheus/collector_alerts.yaml
  docs/administration/buffer-alert.png
  docs/administration/buffer-metric-1.png
  docs/administration/buffer-metric-2.png
  docs/administration/collector-metrics-and-alerts.adoc
  internal/metrics/dashboard/openshift-logging-dashboard.json
  internal/metrics/service_monitor.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2526 LOG-5601: Stub migration and validation into controller
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/controller/observability/load.go
  internal/k8s/observability/load.go
  internal/validations/observability/validate.go
Labels: approved, lgtm, jira/valid-reference
