Repository openshift/cluster-logging-operator, pull requests merged in 2024-10, with the labels that each got.

#2811 LOG-6140: Update manifest for 6.1
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  config/overlays/stable/deployment_patch.yaml
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  olm_deploy/scripts/env.sh
  version/version.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/6.1

#2796 cleanup CI UI. write logs to artifact dir
  test/framework/common/log/buffered_log_writer.go
  test/framework/functional/framework.go
Labels: approved, lgtm, release/6.1

#2794 LOG-6044: validation failure when adding a namespace which contains 'kube'
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2802 [release-5.8]LOG-4671:respect settings containerLimit.maxRecordsPerSecond to 0
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex_threshold.toml
  internal/generator/vector/inputs.go
  internal/generator/vector/pipelines.go
Labels: approved, lgtm, jira/valid-reference

#2816 Revert "[release-5.8]LOG-4671:respect settings containerLimit.maxRecordsPerSecond to 0"
  internal/generator/vector/conf_test.go
  internal/generator/vector/conf_test/complex_threshold.toml
  internal/generator/vector/inputs.go
  internal/generator/vector/pipelines.go
Labels: approved, lgtm, jira/valid-reference

#2814 LOG-6206: trim newline symbol for username/password
  internal/generator/vector/output/elasticsearch/elasticsearch.go
  internal/generator/vector/output/elasticsearch/elasticsearch_test.go
  internal/generator/vector/output/http/http.go
  internal/generator/vector/output/loki/loki.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2813 LOG-6202: disallowed log_source field for prune filter
  internal/validations/observability/filters/validate_filters.go
  internal/validations/observability/filters/validate_filters_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2818 LOG-6214: add validation for threshold must be more than zero
  internal/validations/clusterlogforwarder/inputs/application.go
  internal/validations/clusterlogforwarder/inputs/validate_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2815 LOG-6085: Enable CLF spec'd to write to LokiStack using OTEL semantics
  api/observability/v1/conditions.go
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  docs/features/logforwarding/outputs/redhat-managed-lokistack.adoc
  internal/api/initialize/init_lokiStack.go
  internal/api/initialize/init_lokiStack_test.go
  internal/api/initialize/process_pipelines.go
  internal/api/observability/forwarder.go
  internal/api/observability/forwarder_test.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/controller/observability/collector.go
  internal/generator/vector/output/factory_test.go
  internal/generator/vector/output/otlp/otlp.go
  internal/generator/vector/output/otlp/otlp_all.toml
  internal/generator/vector/output/otlp/otlp_test.go
  internal/generator/vector/output/otlp/otlp_tuning.toml
  internal/generator/vector/output/otlp/otlp_with_auth_basic.toml
  internal/generator/vector/output/otlp/otlp_with_auth_sa_token.toml
  internal/generator/vector/output/otlp/otlp_with_auth_token.toml
  internal/generator/vector/output/otlp/transform.go
  internal/validations/observability/outputs/lokistack.go
  internal/validations/observability/outputs/lokistack_test.go
  internal/validations/observability/validate.go
  test/functional/outputs/otlp/forward_to_otlp_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2820 LOG-6221: 'delivery: AtLeastOnce' cannot be set for 'syslog'
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/tuning.go
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/generator/vector/output/syslog/tcp_with_tuning.toml
  test/functional/outputs/syslog/forward_to_syslog_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2817 LOG-4671: add validation for threshold must be more than zero
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec_test.go
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2736 LOG-6207: enable stream (stdout/stderr) information in logs for Vector
  internal/constants/constants.go
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/multilineexception/filter.go
  internal/generator/vector/filter/openshift/viaq/filter.go
  internal/generator/vector/filter/openshift/viaq/normalize.go
  internal/generator/vector/output/otlp/otlp_all.toml
  internal/generator/vector/output/otlp/otlp_tuning.toml
  internal/generator/vector/output/otlp/otlp_with_auth_basic.toml
  internal/generator/vector/output/otlp/otlp_with_auth_sa_token.toml
  internal/generator/vector/output/otlp/otlp_with_auth_token.toml
  internal/generator/vector/output/otlp/transform.go
  internal/generator/vector/pipeline/adapter_test_drop_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inNotIn_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_inOnly_filter.toml
  internal/generator/vector/pipeline/adapter_test_prune_notIn_only_filter.toml
  test/framework/functional/factory.go
  test/framework/functional/message_templates.go
  test/functional/filters/multilineexception/multiline_exception_test.go
  test/functional/normalization/message_format_test.go
  test/helpers/types/types.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2822 LOG-6230: Manual port of LOG-6221 to master
  api/observability/v1/output_types.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  internal/api/observability/tuning.go
  internal/generator/vector/output/syslog/syslog_test.go
  internal/generator/vector/output/syslog/tcp_with_tuning.toml
  test/functional/outputs/syslog/forward_to_syslog_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2824 LOG-1814: Avoid use deprecated methods in Cluster Logging Operator
  internal/cmd/forwarder-generator/main.go
  internal/controller/observability/collector_test.go
  internal/hostedcontrolplane/hostedcontrolplane_test.go
  internal/metrics/dashboard/dashboards_test.go
  internal/metrics/logfilemetricexporter/daemonset_test.go
  internal/metrics/logfilemetricexporter/factory_test.go
  internal/metrics/logfilemetricexporter/metric_exporter_test.go
  internal/metrics/service_monitor_test.go
  internal/network/service_test.go
  internal/reconcile/scc_test.go
  internal/validations/observability/outputs/otlp_test.go
  internal/validations/observability/validate_permissions_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2812 Remove targets for building custom bundles
  Makefile
  config/overlays/README.md
  config/overlays/stable/deployment_patch.yaml
  config/overlays/stable/kustomization.yaml
  docs/contributing/how-to-create-a-custom-bundle.md
Labels: approved, lgtm

#2826 [release-6.0] NO-JIRA: Update golang builder and dev tools for 1.22
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/controller-gen.mod
  .bingo/controller-gen.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/kustomize.mod
  .bingo/kustomize.sum
  .bingo/operator-sdk.mod
  .bingo/operator-sdk.sum
  .bingo/variables.env
  Dockerfile
  api/logging/v1alpha1/zz_generated.deepcopy.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_logfilemetricexporters.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  go.mod
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/read.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2821 LOG-6205: Refactor OTLP attributes to match observability data model
  internal/generator/vector/output/otlp/group_by.go
  internal/generator/vector/output/otlp/otlp_all.toml
  internal/generator/vector/output/otlp/otlp_tuning.toml
  internal/generator/vector/output/otlp/otlp_with_auth_basic.toml
  internal/generator/vector/output/otlp/otlp_with_auth_sa_token.toml
  internal/generator/vector/output/otlp/otlp_with_auth_token.toml
  internal/generator/vector/output/otlp/transform.go
  test/framework/functional/factory.go
  test/functional/outputs/otlp/audit_test.go
  test/functional/outputs/otlp/container_test.go
  test/functional/outputs/otlp/forward_to_otlp_test.go
  test/functional/outputs/otlp/journal_test.go
  test/helpers/otlp/attributes.go
  test/helpers/types/otlp/attributes.go
  test/helpers/types/otlp/types.go
  test/matchers/log_format.go
  test/runtime/observability/cluster_log_forwarder.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2825 NO-JIRA: Update golang builder and dev tools for 1.22
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/controller-gen.mod
  .bingo/controller-gen.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/kustomize.mod
  .bingo/kustomize.sum
  .bingo/operator-sdk.mod
  .bingo/operator-sdk.sum
  .bingo/variables.env
  Dockerfile
  api/logging/v1alpha1/zz_generated.deepcopy.go
  api/observability/v1/zz_generated.deepcopy.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_logfilemetricexporters.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  go.mod
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/read.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference, release/6.1

#2828 LOG-5587: fix provider so operator is evaluated as official
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, midstream/Dockerfile, release/6.0

#2833 LOG-6266: fix provider so operator is evaluated as official
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2832 LOG-5587: fix provider so operator is evaluated as official
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, release/6.1

#2835 LOG-6044: validation failure when adding a namespace which contains `kube` or `openshift`
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarder_service_account_test.go
Labels: approved, lgtm, jira/valid-reference

#2836 LOG-6204: Manual port of LOG-6044 to release-6.0
  internal/validations/observability/validate_permissions.go
  internal/validations/observability/validate_permissions_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2831 LOG-6264: Watch and reconcile owned resources
  internal/controller/observability/clusterlogforwarder_controller.go
Labels: approved, lgtm, release/6.0

#2827 LOG-6149: fix the CSV description regarding EO dependency
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.8

#2838 LOG-6264: Watch and reconcile owned resources
  internal/controller/observability/clusterlogforwarder_controller.go
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2840 [release-6.0] Upstream docs updates based on feedback
  docs/administration/README.adoc
  docs/administration/lokistack.adoc
  docs/administration/unmanaged.adoc
  docs/administration/upgrade/v6.0_changes.adoc
  docs/features/logforwarding/outputs/azure-monitor-log-forwarding.adoc
  docs/features/logforwarding/outputs/elasticsearch-forwarding.adoc
  docs/features/logforwarding/outputs/google-cloud-forwarding.adoc
  docs/features/logforwarding/outputs/lokistack-forwarding.adoc
  docs/features/logforwarding/outputs/otlp-forwarding.adoc
  docs/features/logforwarding/outputs/send-logs-to-fluentd-http.adoc
  docs/features/logforwarding/outputs/splunk-forwarding.adoc
  docs/reference/samples/observability-clf-samples.adoc
  docs/reference/samples/observability.inputs-receivers.yaml
  docs/reference/samples/observability.output-splunk.yaml
Labels: approved, lgtm

#2842 [release-5.9] NO-JIRA: Update golang builder and dev tools for 1.22
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/controller-gen.mod
  .bingo/controller-gen.sum
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/kustomize.mod
  .bingo/kustomize.sum
  .bingo/operator-sdk.mod
  .bingo/operator-sdk.sum
  .bingo/variables.env
  Dockerfile
  api/logging/v1/zz_generated.deepcopy.go
  api/logging/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterlogforwarders.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  bundle/manifests/logging.openshift.io_logfilemetricexporters.yaml
  config/crd/bases/logging.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_logfilemetricexporters.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
  internal/generator/fluentd/pipeline_to_output.go
  internal/k8shandler/clusterloggingrequest.go
  internal/validations/clusterlogforwarder/validate_clusterlogforwarderspec.go
  internal/validations/clusterlogforwarder/validate_json_parsing_to_elasticsearch.go
  test/framework/functional/elasticsearch.go
  test/framework/functional/read.go
  test/functional/filters/apiaudit/vrl/compatibility_test.go
  test/functional/filters/apiaudit/vrl/exporter_test.go
  test/functional/filters/apiaudit/vrl/filter_test.go
  test/functional/filters/apiaudit/vrl/suite_test.go
  test/functional/flowcontrol/application_test.go
  test/functional/flowcontrol/loki_test.go
  test/functional/flowcontrol/suit_test.go
  test/functional/inputs/http/http_input_test.go
  test/functional/misc/vector_api_cli_test.go
  test/functional/normalization/schema/otel_test.go
  test/functional/outputs/azuremonitor/forward_to_azuremonitor_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2823 LOG-5131: Add recording rules for telemetry collection
  bundle/manifests/cluster-logging-operator-telemetry_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/telemetry_rules.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.1

#2847 Doc update for lokistack spec example
  docs/administration/lokistack.adoc
Labels: approved, lgtm

#2846 LOG-5131: Add recording rules for telemetry collection
  bundle/manifests/cluster-logging-operator-telemetry_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/telemetry_rules.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2850 LOG-6201: avoid empty Reason and Message fields in Ready Condition
  api/logging/v1alpha1/log_file_metrics_exporter_types.go
  internal/controller/logfilemetricsexporter/logfilemetricsexporter_controller.go
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2854 LOG-6296: GCP expects certain severity value strings
  internal/generator/vector/output/gcl/gcl.go
  internal/generator/vector/output/gcl/gcl_with_custom_logid.toml
  internal/generator/vector/output/gcl/gcl_with_tls.toml
  internal/generator/vector/output/gcl/gcl_with_token.toml
  internal/generator/vector/output/gcl/gcl_with_tuning.toml
Labels: approved, lgtm, jira/valid-reference
