Repository openshift/cluster-logging-operator, pull requests merged in 2025-03, with the labels that each got.

#2970 Updated small typo in word target
  docs/contributing/README.adoc
Labels: approved, lgtm

#2977 LOG-6759: Collectors in crashloopbackoff when defined an output that not used in the pipeline
  internal/api/observability/pipelines.go
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.0

#2981 LOG-6850: syslog input missing from 'obsclf.spec.inputs.receiver'
  api/observability/v1/input_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.3

#2982 LOG-6816: fix operator permissions to update SCC
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/rbac/role.yaml
Labels: approved, lgtm, release/6.1

#2983 LOG-6829: Updates for version to be 6.3.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  olm_deploy/operatorregistry/cluster-logging.package.yaml
  version/version.go
Labels: approved, lgtm, midstream/Dockerfile, jira/valid-reference

#2987 LOG-6869: Improve description for rfc and enrichment in syslog
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.2

#2988 LOG-6855: Not listed the types for different fields in the clusterLogging
  api/logging/v1/clusterlogging_types.go
  bundle/manifests/clusterlogging.clusterserviceversion.yaml
  bundle/manifests/logging.openshift.io_clusterloggings.yaml
  config/crd/bases/logging.openshift.io_clusterloggings.yaml
  config/manifests/bases/clusterlogging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/5.9

#2991 [master] LOG-6869: Manual port of LOG-6869 to master
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.3

#2993 LOG-6884: Manual port of LOG-6753 to master
  api/observability/v1/filter_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference

#2976 LOG-6539: use json Patch() instead of Update() in updateStatus func
  internal/controller/observability/clusterlogforwarder_controller.go
Labels: approved, lgtm, jira/valid-reference, release/6.3

#2994 OBSDA-760: Gathering OpenShift alerts in Logging must-gather
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_monitoring
  must-gather/collection-scripts/monitoring_common.sh
Labels: approved, lgtm, jira/valid-reference

#2997 LOG-6896: clusterlogforwarder.spec.outputs.syslog.url does not support 'udps'
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  docs/administration/output_url_field.md
  docs/features/logforwarding/outputs/syslog-forwarding.adoc
  docs/reference/operator/api_observability_v1.adoc
  internal/generator/url/url.go
  internal/url/url.go
  internal/validations/observability/outputs/validate_url_to_output_tls.go
  test/e2e/collection/apivalidations/api_validations_test.go
  test/e2e/collection/apivalidations/syslog_valid_url_udps.yaml
  test/framework/functional/output_elasticsearch.go
  test/framework/functional/read.go
  test/framework/functional/write.go
Labels: approved, lgtm, jira/valid-reference, release/6.2

#2990 LOG-4445: Forwarder must use hosted cluster_id on HCP cluster
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/generator/vector/filter/openshift/viaq/filter.go
  internal/hostedcontrolplane/hostedcontrolplane.go
  internal/hostedcontrolplane/hostedcontrolplane_test.go
  version/cluster.go
Labels: approved, lgtm, qe-approved, jira/valid-reference, release/6.2

#3000 LOG-6723: Update golang to v1.23
  Dockerfile
  olm_deploy/operatorregistry/Dockerfile
Labels: approved, lgtm, midstream/Dockerfile, release/6.3

#2989 [release-6.2]LOG-6878: fix validation rule for Loki Tuning to allow it to be empty without failing validation
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  test/e2e/collection/apivalidations/api_validations_test.go
  test/e2e/collection/apivalidations/lokistack-empty-tuning.yaml
  test/e2e/collection/apivalidations/lokistack-snappy-compression-otel.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.2

#3002 [release-6.2]LOG-6952: use json Patch() instead of Update() in updateStatus func
  internal/controller/observability/clusterlogforwarder_controller.go
Labels: approved, lgtm, jira/valid-reference, release/6.2

#3001 LOG-6881: Manual port of LOG-4445
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/api/observability/input_types.go
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/hostedcontrolplane/hostedcontrolplane.go
  internal/hostedcontrolplane/hostedcontrolplane_test.go
  version/cluster.go
Labels: approved, lgtm, jira/valid-reference, release/6.3
