Repository openshift/cluster-logging-operator, pull requests merged in 2025-09, with the labels that each got.

#3101 LOG-7572: NetworkPolicy for ClusterLogForwarder
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/rbac/role.yaml
  docs/features/collection.adoc
  docs/features/network_policy.adoc
  docs/reference/operator/api_observability_v1.adoc
  internal/controller/observability/clusterlogforwarder_controller.go
  internal/controller/observability/collector.go
  internal/factory/network_policy.go
  internal/factory/network_policy_test.go
  internal/network/network_policy.go
  internal/network/network_policy_test.go
  internal/reconcile/networkpolicy.go
  internal/runtime/core.go
Labels: approved, lgtm, jira/valid-reference, release/6.4

#3113 LOG-7386: align API doc with validation rule
  api/observability/v1/output_types.go
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
  docs/reference/operator/api_observability_v1.adoc
Labels: approved, lgtm, jira/valid-reference

#3123 [release-6.3] Manual port of LOG-7620
  internal/generator/vector/conf/complex.toml
  internal/generator/vector/conf/complex_http_receiver.toml
  internal/generator/vector/conf/container.toml
  internal/generator/vector/filter/openshift/viaq/v1/filter.go
  internal/generator/vector/filter/openshift/viaq/v1/normalize.go
  internal/generator/vector/input/application.toml
  internal/generator/vector/input/application_exclude_container_from_infra.toml
  internal/generator/vector/input/application_excludes_container.toml
  internal/generator/vector/input/application_includes_container.toml
  internal/generator/vector/input/application_with_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_excludes.toml
  internal/generator/vector/input/application_with_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_matchLabels.toml
  internal/generator/vector/input/application_with_specific_infra_includes_infra_excludes.toml
  internal/generator/vector/input/application_with_throttle.toml
  internal/generator/vector/input/audit.toml
  internal/generator/vector/input/audit_host.toml
  internal/generator/vector/input/audit_kube.toml
  internal/generator/vector/input/audit_openshift.toml
  internal/generator/vector/input/audit_ovn.toml
  internal/generator/vector/input/infrastructure.toml
  internal/generator/vector/input/infrastructure_container.toml
  internal/generator/vector/input/infrastructure_journal.toml
  internal/generator/vector/input/internal.go
  internal/generator/vector/input/receiver_http_audit.toml
  test/functional/filters/prune/prune_filter_test.go
  test/functional/outputs/splunk/forward_to_splunk_metadata_test.go
  test/functional/outputs/splunk/forward_to_splunk_test.go
  test/helpers/splunk/splunk.go
Labels: approved, lgtm, release/6.3
