Repository openshift/cluster-logging-operator, pull requests merged in 2025-06, with the labels that each got.

#3050 LOG-6760: Provide correct URL in install page
  bundle/manifests/cluster-logging.clusterserviceversion.yaml
  config/manifests/bases/cluster-logging.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference

#3042 LOG-7131: update documentation Tuning Delivery mode default settings
  api/observability/v1/output_types.go
  bundle/manifests/observability.openshift.io_clusterlogforwarders.yaml
  config/crd/bases/observability.openshift.io_clusterlogforwarders.yaml
  docs/features/collection.adoc
Labels: approved, lgtm, jira/valid-reference

#3043 LOG-7023: Add Prometheus alerting rule for collector 403 responses
  bundle/manifests/collector_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/collector_alerts.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.3

#3058 LOG-7266: Update maximum OpenShift version to match supported range
  bundle/metadata/properties.yaml
Labels: approved, lgtm, jira/valid-reference, release/6.3

#3061 LOG-7279: Otel dataModel is enabled without the tech-preview annotation on CLF
  internal/validations/observability/outputs/validate.go
  internal/validations/observability/outputs/validate_tech_preview.go
  internal/validations/observability/outputs/validate_tech_preview_test.go
Labels: approved, lgtm, jira/valid-reference

#3059 LOG-7267: add fallback option if syslog appname calculation fail
  internal/generator/vector/output/syslog/rfc3164_with_defaults.toml
  internal/generator/vector/output/syslog/syslog.go
  internal/generator/vector/output/syslog/tcp_with_defaults.toml
  internal/generator/vector/output/syslog/tcp_with_tuning.toml
  internal/generator/vector/output/syslog/xyz_defaults.toml
  test/functional/outputs/syslog/forward_to_syslog_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.2

#3056 LOG-7253: fix host field when payloadKey is specified
  internal/generator/vector/output/splunk/splunk.go
  internal/generator/vector/output/splunk/splunk_sink.toml
  internal/generator/vector/output/splunk/splunk_sink_payloadkey.toml
  internal/generator/vector/output/splunk/splunk_sink_with_custom_index.toml
  internal/generator/vector/output/splunk/splunk_sink_with_custom_index_dedot.toml
  internal/generator/vector/output/splunk/splunk_sink_with_indexed_fields.toml
  internal/generator/vector/output/splunk/splunk_sink_with_indexed_fields_and_source.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls.toml
  internal/generator/vector/output/splunk/splunk_sink_with_tls_and_static_index.toml
  internal/generator/vector/output/splunk/splunk_tune.toml
  test/functional/outputs/splunk/forward_to_splunk_metadata_test.go
Labels: approved, lgtm, jira/valid-reference, release/6.3

#3064 LOG-7299: Fix type of maximum OpenShift version
  bundle/metadata/properties.yaml
Labels: approved, lgtm, jira/valid-reference
